<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="ko"
        class="show-recent scroll-top scroll-apex"
        translate="no"
        style="--scrollbar-width: 16px"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover"
    />


    <title>더쉐프 펀딩</title>

    <link
            rel="shortcut icon"
            href="/images/favicon.ico" />


    <link
            rel="stylesheet"
            href="/import/css/main.42cef079.css"
    />


    <link rel="mask-icon" href="/resources/static/svg/wa.svg" color="#1d2129"/>



    <link
            rel="stylesheet"
            href="/import/css/wui.css"
    />
    <link
            rel="stylesheet"
            href="/import/css/common.css"
    />


    <link
            rel="stylesheet"
            href="/import/css/layout.css"
    />


    <link
            rel="stylesheet"
            href="/import/css/main.ab4e33bf.css"
    />
    <link rel="stylesheet" href="/css/funding/funding.css">

    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/main-page~preorder-main~reward-main~store~wishes.e6385302.chunk.css"
    />


    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/main-page.19ca2771.chunk.css"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/reward-main.44308e85.chunk.css"
    />



</head>
<body style="overflow: auto">
<style>
    .ab-iam-root.v3 {
        z-index: 9999;
    }
    .PreorderMainCard_item__2FrO0{
        display: block;
    }
    .PreorderMainCard_item__2FrO0 .PreorderMainCard_contentContainer__1OmhF .PreorderMainCard_title__XlTJk{
        min-height: 0px;
    }
    .fundingMakeBtn{
        margin-top: 0px;
    }
</style>
<div id="page-container">
    <main id="main-app">
        <div th:replace="fragment/header__3X3Cg.html :: header"></div>
        <style>
            .web-header .web-header-funding-open .funding-open-button{
                margin-top: 0px;
            }
        </style>
        <div class="MainWrapper_content__GZkTa">
            <div class="KeyVisualBanner_container__37DZf">
                <div class="slick-slider slick-initialized" dir="ltr">
                    <button type="button" data-role="none" class="slick-arrow slick-prev" style="display: block">
                        Previous
                    </button>
                    <div class="slick-list">
                        <div class="slick-track" style="
                    width: 14531px;
                    opacity: 1;
                    transform: translate3d(-1321px, 0px, 0px);
                  ">
                            <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 1321px">
                                <div>
                                    <div>
                                        <a href="https://www.wadiz.kr/web/campaign/detail/182551?acid=10026941&amp;_refer_section_st=RMK_4" class="VisualSlide_container__2NDvY" data-promo-acid="10026941" data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend" data-promo-name="당신이 몰랐던 향의 부드러움
정성과 가치를 아는 분의 선택" data-promo-position="RMK_4" data-promo-acid-force="true" style="
                            background-image: url('https://cdn1.wadiz.kr/images/20230218/1676731731492.jpg/wadiz/optimize');
                          "><div class="VisualSlide_wrap__32Lj4">
                                            <div class="VisualSlide_text__2SIqN">
                                                <p class="VisualSlide_title__3USGy">
                                                    당신이 몰랐던 향의 부드러움<br>정성과 가치를
                                                    아는 분의 선택
                                                </p>
                                                <p class="VisualSlide_badge__3nqfs">
                                                    48시간내 톳기향꽂이 포함 펀딩시 옻칠재받침
                                                    모두에게 선물
                                                </p>
                                            </div>
                                        </div>
                                            <div class="banner_adBadge__2iyux banner_keyVisual__1TLsm">
                                                AD
                                            </div></a>
                                    </div>
                                </div>
                            </div>

                            <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 1321px">
                                <div>
                                    <div>
                                        <a href="/web/notice/1" class="VisualSlide_container__2NDvY" data-promo-acid="-1" data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend" data-promo-name="와디즈 푸드 위크" data-promo-position="RMK_1" data-promo-acid-force="true" style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0217/20230217140652410_6556.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                            width: 160%" data-gtm-vis-first-on-screen-11319722_2115="10181307" data-gtm-vis-first-on-screen-11319722_2184="10181308" data-gtm-vis-first-on-screen-11319722_2047="10211877" data-gtm-vis-recent-on-screen-11319722_2047="1681623489780" data-gtm-vis-total-visible-time-11319722_2047="2000" data-gtm-vis-recent-on-screen-11319722_2115="1681623489780" data-gtm-vis-total-visible-time-11319722_2115="2000" data-gtm-vis-recent-on-screen-11319722_2184="1681623489781" data-gtm-vis-total-visible-time-11319722_2184="2000" data-gtm-vis-has-fired-11319722_2047="1" data-gtm-vis-has-fired-11319722_2115="1" data-gtm-vis-has-fired-11319722_2184="1"><div class="VisualSlide_wrap__32Lj4">
                                            <div class="VisualSlide_text__2SIqN">
                                                <p class="VisualSlide_title__3USGy" th:text="#{open}">
                                                    더쉐프 오픈!
                                                </p>
                                                <p class="VisualSlide_badge__3nqfs" th:utext="#{fundingSentence}">
                                                    펀딩자님!<br>무료로 더현대에 입점 해보실래요?
                                                </p>
                                            </div>
                                        </div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-role="none" class="slick-arrow slick-next" style="display: block">
                        Next
                    </button>
                </div>
                <div class="KeyVisualBanner_wrap__10qJJ">


                </div>
            </div>
            <div class="Main_categoryMargin__1RWGF"></div>
            <div class="CategoryTab_container__1XTA0 undefined" style="top: 0px;">
                <div class="TabsMobile_tabRoot__1KBCT">
                    <div class="TabsMobile_tabsWrapper__3zP94">
                        <ul class="TabsMobile_tabs__39ewt TabsMobile_hideScrollbar__3v5I5">
                            <li data-index="0">
                                <button class="ImageTab_tab__3siCY ImageTab_first__2C8Ry ImageTab_active__BGdXu">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/whole.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{whole}">전체</span></div>
                                </button>
                            </li>
                            <li data-index="1">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/k-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{food.korean}">한식</span>
                                    </div>
                                </button>
                            </li>
                            <li data-index="2">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/j-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{food.japanese}">일식</span>
                                    </div>
                                </button>
                            </li>
                            <li data-index="3">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/c-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9"th:text="#{food.chinese}">중식</span>
                                    </div>
                                </button>
                            </li>
                            <li data-index="4">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/w-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{food.western}">양식</span></div>
                                </button>
                            </li>
                            <li data-index="5">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/cafe1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{food.cafe}">카페</span></div>
                                </button>
                            </li>
                            <li data-index="6">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/chicken.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{food.midnightSnack}">야식</span></div>
                                </button>
                            </li>
                            <li data-index="7">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/else.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9" th:text="#{food.etc}">기타</span>
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Main_categoryMargin__1RWGF"></div>
            <div class="Main_container__2oIVn">
                <div class="Main_category__3sabq">
                    <p class="Main_categoryName__3YilF" th:text="#{theHyundai.whole}">더현대 전체</p>
                    <div class="Main_filterWrap__2l__0">
                        <div class="OrderSelect_sortContainer__3F7LQ">
                            <div class="OrderSelect_content__1RjYa">
                    <span th:text="#{theHyundai.whole}">더현대 전체</span
                    >
                                <svg
                                        viewBox="0 0 32 32"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon__20lDO OrderSelect_expandIcon__30qeK"
                                        aria-hidden="true"
                                >
                                    <path
                                            d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"
                                    ></path>
                                </svg>
                            </div>
                            <select class="OrderSelect_selectBox__2hBjk">
                                <option value="더현대 전체"  data-place="더현대 전체" th:text="#{theHyundai.whole}">더현대 전체</option>
                                <option value="더현대 서울"  data-place="더현대 서울" th:text="#{theHyundai.seoul}">더현대 서울</option>
                                <option value="더현대 대구"  data-place="더현대 대구" th:text="#{theHyundai.daegu}">더현대 대구</option>
                                <option value="더현대 광주"  data-place="더현대 광주" th:text="#{theHyundai.gwangju}">더현대 광주</option>
                            </select>
                        </div>
                        <ul class="OrderSelectDesktop_sortContainer__1YLsr">
                            <li
                                    class="OrderSelectDesktop_sortItem__12TKi OrderSelectDesktop_active__YTP2K"
                                    data-sort="모집금액순"  th:text="#{sort.money}">
                                모집금액순
                            </li>
                            <li class="OrderSelectDesktop_sortItem__12TKi" data-sort="펀딩한 사람순" th:text="#{sort.funding}">펀딩한 사람순</li>
                            <li class="OrderSelectDesktop_sortItem__12TKi" data-sort="최신순"  th:text="#{sort.newest}">최신순</li>
                            <li class="OrderSelectDesktop_sortItem__12TKi" data-sort="응원댓글순"  th:text="#{sort.review}">
                                응원댓글순
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                        class="TableLayout_container__1_Ap4 Main_table__UHAm-"
                        style="
                grid-template-columns: repeat(3, calc(33.3333% - 16px));
                gap: 24px;
              "
                >

                </div>
            </div>
        </div>
                <script>
                    $(document).ready(function () {
                        let type=0;
                        let place=0;
                        let sort=0;
                        let page=0;
                        let isDone = false;
                        $('.TableLayout_container__1_Ap4').html('');
                        getList(type,place,sort,page);

                            //음식 종류 클릭 시 이벤트
                            $('.ImageTab_tab__3siCY').click(function () {
                            console.log('음식 종류');
                            if (!$(this).hasClass('ImageTab_active__BGdXu')) {
                                type = $(this).closest('li').data('index');
                                console.log(type);
                                $('.TableLayout_container__1_Ap4').html('');
                                page=0;
                                isDone = false;
                                getList(type,place,sort,page);
                                $('.ImageTab_tab__3siCY').removeClass('ImageTab_active__BGdXu');
                                $(this).addClass('ImageTab_active__BGdXu');
                            }
                        })
                        //정렬 클릭 시 이벤트
                        $('.OrderSelectDesktop_sortItem__12TKi').click(function () {
                            if (!$(this).hasClass('OrderSelectDesktop_active__YTP2K')) {
                                $('.OrderSelectDesktop_sortItem__12TKi').removeClass('OrderSelectDesktop_active__YTP2K');
                                $(this).addClass('OrderSelectDesktop_active__YTP2K');
                                sort=$(this).data('sort');
                                console.log(sort);
                                $('.TableLayout_container__1_Ap4').html('');
                                page=0;
                                isDone = false;
                                getList(type,place,sort,page);
                            }

                        })
                        //더 현대 장소 변경 시 이벤트
                        $('.OrderSelect_sortContainer__3F7LQ .OrderSelect_selectBox__2hBjk').change(function (){
                            let tPlace=$('option:selected', this).text();
                            place=$('option:selected', this).data('place');
                            console.log(tPlace);
                            console.log(place);
                            $('.OrderSelect_content__1RjYa').find('span').text(tPlace);
                            $('.Main_categoryName__3YilF').text(tPlace);
                            $('.TableLayout_container__1_Ap4').html('');
                            page=0;
                            isDone = false;
                            getList(type,place,sort,page);
                        })

                        $(window).scroll(function() {
                            if ($(window).scrollTop() + $(window).height() >= $(document).height()-10) {
                                console.log('다음 페이지');
                                page++
                                getList(type,place,sort,page);
                            }
                        });
                        function getList(type,place,sort,page){
                            if(isDone)return;
                            if(type === 0) type = null;

                                    let url = '/api/funding/list';
                                    $.ajax({
                                        url: url,
                                        type: "get",
                                        contentType: "application/json; charset=utf-8",
                                        data:{
                                            type:type,
                                            place:place,
                                            sort:sort,
                                            page:page
                                        },
                                        success: function (data, status) {
                                            if(data.length ==0)
                                                isDone = true;
                                            let k="";
                                                console.log(data);
                                                data.forEach(function (funding) {

                                                    k += ` <div
                            class="PreorderMainCard_root__1-vcs"
                            style="height: 100%; position: relative"
                    >
                        <a
                                class="PreorderMainCard_item__2FrO0"
                                href="/web/funding/${funding.fid}"
                        >
                            <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                                <div
                                        aria-hidden="true"
                                        class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                        style="
                        background-image: url(${funding.fthumb});
                        border-radius: 8px;
                      "
                                ></div>
                            </div>
                            <div class="PreorderMainCard_contentContainer__1OmhF">
                                <div class="PreorderMainCard_header__R39X1">
                                    <div class="PreorderMainCard_headerLeft__2nwa1">
                                        <p class="PreorderMainCard_participants__JDp58">
                                            ${Math.floor(funding.totalprice / 10000).toLocaleString('ko-KR')}% 달성
                                        </p>
                                        <p class="PreorderMainCard_amount__3UOXm">
                                            ${funding.totalprice.toLocaleString('ko-KR')}원
                                        </p>
                                    </div>
                                    <div class="PreorderMainCard_headerRight__3rRNi">
                        <span
                                class="Badge_container__3ioDw Badge_visible__n2Hg1"
                        ><span
                                class="Badge_badge__2h6cT Badge_label__VC3QR Badge_sm__1ia4P Badge_primary__2x__i Badge_tertiary__1ERKE"
                        >${funding.expire}일 남음</span
                        ></span
                        >
                                    </div>
                                </div>
                                <div class="PreorderMainCard_title__XlTJk">
                                    ﻿${funding.ftitle}
                                </div>
                                <div class="PreorderMainCard_subText__1LB5l">
                      <span class="PreorderMainCard_makerName__2Ufj1"
                      >${funding.fstore_name}</span
                      >
                                </div>
                            </div>
                            <div class="CardSpinner_container__1cKRs">
                                <svg
                                        viewBox="25 25 50 50"
                                        class="CardSpinner_loader__2-LrZ"
                                        aria-label="Loading"
                                >
                                    <g class="Loader_circular__3PTZN">
                                        <circle
                                                class="Loader_path__198fo"
                                                cx="50"
                                                cy="50"
                                                r="20"
                                                fill="none"
                                                stroke-width="4"
                                                stroke-miterlimit="10"
                                        ></circle>
                                    </g>
                                </svg>
                            </div
                            >
                        </a>
                    </div>`;

                                                });

                                                $.ajax({
                                                    url: '/api/translate',
                                                    type: 'post',
                                                    data: k,
                                                    contentType: "text/html",
                                                    success: function (data) {
                                                        $('.TableLayout_container__1_Ap4').append(data);
                                                    }, error: function (status, error) {
                                                        console.log(error);
                                                    }
                                                })

                                },
                                error: function (status, error) {
                                    alert("실패");
                                }
                            })
                        }


                    })
                </script>



    </main>

</body>
</html>
