<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="ko"
        class="show-recent scroll-top scroll-apex"
        translate="no"
        style="--scrollbar-width: 16px"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover"
    />


    <title>더쉐프 펀딩</title>


    <link
            rel="stylesheet"
            href="/import/css/main.42cef079.css"
    />


    <link rel="mask-icon" href="/resources/static/svg/wa.svg" color="#1d2129"/>



    <link
            rel="stylesheet"
            href="/import/css/wui.css"
    />
    <link
            rel="stylesheet"
            href="/import/css/common.css"
    />


    <link
            rel="stylesheet"
            href="/import/css/layout.css"
    />


    <link
            rel="stylesheet"
            href="/import/css/main.ab4e33bf.css"
    />
    <link rel="stylesheet" href="/css/funding/funding.css">

    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/main-page~preorder-main~reward-main~store~wishes.e6385302.chunk.css"
    />


    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/main-page.19ca2771.chunk.css"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/reward-main.44308e85.chunk.css"
    />



</head>
<body style="overflow: auto">
<style>
    .ab-iam-root.v3 {
        z-index: 9999;
    }
</style>
<div id="page-container">
    <main id="main-app">
        <div th:replace="fragment/header__3X3Cg.html :: header"></div>
        <div class="MainWrapper_content__GZkTa">
            <div class="KeyVisualBanner_container__37DZf">
                <div class="slick-slider slick-initialized" dir="ltr">
                    <button
                            type="button"
                            data-role="none"
                            class="slick-arrow slick-prev"
                            style="display: block"
                    >
                        Previous
                    </button>
                    <div class="slick-list">
                        <div
                                class="slick-track"
                                style="
                    width: 14531px;
                    opacity: 1;
                    transform: translate3d(-1321px, 0px, 0px);
                  "
                        >
                            <div
                                    data-index="-1"
                                    tabindex="-1"
                                    class="slick-slide slick-cloned"
                                    aria-hidden="true"
                                    style="width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/campaign/detail/182551?acid=10026941&amp;_refer_section_st=RMK_4"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="10026941"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="당신이 몰랐던 향의 부드러움
정성과 가치를 아는 분의 선택"
                                                data-promo-position="RMK_4"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn1.wadiz.kr/images/20230218/1676731731492.jpg/wadiz/optimize');
                          "
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        당신이 몰랐던 향의 부드러움<br/>정성과 가치를
                                                        아는 분의 선택
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        48시간내 톳기향꽂이 포함 펀딩시 옻칠재받침
                                                        모두에게 선물
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                    class="banner_adBadge__2iyux banner_keyVisual__1TLsm"
                                            >
                                                AD
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="0"
                                    class="slick-slide slick-active slick-current"
                                    tabindex="-1"
                                    aria-hidden="false"
                                    style="outline: none; width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/wcomingsoon/rwd/186914?_refer_section_st=RMK_0"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="발리 안가도 됩니다
3in1 감성조명"
                                                data-promo-position="RMK_0"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0220/20230220174932877_6660.png/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                                data-gtm-vis-first-on-screen-11319722_2184="10174598"
                                                data-gtm-vis-first-on-screen-11319722_2115="10174708"
                                                data-gtm-vis-first-on-screen-11319722_2047="10174723"
                                                data-gtm-vis-polling-id-11319722_2047="19459"
                                                data-gtm-vis-polling-id-11319722_2184="19460"
                                                data-gtm-vis-recent-on-screen-11319722_2047="10514404"
                                                data-gtm-vis-total-visible-time-11319722_2047="300"
                                                data-gtm-vis-recent-on-screen-11319722_2184="10514404"
                                                data-gtm-vis-total-visible-time-11319722_2184="300"
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        발리 안가도 됩니다<br/>3in1 감성조명
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        LED 조명, 선셋 조명, 헤드 분리하여 랜턴까지
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="1"
                                    class="slick-slide"
                                    tabindex="-1"
                                    aria-hidden="true"
                                    style="outline: none; width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://makercenter.wadiz.kr/board/event/25?_refer_section_st=RMK_1"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="와디즈 푸드 위크"
                                                data-promo-position="RMK_1"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0217/20230217140652410_6556.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                                data-gtm-vis-first-on-screen-11319722_2115="10181307"
                                                data-gtm-vis-first-on-screen-11319722_2184="10181308"
                                                data-gtm-vis-first-on-screen-11319722_2047="10211877"
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        와디즈 푸드 위크
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        푸드 메이커님!<br/>지원금 받고 펀딩 해보실래요?
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="2"
                                    class="slick-slide"
                                    tabindex="-1"
                                    aria-hidden="true"
                                    style="outline: none; width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/wevent/wadizday?_refer_section_st=RMK_2"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="최대 8O% 혜택
와디즈데이 바로가기"
                                                data-promo-position="RMK_2"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0217/20230217213649908_6556.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                                data-gtm-vis-first-on-screen-11319722_2047="10214943"
                                                data-gtm-vis-first-on-screen-11319722_2184="10214944"
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        최대 8O% 혜택<br/>와디즈데이 바로가기
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        슈퍼얼리버드보다 강력한 스페셜 얼리버드
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="3"
                                    class="slick-slide"
                                    tabindex="-1"
                                    aria-hidden="true"
                                    style="outline: none; width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/wcomingsoon/rwd/188614?_refer_section_st=RMK_3"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="만족도 5점, 퀄리티 끝판왕
한정판 컨셉 화보 스튜디오"
                                                data-promo-position="RMK_3"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0222/20230222164952377_6727.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                                data-gtm-vis-first-on-screen-11319722_2184="10187746"
                                                data-gtm-vis-first-on-screen-11319722_2115="10187747"
                                                data-gtm-vis-first-on-screen-11319722_2047="10187749"
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        만족도 5점, 퀄리티 끝판왕<br/>한정판 컨셉 화보
                                                        스튜디오
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        Only와디즈 한정판컨셉과 포토굿즈까지
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="4"
                                    class="slick-slide"
                                    tabindex="-1"
                                    aria-hidden="true"
                                    style="outline: none; width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/campaign/detail/182551?acid=10026941&amp;_refer_section_st=RMK_4"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="10026941"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="당신이 몰랐던 향의 부드러움
정성과 가치를 아는 분의 선택"
                                                data-promo-position="RMK_4"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn1.wadiz.kr/images/20230218/1676731731492.jpg/wadiz/optimize');
                          "
                                                data-gtm-vis-first-on-screen-11319722_2047="10201466"
                                                data-gtm-vis-first-on-screen-11319722_2184="10201467"
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        당신이 몰랐던 향의 부드러움<br/>정성과 가치를
                                                        아는 분의 선택
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        48시간내 톳기향꽂이 포함 펀딩시 옻칠재받침
                                                        모두에게 선물
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                    class="banner_adBadge__2iyux banner_keyVisual__1TLsm"
                                            >
                                                AD
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="5"
                                    tabindex="-1"
                                    class="slick-slide slick-cloned"
                                    aria-hidden="true"
                                    style="width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/wcomingsoon/rwd/186914?_refer_section_st=RMK_0"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="발리 안가도 됩니다
3in1 감성조명"
                                                data-promo-position="RMK_0"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0220/20230220174932877_6660.png/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                                data-gtm-vis-first-on-screen-11319722_2047="10208835"
                                                data-gtm-vis-first-on-screen-11319722_2184="10208836"
                                                data-gtm-vis-total-visible-time-11319722_2047="900"
                                                data-gtm-vis-total-visible-time-11319722_2184="900"
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        발리 안가도 됩니다<br/>3in1 감성조명
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        LED 조명, 선셋 조명, 헤드 분리하여 랜턴까지
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="6"
                                    tabindex="-1"
                                    class="slick-slide slick-cloned"
                                    aria-hidden="true"
                                    style="width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://makercenter.wadiz.kr/board/event/25?_refer_section_st=RMK_1"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="와디즈 푸드 위크"
                                                data-promo-position="RMK_1"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0217/20230217140652410_6556.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        와디즈 푸드 위크
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        푸드 메이커님!<br/>지원금 받고 펀딩 해보실래요?
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="7"
                                    tabindex="-1"
                                    class="slick-slide slick-cloned"
                                    aria-hidden="true"
                                    style="width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/wevent/wadizday?_refer_section_st=RMK_2"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="최대 8O% 혜택
와디즈데이 바로가기"
                                                data-promo-position="RMK_2"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0217/20230217213649908_6556.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        최대 8O% 혜택<br/>와디즈데이 바로가기
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        슈퍼얼리버드보다 강력한 스페셜 얼리버드
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="8"
                                    tabindex="-1"
                                    class="slick-slide slick-cloned"
                                    aria-hidden="true"
                                    style="width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/wcomingsoon/rwd/188614?_refer_section_st=RMK_3"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="-1"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="만족도 5점, 퀄리티 끝판왕
한정판 컨셉 화보 스튜디오"
                                                data-promo-position="RMK_3"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0222/20230222164952377_6727.jpg/wadiz/resize/2100/format/jpg/quality/85/');
                          "
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        만족도 5점, 퀄리티 끝판왕<br/>한정판 컨셉 화보
                                                        스튜디오
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        Only와디즈 한정판컨셉과 포토굿즈까지
                                                    </p>
                                                </div>
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                    data-index="9"
                                    tabindex="-1"
                                    class="slick-slide slick-cloned"
                                    aria-hidden="true"
                                    style="width: 1321px"
                            >
                                <div>
                                    <div>
                                        <a
                                                href="https://www.wadiz.kr/web/campaign/detail/182551?acid=10026941&amp;_refer_section_st=RMK_4"
                                                class="VisualSlide_container__2NDvY"
                                                data-promo-acid="10026941"
                                                data-promo-id="https://www.wadiz.kr/web/wreward/main?order=recommend"
                                                data-promo-name="당신이 몰랐던 향의 부드러움
정성과 가치를 아는 분의 선택"
                                                data-promo-position="RMK_4"
                                                data-promo-acid-force="true"
                                                style="
                            background-image: url('https://cdn1.wadiz.kr/images/20230218/1676731731492.jpg/wadiz/optimize');
                          "
                                        >
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN">
                                                    <p class="VisualSlide_title__3USGy">
                                                        당신이 몰랐던 향의 부드러움<br/>정성과 가치를
                                                        아는 분의 선택
                                                    </p>
                                                    <p class="VisualSlide_badge__3nqfs">
                                                        48시간내 톳기향꽂이 포함 펀딩시 옻칠재받침
                                                        모두에게 선물
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                    class="banner_adBadge__2iyux banner_keyVisual__1TLsm"
                                            >
                                                AD
                                            </div>
                                        </a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                            type="button"
                            data-role="none"
                            class="slick-arrow slick-next"
                            style="display: block"
                    >
                        Next
                    </button>
                </div>
                <div class="KeyVisualBanner_wrap__10qJJ">
                    <div class="KeyVisualBanner_arrows__d8zts">
                        <button
                                class="Button_button__mRXZC Button_tertiaryGrey__3jfPY Button_text__1iP4l Button_lg__22YWj KeyVisualBanner_button__3fHEC"
                                type="button"
                        >
                  <span
                  ><span class="Button_children__3HY2l"
                  ><svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__20lDO"
                          aria-hidden="true"
                          style="width: 24px; height: 24px"
                  >
                        <path
                                d="M12 20L25 7l1.4 1.4L14.8 20l11.6 11.6L25 33 12 20z"
                        ></path></svg></span
                  ></span></button
                        >
                        <button
                                class="Button_button__mRXZC Button_tertiaryGrey__3jfPY Button_text__1iP4l Button_lg__22YWj KeyVisualBanner_button__3fHEC"
                                type="button"
                        >
                  <span
                  ><span class="Button_children__3HY2l"
                  ><svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__20lDO"
                          aria-hidden="true"
                          style="width: 24px; height: 24px"
                  >
                        <path
                                d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"
                        ></path></svg></span
                  ></span>
                        </button>
                    </div>
                    <div class="KeyVisualBanner_navigation__FwQwb">
                        <div style="width: 20%"></div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="Main_categoryMargin__1RWGF"></div>
            <div class="CategoryTab_container__1XTA0 undefined" style="top: 0px;">
                <div class="TabsMobile_tabRoot__1KBCT">
                    <div class="TabsMobile_tabsWrapper__3zP94">
                        <ul class="TabsMobile_tabs__39ewt TabsMobile_hideScrollbar__3v5I5">
                            <li data-index="0">
                                <button class="ImageTab_tab__3siCY ImageTab_first__2C8Ry ImageTab_active__BGdXu">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/whole.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">전체</span></div>
                                </button>
                            </li>
                            <li data-index="1">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/k-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">한식</span>
                                    </div>
                                </button>
                            </li>
                            <li data-index="2">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/j-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">일식</span>
                                    </div>
                                </button>
                            </li>
                            <li data-index="3">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/c-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">중식</span>
                                    </div>
                                </button>
                            </li>
                            <li data-index="4">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/w-food1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">양식</span></div>
                                </button>
                            </li>
                            <li data-index="5">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/cafe1.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">카페</span></div>
                                </button>
                            </li>
                            <li data-index="6">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/chicken.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">야식</span></div>
                                </button>
                            </li>
                            <li data-index="7">
                                <button class="ImageTab_tab__3siCY">
                                    <div class="ImageTab_thumbnailContainer__3Polb">
                                        <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                            <div class="ImageTab_thumbnail__3mZWA"
                                                 style="background-image: url(&quot;/images/else.png&quot;);"></div>
                                        </div>
                                    </div>
                                    <div class="ImageTab_labelContainer__2apP3"><span
                                            class="ImageTab_label__SvWW9">기타</span>
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Main_categoryMargin__1RWGF"></div>
            <div class="Main_container__2oIVn">
                <div class="Main_category__3sabq">
                    <p class="Main_categoryName__3YilF">더현대 전체</p>
                    <div class="Main_filterWrap__2l__0">
                        <div class="OrderSelect_sortContainer__3F7LQ">
                            <div class="OrderSelect_content__1RjYa">
                    <span>더현대 전체</span
                    >
                                <svg
                                        viewBox="0 0 32 32"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon__20lDO OrderSelect_expandIcon__30qeK"
                                        aria-hidden="true"
                                >
                                    <path
                                            d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"
                                    ></path>
                                </svg>
                            </div>
                            <select class="OrderSelect_selectBox__2hBjk">
                                <option value="더현대 전체">더현대 전체</option>
                                <option value="더현대 서울">더현대 서울</option>
                                <option value="더현대 대구">더현대 대구</option>
                                <option value="더현대 광주">더현대 광주</option>
                            </select>
                        </div>
                        <ul class="OrderSelectDesktop_sortContainer__1YLsr">
                            <li
                                    class="OrderSelectDesktop_sortItem__12TKi OrderSelectDesktop_active__YTP2K"
                            >
                                모집금액순
                            </li>
                            <li class="OrderSelectDesktop_sortItem__12TKi">펀딩한 사람순</li>
                            <li class="OrderSelectDesktop_sortItem__12TKi">최신순</li>
                            <li class="OrderSelectDesktop_sortItem__12TKi">
                                응원댓글순
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                        class="TableLayout_container__1_Ap4 Main_table__UHAm-"
                        style="
                grid-template-columns: repeat(3, calc(33.3333% - 16px));
                gap: 24px;
              "
                >

                </div>
                <div class="FloatingButtons_container__2E5Fl">
                    <button
                            type="button"
                            class="FloatingTopButton_pageTop__2gqm9 FloatingTopButton_visible__2sh_N"
                            title="위로 이동"
                    >
                        <svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__20lDO"
                                aria-hidden="true"
                        >
                            <path
                                    d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"
                            ></path>
                        </svg>
                    </button
                    >
                    <button
                            type="button"
                            data-ga-category="공통_최근본_UI"
                            data-ga-action="클릭"
                            data-ga-label=""
                            class="RecentView_container__1boAT"
                            aria-label="최근본"
                            style="display: block"
                    >
                        <div
                                aria-hidden="true"
                                class="RecentView_thumbnail__1lnV0 CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4 CardThumbnail_noanimation__23cSf"
                                style="
                background-image: url('https://cdn.wadiz.kr/wwwwadiz/green001/2023/0215/20230215095501924_158604.jpg/wadiz/resize/180/format/jpg/quality/85/');
              "
                        ></div>
                    </button>
                    <div class="ChannelTalk_container__fd848">
                        <button
                                type="button"
                                aria-label="채널톡 와디즈 고객센터 문의"
                        ></button>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        let type=0;
                        let place=0;
                        let sort=0;
                        let page=0;
                        $('.TableLayout_container__1_Ap4').html('');
                        getList(type,place,sort,page);

                            //음식 종류 클릭 시 이벤트
                            $('.ImageTab_tab__3siCY').click(function () {
                            console.log('음식 종류');
                            if (!$(this).hasClass('ImageTab_active__BGdXu')) {
                                type = $(this).closest('li').data('index');
                                console.log(type);
                                $('.TableLayout_container__1_Ap4').html('');
                                page=0;
                                getList(type,place,sort,page);
                                $('.ImageTab_tab__3siCY').removeClass('ImageTab_active__BGdXu');
                                $(this).addClass('ImageTab_active__BGdXu');
                            }
                        })
                        //정렬 클릭 시 이벤트
                        $('.OrderSelectDesktop_sortItem__12TKi').click(function () {
                            if (!$(this).hasClass('OrderSelectDesktop_active__YTP2K')) {
                                $('.OrderSelectDesktop_sortItem__12TKi').removeClass('OrderSelectDesktop_active__YTP2K');
                                $(this).addClass('OrderSelectDesktop_active__YTP2K');
                                sort=$(this).text();
                                console.log(sort);
                                page=0;
                                $('.TableLayout_container__1_Ap4').html('');
                                getList(type,place,sort,page);
                            }

                        })
                        //더 현대 장소 변경 시 이벤트
                        $('.OrderSelect_sortContainer__3F7LQ .OrderSelect_selectBox__2hBjk').change(function (){
                            place=$(this).val();
                            $('.OrderSelect_content__1RjYa').find('span').text(place);
                            $('.Main_categoryName__3YilF').text(place);
                            $('.TableLayout_container__1_Ap4').html('');
                            page=0;
                            getList(type,place,sort,page);
                        })

                        $(window).scroll(function() {
                            if ($(window).scrollTop() + $(window).height() >= $(document).height()-1) {
                                console.log('다음 페이지');
                                page++
                                getList(type,place,sort,page);
                            }
                        });
                        function getList(type,place,sort,page){
                            if(type === 0) type = null;

                                    let url = '/api/funding/list';
                                    $.ajax({
                                        url: url,
                                        type: "get",
                                        contentType: "application/json; charset=utf-8",
                                        data:{
                                            type:type,
                                            place:place,
                                            sort:sort,
                                            page:page
                                        },

                                        success: function (data, status) {
                                    data.forEach(function (funding) {
                                        let k = ` <div
                            class="PreorderMainCard_root__1-vcs"
                            style="height: 100%; position: relative"
                    >
                        <a
                                class="PreorderMainCard_item__2FrO0"
                                href="/web/funding/${funding.fid}"
                        >
                            <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                                <div
                                        aria-hidden="true"
                                        class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                        style="
                        background-image: url(${funding.fthumb});
                        border-radius: 8px;
                      "
                                ></div>
                            </div>
                            <div class="PreorderMainCard_contentContainer__1OmhF">
                                <div class="PreorderMainCard_header__R39X1">
                                    <div class="PreorderMainCard_headerLeft__2nwa1">
                                        <p class="PreorderMainCard_participants__JDp58">
                                            ${Math.floor(funding.totalprice/100000).toLocaleString('ko-KR')}% 달성
                                        </p>
                                        <p class="PreorderMainCard_amount__3UOXm">
                                            ${funding.totalprice.toLocaleString('ko-KR')}원
                                        </p>
                                    </div>
                                    <div class="PreorderMainCard_headerRight__3rRNi">
                        <span
                                class="Badge_container__3ioDw Badge_visible__n2Hg1"
                        ><span
                                class="Badge_badge__2h6cT Badge_label__VC3QR Badge_sm__1ia4P Badge_primary__2x__i Badge_tertiary__1ERKE"
                        >${funding.expire}일 남음</span
                        ></span
                        >
                                    </div>
                                </div>
                                <div class="PreorderMainCard_title__XlTJk">
                                    ﻿${funding.ftitle}
                                </div>
                                <div class="PreorderMainCard_subText__1LB5l">
                      <span class="PreorderMainCard_makerName__2Ufj1"
                      >${funding.fstore_name}</span
                      >
                                </div>
                            </div>
                            <div class="CardSpinner_container__1cKRs">
                                <svg
                                        viewBox="25 25 50 50"
                                        class="CardSpinner_loader__2-LrZ"
                                        aria-label="Loading"
                                >
                                    <g class="Loader_circular__3PTZN">
                                        <circle
                                                class="Loader_path__198fo"
                                                cx="50"
                                                cy="50"
                                                r="20"
                                                fill="none"
                                                stroke-width="4"
                                                stroke-miterlimit="10"
                                        ></circle>
                                    </g>
                                </svg>
                            </div
                            >
                        </a>
                    </div>`;
                                        $.ajax({
                                            url : '/api/translate',
                                            type : 'post',
                                            data : k,
                                            contentType: "text/html",
                                            success : function(data){
                                                console.log(data);
                                                $('.TableLayout_container__1_Ap4').append(data);
                                            },error: function (status, error) {
                                                console.log(error);
                                            }
                                        })
                                    });
                                },
                                error: function (status, error) {
                                    alert("실패");
                                }
                            })
                        }
                    })
                </script>


    </main>

</body>
</html>
