<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Ranking</title>

    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="/fragment/admin_sidebar :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="/fragment/admin_topbar :: topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">펀딩 랭킹</h1>

                    <div class="row hyundaiSale">
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">진행 중인 펀딩 (2022.03.01 ~ 2022.03.31)</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>순위</th>
                                            <th>펀딩이름</th>
                                            <th>펀딩자</th>
                                            <th>지역</th>
                                            <th>카테고리</th>
                                            <th>펀딩금액</th>
                                            <th>스토어 전환</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" style="justify-content: center">
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
<!--    <script src="/admin/js/demo/datatables-demo.js"></script>-->

<script>
    // tid
    let areaArr = ['','seoul','daegu','gwangju'];
    let colorArr = ['border-left-primary', 'border-left-success', 'border-left-info', 'border-left-warning'];
    let idx = 0;
    let pageNum = 1;
    let fundingCount = 0;
    let place = '더현대 전체'

    $(document).ready(function(){
        console.log('ready');
        getList();
        getTotalSales(null,pageNum-1);


    })

    $(document).on('click','.h_area', function(e){
        idx = 0;
        pageNum = 1;

        place = $(this).data('tname');

        getList();
    })

    function getList(){
        $('tbody').html('');

        $.ajax({
            url : '/api/admin/funding',
            type : 'get',
            data:{
                place: place,
                page: pageNum-1,
            },
            contentType:"application/json",
            success : function(res){
                console.log(res);
                fundingCount = res['fundingCount'];
                let data = res['fundingList'];

                printPagination(res['fundingCount']);

                if(data.length !==0){
                    printTable(idx,data);
                    idx += data.length;
                }
            }
        })
    }

    function printTable(no,data){
        $(data).each(function(idx ,d){
            let template = `
            <tr data-fid="${d['fid']}">
                <td>${no+idx+1}</td>
                <td>${d['ftitle']}</td>
                <td>${d['memail']}</td>
                <td>${d['tname']}</td>
                <td>${d['ctname']}</td>
                <td>${d['totalprice']}</td>
                <td>
                    <a class="btn btn-info btn-icon-split btn_promote">
                          <span class="text">전환하기</span>
                    </a>
                </td>
            </tr>
            `
            $('tbody').append(template);
        })
    }
    $(document).on('click','.btn_promote',function(e){
        let fid = $(this).closest('tr').data('fid')
        $.ajax({
            url : `/api/admin/funding/${fid}/promote`,
            type : 'post',
            success : function(data){
                console.log(data);
                location.reload();
            }
        })
    })

    function getTotalSales(){
        $.ajax({
            url : '/api/admin/totalSale',
            type : 'get',
            contentType: 'application/json',
            success : function(data){
                printTotalSale(data);
            }
        })
    }

    function printTotalSale(data){
        console.log(data);
        $(data).each(function(idx, d){

            let template = `
                   <div class="col-xl-3 col-md-6 mb-4">
                        <div data-tname="${d['tname']}" data-tid="${d['tid']||''}" data-area="${areaArr[d['tid']]||''}" class="h_area card ${colorArr[idx]} shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            ${d['tname']}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">${d['totalPrice']}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                `;
            $('.hyundaiSale').append(template);
        })
    }

    let itemNum = 12.0;
    // 화면에 보여줄 개수 itemNum
    // 버튼 개수 5개
    function printPagination (fundingCount){
        let pagingUL = $('#dataTable_paginate');
        var endNum = Math.ceil(pageNum/5.0) * 5;
        var startNum = endNum - 4;

        var prev = startNum !== 1;
        var next = false;

        if(endNum * itemNum >= fundingCount){
            endNum = Math.ceil(fundingCount / itemNum);
        }
        if(endNum * itemNum < fundingCount){
            next = true;
        }

        let str = `<ul class="pagination" style="justify-content: center">`
        if(prev){
            str += `
            <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                <a aria-controls="dataTable" data-dt-idx="${startNum-1}" tabIndex="0" class="page-link">Previous</a>
            </li>`
        }
        for (var i = startNum; i <= endNum; i++) {
            var active = pageNum === i ? "active" : "";
            str += `
            <li class="paginate_button page-item ${active}">
                <a aria-controls="dataTable" data-dt-idx="${i}"
                                                        tabIndex="0" class="page-link">${i}</a>
            </li>
                  `
        }
        if(next){
            str += `
            <li class="paginate_button page-item next" id="dataTable_next">
                <a aria-controls="dataTable" data-dt-idx="${endNum+1}" tabIndex="0" class="page-link">Next</a>
            </li>
            `
        }
        str += "</ul>";

        pagingUL.html(str);

    }

    $(document).on('click','.page-item',function(){
        pageNum = $(this).find('a').data('dt-idx');
        getList();
    })



</script>
</body>

</html>