<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Ranking</title>

    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="/fragment/admin_sidebar :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="/fragment/admin_topbar :: topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">펀딩 랭킹</h1>

                    <div class="row hyundaiSale">
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">진행 중인 펀딩 (2022.03.01 ~ 2022.03.31)</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>순위</th>
                                            <th>펀딩이름</th>
                                            <th>펀딩자</th>
                                            <th>지역</th>
                                            <th>카테고리</th>
                                            <th>펀딩금액</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
<!--    <script src="/admin/js/demo/datatables-demo.js"></script>-->

<script>
    // tid
    let areaArr = ['','seoul','daegu','gwangju'];
    let colorArr = ['border-left-primary', 'border-left-success', 'border-left-info', 'border-left-warning'];

    $(document).ready(function(){
        console.log('ready');
        getAllList();
        getTotalSales();

    })

    $(document).on('click','.h_area', function(e){
        let tname = $(this).data('tname');
        console.log(tname);
        getAllList(tname);
    })

    function getAllList(place){
        $('tbody').html('');

        let idx = 0;
        function getList(place, page){
            $.ajax({
                url : '/api/admin/funding',
                type : 'get',
                data:{
                    place: place,
                    page: page,
                },
                contentType:"application/json",
                success : function(data){
                    console.log(data.length);
                    if(data.length !==0){
                        printTable(idx,data);
                        getList(place, page + 1);
                        idx += data.length;
                    }
                }
            })
        }
        getList(place, 0);
    }

    function printTable(no,data){
        $(data).each(function(idx ,d){
            let template = `
            <tr data-fid="${d['fid']}">
                <td>${no+idx+1}</td>
                <td>${d['ftitle']}</td>
                <td>${d['memail']}</td>
                <td>${d['tname']}</td>
                <td>${d['ctname']}</td>
                <td>${d['totalprice']}</td>
            </tr>
            `
            $('tbody').append(template);

        })
    }

    function getTotalSales(){
        $.ajax({
            url : '/api/admin/totalSale',
            type : 'get',
            contentType: 'application/json',
            success : function(data){
                printTotalSale(data);
            }
        })
    }

    function printTotalSale(data){
        console.log(data);
        $(data).each(function(idx, d){
            let template = `
                   <div class="col-xl-3 col-md-6 mb-4">
                        <div data-tname="${d['tname']}" data-tid="${d['tid']||''}" data-area="${areaArr[d['tid']]||''}" class="h_area card ${colorArr[idx]} shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            ${d['tname']}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">${d['totalPrice']}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                `;
            $('.hyundaiSale').append(template);
        })
    }

</script>
</body>

</html>