<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>어드민 | 더쉐프</title>

    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragment/admin_sidebar :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragment/admin_topbar :: topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">리뷰 관리</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Review Management</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>작성자</th>
                                            <th style="width:30%">작성내용</th>
                                            <th>평점</th>
                                            <th>첨부사진</th>
                                            <th>리뷰타입</th>
                                            <th>작성날짜</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" style="justify-content: center">
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
<!--    <script src="/admin/js/demo/datatables-demo.js"></script>-->

</body>

<script>
    let pageNum = 1;
    let itemNum = 12.0;
    $(document).ready(function(){
        console.log('ready');
        getReviewList();
    })

    function getReviewList(){
        $.ajax({
            url: `/api/admin/review?page=${pageNum - 1}&size=${itemNum}`,
            type : 'get',
            contentType:"application/json",
            success : function(data){
                console.log(data);
                printTable(data['reviewList']);
                printPagination(data['reviewCount']);
            }
        })
    }
    function printTable(data){
        $('tbody').html('');
        $(data).each(function(idx, d){
            let imgTd = d['rimg_url'] !== null && d['rimg_url'] !== '' ?
                `<img style="width: 130px; height: 100px" src="${d['rimg_url']}">` : '-'
            let template = `
            <tr data-fid="${d['fid']}" data-rtype="${d['rtype']}"
                data-memail="${d['memail']}">
                <td>${d['memail']}</td>
                <td>${d['rcontent']}</td>
                <td style="text-align: center">${d['rscore']}</td>
                <td style="text-align: center">${imgTd}</td>
                <td style="text-align: center">${d['rtype']}</td>
                <td style="text-align: center">${d['rdate'].split(' ')[0]}</td>
                <td style="text-align: center">
                    <a href="#" class="deleteBtn btn btn-danger btn-icon-split">
                        <span class="text">삭제</span>
                    </a>
                </td>
            </tr>
            `;
            $('tbody').append(template);
        })
    }

    $(document).on('click','.deleteBtn',function(e){
        e.preventDefault();
        let tr = $(this).closest('tr');
        let fid = tr.data('fid');
        let rtype = tr.data('rtype');
        let memail = tr.data('memail');

        $.ajax({
            url : "/api/admin/review/delete",
            type : 'post',
            data : JSON.stringify({
                fid, rtype, memail
            }),
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                console.log(data);
                location.reload();
            }
        })

        console.log(fid, rtype, memail);
    })

    // 화면에 보여줄 개수 itemNum
    // 버튼 개수 5개
    function printPagination (fundingCount){
        let pagingUL = $('#dataTable_paginate');
        var endNum = Math.ceil(pageNum/5.0) * 5;
        var startNum = endNum - 4;

        var prev = startNum !== 1;

        var next = false;

        if(endNum * itemNum >= fundingCount){
            endNum = Math.ceil(fundingCount / itemNum);
        }
        if(endNum * itemNum < fundingCount){
            next = true;
        }

        let str = `<ul class="pagination" style="justify-content: center">`
        if(prev){
            str += `
            <li class="paginate_button page-item previous" id="dataTable_previous">
                <a aria-controls="dataTable" data-dt-idx="${startNum-1}" tabIndex="0" class="page-link">Previous</a>
            </li>`
        }
        for (var i = startNum; i <= endNum; i++) {
            var active = pageNum === i ? "active" : "";
            str += `
            <li class="paginate_button page-item ${active}">
                <a aria-controls="dataTable" data-dt-idx="${i}"
                                                        tabIndex="0" class="page-link">${i}</a>
            </li>
                  `
        }
        if(next){
            str += `
            <li class="paginate_button page-item next" id="dataTable_next">
                <a aria-controls="dataTable" data-dt-idx="${endNum+1}" tabIndex="0" class="page-link">Next</a>
            </li>
            `
        }
        str += "</ul>";

        pagingUL.html(str);
    }

    $(document).on('click','.page-item',function(){
        pageNum = $(this).find('a').data('dt-idx');
        getReviewList();

        $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
        return false;
    })

</script>

</html>