<html lang="ko" style="--vh: 7.96px">
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/studio/funding/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://static.wadiz.kr/studio/funding/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://static.wadiz.kr/studio/funding/favicon-16x16.png" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover" />
    <meta name="theme-color" content="#000000" />
    <meta name="wadiz-app-hidden-header" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>기본 정보 | 와디즈 메이커 스튜디오</title>

    <link
      href="/import/css/6.41bf0148.chunk.css"
      rel="stylesheet" />
    <link
      href="/import/css/main.f4a9cc74.chunk.css"
      rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/import/css/15.3f3225d2.chunk.css">

    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/studio/funding/static/css/2.4e40d539.chunk.css" />
    <!-- 다운로드하면 인코딩때문에 깨짐 ㅜㅜ -->

  </head>
  <body class="">

    <div id="root">
      <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <div class="AppLayout_main__14bCi">
          <div th:replace="/fragment/funding_sidebar.html :: sidebar(${fundingMaker.getFid()})"></div>
          <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
            <nav class="ProjectNavbar_container__3ybm3">
              <div
                style="
                  background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg')
                    50% center / contain no-repeat;
                  width: 129px;
                  height: 48px;
                  cursor: pointer;
                "></div>
              <div class="ProjectNavbar_maker__3c-SX">
                <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh">
                  <span></span>
                </div>
                <div>woowang789</div>
              </div>
            </nav>
            <section class="Page_container__1PffN">
              <ol class="Breadcrumb_container__3YjD4">
                <li class="Breadcrumb_item__2r9Ym">프로젝트 관리</li>
                <li class="Breadcrumb_item__2r9Ym">기본 정보</li>
              </ol>
              <div class="Page_title__1tce_" role="heading" aria-level="2">
                기본 정보
              </div>
              <div class="Page_description__VzZod">
                프로젝트를 대표하는 중요한 정보들을 입력해 주세요.
              </div>
              <div class="Page_content__1d0Vb">
                <section class="Section_container__3md8M spacing-9" style="">
                  <div style="max-width: 600px">
                    <div class="Section_header__1qwS7 spacing-4">
                      <h2
                        class="Section_title__ikPIm Section_isRequired__F8rij">
                        프로젝트 제목
                      </h2>
                      <div class="Section_guide__2xeJO"></div>
                    </div>
                    <div class="Section_content__3OkLZ">
                      <div
                        class="TextField_textField__23rCe TextField_md__2zsQn">
                        <label></label>
                        <div class="TextField_field__1E9vt">
                          <input
                            placeholder="제목을 입력해 주세요"
                            maxlength="40"
                            type="text"
                            class="Input_input__2kAAL Input_md__3-eZ6"
                            aria-invalid="false"
                            value="" />
                        </div>
                        <em class="HelperMessage_helperMessage__1qZPy"
                          >40자 남음</em
                        >
                      </div>
                    </div>
                  </div>
                </section>
                <section class="Section_container__3md8M spacing-9" style="">
                  <div style="max-width: 600px">
                    <div class="Section_header__1qwS7">
                      <h2
                        class="Section_title__ikPIm Section_isRequired__F8rij">
                        대표 이미지
                      </h2>
                      <div class="Section_guide__2xeJO"></div>
                    </div>
                    <div class="Section_description__10Uwo">
                      <ul>
                        <li>3MB 이하의 JPG, JPEG, PNG 파일</li>
                        <li>해상도 1200x675 픽셀 이상</li>
                        <li>텍스트나 로고는 넣을 수 없어요.</li>
                      </ul>
                    </div>
                    <div class="Section_content__3OkLZ">
                      <div class="spacing-5">
                        <div class="ImageUploadField_container__2fG-h">
                          첨부 파일을 업로드해 주세요.
                          <div
                            class="ImageUploadButton_container__2eGcY spacing-2">
                            <input
                              class="is-hidden"
                              type="file"
                              accept="image/jpg,image/jpeg,image/png" /><button
                              class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_contained__TTXSM Button_sm__dnvmq Button_circular__3NpOv"
                              type="button">
                              <span
                                ><span class="Button_children__q9VCZ"
                                  >업로드</span
                                ></span
                              >
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="Section_container__3md8M spacing-9" style="">
                  <div style="max-width: 600px">
                    <div class="Section_header__1qwS7">
                      <h2
                        class="Section_title__ikPIm Section_isRequired__F8rij">
                        프로젝트 종료일
                      </h2>
                      <div class="Section_guide__2xeJO"></div>
                    </div>
                    <div class="Section_content__3OkLZ">
                      <div>

                        <div class="DateField_container__2FQ6X">
                          <div
                            class="ant-picker css-57nriz date-picker"
                            style="width: 100%">
                            <div class="ant-picker-input">
                              <input
                                placeholder="예시) 2023-03-07"
                                title=""
                                size="12"
                                autocomplete="off"
                                value="" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <button
                  class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_xl__2x3J_"
                  type="button"
                  style="width: 420px; max-width: 100%">
                  <span
                    ><span class="Button_children__q9VCZ">저장하기</span></span
                  >
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="Toast_toast__1b_B2">
        <div class="Toast_content__G-bTq"></div>
      </div>
      <div class="ReactModalPortal" style="display: none">
        <div
          class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__10ZJO">
          <div
            class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_modal__3Ax7k"
            tabindex="-1"
            role="dialog">
            <h4 class="ConfirmModal_title__2q4ur">정말 나가시겠습니까?</h4>
            <p class="ConfirmModal_description__2Svna"></p>
            <div class="ConfirmModal_buttonWrapper__1eNGj">
              <button type="button" class="wz button less">취소</button
              ><button type="button" class="wz button primary less">
                확인
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
