<html lang="ko" style="--vh: 7.96px" class="">
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/studio/funding/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://static.wadiz.kr/studio/funding/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://static.wadiz.kr/studio/funding/favicon-16x16.png" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover" />
    <meta name="theme-color" content="#000000" />
    <meta name="wadiz-app-hidden-header" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>리워드 설계 | 와디즈 메이커 스튜디오</title>
    <link
      href="/import/css/6.41bf0148.chunk.css"
      rel="stylesheet" />
    <link
      href="/import/css/main.f4a9cc74.chunk.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/11.40f0f88f.chunk.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/18.2816aefc.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/studio/funding/static/js/18.221f899c.chunk.js"></script>
    <style>
      .css-1hwfws3 {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex: 1 1 0%;
        flex-wrap: wrap;
        padding: 2px 8px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
      }

      .css-1m205as-control {
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 48px;
        position: relative;
        transition: all 100ms ease 0s;
        box-sizing: border-box;
        line-height: 28px;
        letter-spacing: -0.3px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        height: 48px;
        outline: 0px !important;
      }
      .css-2b097c-container {
        position: relative;
        box-sizing: border-box;
      }
      .css-1wy0on6 {
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
      }
      .css-62g3xt-dummyInput {
        background: 0px center;
        border: 0px;
        font-size: inherit;
        outline: 0px;
        padding: 0px;
        width: 1px;
        color: transparent;
        left: -100px;
        opacity: 0;
        position: relative;
        transform: scale(0);
      }
    </style>
  </head>
  <body class="">
    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>
    <div id="root">
      <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <div class="AppLayout_main__14bCi">
          <div th:replace="/fragment/funding_sidebar.html :: sidebar(${fundingMaker.getFid()})"></div>
          <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
            <nav class="ProjectNavbar_container__3ybm3">
              <div
                style="
                  background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg')
                    50% center / contain no-repeat;
                  width: 129px;
                  height: 48px;
                  cursor: pointer;
                "></div>
              <div class="ProjectNavbar_maker__3c-SX">
                <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh">
                  <span></span>
                </div>
                <div>woowang789</div>
              </div>
              <div class="ProjectNavbar_buttonGroup__219eP">
                <button
                  class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG"
                  type="button">
                  <span
                    ><span class="Button_children__q9VCZ">나가기</span></span
                  >
                </button>
              </div>
            </nav>
            <section class="Page_container__1PffN">
              <ol class="Breadcrumb_container__3YjD4">
                <li class="Breadcrumb_item__2r9Ym">프로젝트 관리</li>
                <li class="Breadcrumb_item__2r9Ym">리워드 설계</li>
              </ol>
              <div class="Page_title__1tce_" role="heading" aria-level="2">
                리워드 설계
              </div>
              <div class="Page_description__VzZod">
                서포터님들에게 제공할 리워드를 입력해 주세요.
              </div>

              <div class="Page_content__1d0Vb">
                <section
                  class="FundingConditionGuideSection_container__7ZmHI spacing-8">
                  <div class="FundingConditionGuideSection_content__BPu9e">
                    <h4 class="FundingConditionGuideSection_title__3WoCK">
                      리워드 설계 조건
                    </h4>
                    <ul class="FundingConditionGuideSection_list__2hGJ2">
                      <li class="FundingConditionGuideSection_item__2HEgM">
                        <h5 class="FundingConditionGuideSection_name__2bCqQ">
                          정렬 순서
                        </h5>
                        <p
                          class="FundingConditionGuideSection_description__1NZyz">
                          혜택이 좋은 순서대로 등록해 주세요.
                        </p>
                      </li>
                      <li class="FundingConditionGuideSection_item__2HEgM">
                        <h5 class="FundingConditionGuideSection_name__2bCqQ">
                          제한 수량
                        </h5>
                        <p
                          class="FundingConditionGuideSection_description__1NZyz">
                          각 리워드별 제공할 수 있는 수량을 입력해 주세요.
                          제한된 수량이 모두 소진되면 이 리워드를 선택할 수
                          없어요.
                        </p>
                      </li>
                      <li class="FundingConditionGuideSection_item__2HEgM">
                        <h5 class="FundingConditionGuideSection_name__2bCqQ">
                          발송 시작일
                        </h5>
                        <p
                          class="FundingConditionGuideSection_description__1NZyz">
                          리워드 발송은 모든 서포터님들의 최종 결제가 완료된
                          다음 날(프로젝트 종료일+5영업일째)부터 가능해요.<br />설정한
                          발송 기간 내에 리워드를 발송하지 않으면 서포터님들이
                          환불 신청할 수 있으니 신중하게 설정해 주세요.
                        </p>
                      </li>
                      <li class="FundingConditionGuideSection_item__2HEgM">
                        <h5 class="FundingConditionGuideSection_name__2bCqQ">
                          옵션 조건
                        </h5>
                        <p
                          class="FundingConditionGuideSection_description__1NZyz">
                          사이즈, 색상 등의 옵션 설정이 필요하면 추가해 주세요.
                        </p>
                      </li>
                    </ul>
                  </div>
                </section>
                <section class="Section_container__3md8M">
                  <div style="max-width: 420px">
                    <div class="Section_content__3OkLZ">
                      <section
                        class="FundingConditionControlSection_container__dS_HI spacing-5">
                        <div
                          class="FundingConditionControlSection_inner__2irbO">
                          <div class="AddBox_container__39RWm">
                            <div>
                              <svg
                                viewBox="0 0 32 32"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__3lrgp AddBox_icon__1HBNk"
                                aria-hidden="true"
                                style="
                                  width: 40px;
                                  height: 40px;
                                  color: rgb(173, 181, 189);
                                ">
                                <path
                                  d="M16 1.6C8.047 1.6 1.6 8.047 1.6 16S8.047 30.4 16 30.4 30.4 23.953 30.4 16 23.953 1.6 16 1.6zm8 15.2h-7.2V24h-1.6v-7.2H8v-1.6h7.2V8h1.6v7.2H24z"></path>
                              </svg>
                              <p>리워드를 추가해 주세요</p>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section
                        class="FundingConditionRewardSection_container__a4jlz spacing-9"></section>
                      <button
                        class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_xl__2x3J_ Button_block__2mEqp"
                        type="button">
                        <span
                          ><span class="Button_children__q9VCZ"
                            >저장하기</span
                          ></span
                        >
                      </button>
                    </div>
                  </div>
                </section>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="Toast_toast__1b_B2">
        <div class="Toast_content__G-bTq"></div>
      </div>
    </div>

    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>
    <div class="ReactModalPortal" style="display: none">
      <div
        class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__-jHao waffle__modal__overlay"
        style="background-color: rgba(0, 0, 0, 0.2)">
        <div
          class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_confirmModal__3LOlx ConfirmModal_sizeXl__15YuF FundingConditionRewardModalContainer_container__1Avmk"
          tabindex="-1"
          role="dialog"
          aria-modal="true">
          <div class="ConfirmModal_header__3_Qxt">
            <div class="ConfirmModal_closeIconRoot__1iJoQ">
              <button class="ConfirmModal_closeIconWrapper__3vX7j">
                <svg
                  viewBox="0 0 40 40"
                  focusable="false"
                  role="presentation"
                  class="withIcon_icon__1Oal1 ConfirmModal_closeIcon__3E6vy"
                  aria-hidden="true">
                  <path
                    d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                </svg>
              </button>
            </div>
            <div
              title="리워드 추가"
              class="ConfirmModal_title__sFrkL ConfirmModal_showCloseButton__1P8aT">
              리워드 추가
            </div>
          </div>
          <div class="ConfirmModal_content__1rEr7 ConfirmModal_hasTitle__3Fk6J">
            <div class="spacing-8" style="width: 50%">
              <div
                class="TextField_textField__23rCe TextField_md__2zsQn TextField_right__1qt_G">
                <label>금액</label>
                <div class="TextField_field__1E9vt">
                  <input
                    placeholder="0"
                    type="text"
                    class="Input_input__2kAAL Input_md__3-eZ6"
                    aria-invalid="false"
                    value="" /><span
                    class="TextField_fixedText__2vIuK TextField_endText__3jIeG"
                    >원</span
                  >
                </div>
              </div>
            </div>
            <div
              class="TextField_textField__23rCe TextField_md__2zsQn spacing-8">
              <label>리워드명</label>
              <div class="TextField_field__1E9vt">
                <input
                  placeholder="예시) [얼리버드] 베이지 이불∙베개 1세트"
                  maxlength="60"
                  type="text"
                  class="Input_input__2kAAL Input_md__3-eZ6"
                  aria-invalid="false"
                  value="" />
              </div>
              <em class="HelperMessage_helperMessage__1qZPy">60자 남음</em>
            </div>
            <div
              class="TextField_textField__23rCe TextField_md__2zsQn spacing-8">
              <label>리워드 설명</label>
              <div class="TextField_field__1E9vt">
                <textarea
                  placeholder="리워드 구성과 혜택을 간결하게 설명해 주세요."
                  maxlength="400"
                  rows="3"
                  class="Textarea_textarea__2swOj undefined"></textarea
                ><textarea
                  aria-hidden="true"
                  readonly=""
                  tabindex="-1"
                  class="Textarea_textarea__2swOj undefined"
                  style="
                    visibility: hidden;
                    position: absolute;
                    overflow: hidden;
                    height: 0px;
                    top: 0px;
                    left: 0px;
                    transform: translateZ(0px);
                    pointer-events: none;
                  "></textarea>
              </div>
              <em class="HelperMessage_helperMessage__1qZPy">400자 남음</em>
            </div>
            <div class="select-menu spacing-8" style="width: 50%">
              <div class="label">옵션 설정</div>
              <div class="css-2b097c-container">
                <span
                  aria-live="polite"
                  aria-atomic="false"
                  aria-relevant="additions text"
                  class="css-7pg0cj-a11yText"></span>
                <div class="select-menu__control css-1m205as-control">
                  <div class="select-menu__value-container css-1hwfws3">
                    <div
                      class="select-menu__placeholder css-1wa3eu0-placeholder">
                      선택해 주세요
                    </div>
                    <input
                      id="react-select-14-input"
                      readonly=""
                      tabindex="0"
                      aria-autocomplete="list"
                      class="css-62g3xt-dummyInput"
                      value="" />
                  </div>
                  <div class="select-menu__indicators css-1wy0on6">
                    <span class="select-menu__indicator-separator css-0"></span>
                    <div
                      class="select-menu__indicator select-menu__dropdown-indicator css-egf9x8-indicatorContainer"
                      aria-hidden="true">
                      <svg
                        viewBox="0 0 32 32"
                        focusable="false"
                        role="presentation"
                        class="withIcon_icon__3lrgp"
                        aria-hidden="true"
                        style="color: rgb(134, 142, 150)">
                        <path
                          d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="spacing-8 is-hidden">
              <label class="wz label Label_label__3oH0h">제한 수량 설정</label>
              <div
                class="FundingConditionRewardModalContainer_selectButtonGroup__3KXbf">
                <button
                  class="Button_button__1e2A2 Button_secondary__JuhOu Button_lg__3vRQD Button_startIcon__19sdm FundingConditionRewardModalContainer_button__MT7qc"
                  type="button">
                  <span
                    ><svg
                      viewBox="0 0 48 48"
                      focusable="false"
                      role="presentation"
                      class="withIcon_icon__3lrgp Button_icon__1qsE3"
                      aria-hidden="true"
                      style="color: rgb(173, 181, 189)">
                      <path
                        d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg
                    ><span class="Button_children__q9VCZ"
                      >리워드 단위</span
                    ></span
                  ></button
                ><button
                  class="Button_button__1e2A2 Button_secondary__JuhOu Button_lg__3vRQD Button_startIcon__19sdm FundingConditionRewardModalContainer_button__MT7qc"
                  type="button">
                  <span
                    ><svg
                      viewBox="0 0 48 48"
                      focusable="false"
                      role="presentation"
                      class="withIcon_icon__3lrgp Button_icon__1qsE3"
                      aria-hidden="true"
                      style="color: rgb(173, 181, 189)">
                      <path
                        d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg
                    ><span class="Button_children__q9VCZ">옵션 단위</span></span
                  >
                </button>
              </div>
            </div>
            <div
              class="TextField_textField__23rCe TextField_md__2zsQn spacing-8 is-hidden">
              <label></label>
              <div class="TextField_field__1E9vt">
                <input
                  placeholder="입력해 주세요"
                  type="text"
                  class="Input_input__2kAAL Input_md__3-eZ6"
                  aria-invalid="false"
                  value="" />
              </div>
              <em class="HelperMessage_helperMessage__1qZPy"
                >예시) 한글 10자, 영문 15자 이내의 각인 메시지를 입력해
                주세요.</em
              >
            </div>
            <div class="is-hidden">
              <div
                class="TextField_textField__23rCe TextField_md__2zsQn spacing-8">
                <label>옵션 입력</label>
                <div class="TextField_field__1E9vt">
                  <textarea
                    placeholder="옵션을 입력해 주세요. 옵션은 엔터로 구분할 수 있어요.
                                예시)
                                블랙-230mm
                                화이트-240mm"
                    rows="4"
                    class="Textarea_textarea__2swOj undefined"
                    style="min-height: 160px"></textarea
                  ><textarea
                    aria-hidden="true"
                    readonly=""
                    tabindex="-1"
                    class="Textarea_textarea__2swOj undefined"
                    style="
                      visibility: hidden;
                      position: absolute;
                      overflow: hidden;
                      height: 0px;
                      top: 0px;
                      left: 0px;
                      transform: translateZ(0px);
                      pointer-events: none;
                    "></textarea>
                </div>
              </div>
              <div class="select-menu spacing-8" style="width: 50%">
                <div class="label">옵션 목록</div>
                <div class="select-menu--is-disabled css-14jk2my-container">
                  <span
                    aria-live="polite"
                    aria-atomic="false"
                    aria-relevant="additions text"
                    class="css-7pg0cj-a11yText"></span>
                  <div
                    class="select-menu__control select-menu__control--is-disabled css-fz5uxt-control">
                    <div class="select-menu__value-container css-1hwfws3">
                      <div
                        class="select-menu__placeholder css-1wa3eu0-placeholder">
                        옵션 미리 보기
                      </div>
                      <input
                        id="react-select-15-input"
                        readonly=""
                        disabled=""
                        tabindex="0"
                        aria-autocomplete="list"
                        class="css-62g3xt-dummyInput"
                        value="" />
                    </div>
                    <div class="select-menu__indicators css-1wy0on6">
                      <span
                        class="select-menu__indicator-separator css-0"></span>
                      <div
                        class="select-menu__indicator select-menu__dropdown-indicator css-egf9x8-indicatorContainer"
                        aria-hidden="true">
                        <svg
                          viewBox="0 0 32 32"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__3lrgp"
                          aria-hidden="true"
                          style="color: rgb(134, 142, 150)">
                          <path
                            d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="FundingConditionRewardOptionSettingContainer_container__1lKeh spacing-8 is-hidden">
              <label class="wz label Label_label__3oH0h">옵션 입력</label>
              <div
                class="FundingConditionRewardOptionSettingFieldDesktop_container__2KOHQ spacing-6">
                <div
                  class="TextField_textField__23rCe TextField_md__2zsQn FundingConditionRewardOptionSettingFieldDesktop_textField__8TXpt">
                  <label>옵션명</label>
                  <div class="TextField_field__1E9vt">
                    <input
                      name="reward.optionSettings[0].optionName"
                      placeholder="예시) 색상"
                      maxlength="16"
                      type="text"
                      class="Input_input__2kAAL Input_md__3-eZ6"
                      aria-invalid="false"
                      value="" />
                  </div>
                </div>
                <div
                  class="TextField_textField__23rCe TextField_md__2zsQn FundingConditionRewardOptionSettingFieldDesktop_textField__8TXpt">
                  <label
                    ><div>
                      <button
                        type="button"
                        class="Tooltip_button__26Zz0"
                        title="옵션 값"
                        aria-describedby="Tooltip_4">
                        <span class="Tooltip_label__1s0-R">옵션 값</span
                        ><span class="Tooltip_helpIconWrap__3JEtO"
                          ><svg
                            viewBox="0 0 40 40"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__1Oal1 Tooltip_helpOutlineIcon__34Kpp"
                            aria-hidden="true">
                            <path fill="none" d="M0 0h40v40H0z"></path>
                            <path
                              d="M20 39a19 19 0 1 1 19-19 19.06 19.06 0 0 1-19 19zm0-36a17 17 0 1 0 17 17A17 17 0 0 0 20 3z"></path>
                            <path
                              d="M24.34 10A5.75 5.75 0 0 0 20 8.33a5.7 5.7 0 0 0-6 6h2a3.7 3.7 0 0 1 4-4 3.7 3.7 0 0 1 4 4A4.29 4.29 0 0 1 22 18l-.7.6a6.51 6.51 0 0 0-2.3 5.7h2c0-1.9 0-2.6 1.7-4.3l.6-.5a6.28 6.28 0 0 0 2.7-5.2 5.73 5.73 0 0 0-1.66-4.3zM20 26.87a1.8 1.8 0 1 0 0 3.6 1.8 1.8 0 1 0 0-3.6z"></path></svg
                          ><svg
                            viewBox="0 0 40 40"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__1Oal1 Tooltip_helpIcon__MM_KL"
                            aria-hidden="true">
                            <path fill="none" d="M0 0h40v40H0z"></path>
                            <path
                              d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm0 29.5a1.8 1.8 0 1 1 1.8-1.79 1.8 1.8 0 0 1-1.8 1.75zm6-16.13a6.28 6.28 0 0 1-2.7 5.2l-.6.5c-1.7 1.7-1.7 2.4-1.7 4.3h-2a6.51 6.51 0 0 1 2.3-5.7L22 18a4.29 4.29 0 0 0 2-3.7 3.7 3.7 0 0 0-4-4 3.7 3.7 0 0 0-4 4h-2a5.7 5.7 0 0 1 6-6 5.7 5.7 0 0 1 6 6z"></path></svg
                        ></span>
                      </button></div
                  ></label>
                  <div class="TextField_field__1E9vt">
                    <input
                      placeholder="예시) 블랙,화이트,레드"
                      type="text"
                      class="Input_input__2kAAL Input_md__3-eZ6"
                      aria-invalid="false"
                      value="" />
                  </div>
                </div>
                <button
                  class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_contained__TTXSM Button_md__1FRMG Button_iconOnly__34khK iconButton"
                  type="button">
                  <span
                    ><span class="Button_children__q9VCZ"
                      ><svg
                        viewBox="0 0 32 32"
                        focusable="false"
                        role="presentation"
                        class="withIcon_icon__3lrgp"
                        aria-hidden="true"
                        style="width: 20px; height: 20px">
                        <path
                          d="M30.4 15.2H16.8V1.6h-1.6v13.6H1.6v1.6h13.6v13.6h1.6V16.8h13.6v-1.6z"></path></svg></span
                  ></span>
                </button>
              </div>
              <button
                class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_lg__3vRQD Button_endIcon__3ZOY3 Button_block__2mEqp Button_disabled__3x0Tg update-button"
                type="button"
                disabled="">
                <span
                  ><span class="Button_children__q9VCZ">옵션 목록 적용</span
                  ><svg
                    viewBox="0 0 32 32"
                    focusable="false"
                    role="presentation"
                    class="withIcon_icon__3lrgp Button_icon__1qsE3"
                    aria-hidden="true">
                    <path
                      d="M15.2 4.8v19.36l-8.48-8.48L5.6 16.8 16 27.2l10.4-10.4-1.12-1.12-8.48 8.48V4.8h-1.6z"></path></svg
                ></span>
              </button>
            </div>
            <div
              class="FundingConditionRewardOptionsContainer_container__2WAym is-hidden spacing-8">
              <label class="wz label Label_label__3oH0h"
                >옵션 목록 (총 <data value="0">0</data>개)</label
              >
              <div
                class="FundingConditionRewardOptionsContainer_toolbar__2GNM5">
                <button
                  class="Button_button__1e2A2 Button_secondary__JuhOu Button_sm__dnvmq Button_disabled__3x0Tg"
                  type="button"
                  disabled="">
                  <span
                    ><span class="Button_children__q9VCZ"
                      >선택 목록 삭제</span
                    ></span
                  >
                </button>
                <div
                  class="FundingConditionRewardOptionsContainer_inputFieldGroup__BLocU is-hidden">
                  <div
                    class="FundingConditionRewardOptionsContainer_label__1KZTo">
                    제한 수량
                  </div>
                  <input
                    placeholder="옵션별 제한 수량"
                    maxlength="6"
                    type="text"
                    class="Input_input__2kAAL Input_sm__3Y9Qi"
                    aria-invalid="false"
                    value=""
                    style="width: 176px" /><button
                    class="Button_button__1e2A2 Button_secondary__JuhOu Button_contained__TTXSM Button_md__1FRMG Button_disabled__3x0Tg"
                    type="button"
                    disabled="">
                    <span
                      ><span class="Button_children__q9VCZ"
                        >선택 목록 일괄 적용</span
                      ></span
                    >
                  </button>
                </div>
              </div>
              <div class="table">
                <div class="ant-table-wrapper css-9ntgx0">
                  <div class="ant-spin-nested-loading css-9ntgx0">
                    <div class="ant-spin-container">
                      <div
                        class="ant-table ant-table-bordered ant-table-empty ant-table-fixed-header ant-table-fixed-column ant-table-scroll-horizontal ant-table-has-fix-left">
                        <div class="ant-table-container">
                          <div
                            class="ant-table-header"
                            style="overflow: hidden">
                            <table style="table-layout: fixed">
                              <thead class="ant-table-thead">
                                <tr>
                                  <th
                                    scope="col"
                                    class="ant-table-cell ant-table-selection-column ant-table-cell-fix-left ant-table-cell-fix-left-last"
                                    style="position: sticky; left: 0px">
                                    <div class="ant-table-selection">
                                      <label
                                        class="ant-checkbox-wrapper ant-checkbox-wrapper-disabled css-9ntgx0"
                                        ><span
                                          class="ant-checkbox css-9ntgx0 ant-checkbox-disabled"
                                          ><input
                                            type="checkbox"
                                            disabled=""
                                            class="ant-checkbox-input"
                                            aria-label="Select all"
                                            value="" /><span
                                            class="ant-checkbox-inner"></span></span
                                      ></label>
                                    </div>
                                  </th>
                                  <th
                                    scope="col"
                                    class="ant-table-cell"
                                    style="text-align: center">
                                    옵션명
                                  </th>
                                  <td
                                    class="ant-table-cell ant-table-cell-scrollbar"></td>
                                </tr>
                              </thead>
                            </table>
                          </div>
                          <div
                            class="ant-table-body"
                            style="overflow: auto scroll; max-height: 420px">
                            <table
                              style="
                                width: max-content;
                                min-width: 100%;
                                table-layout: auto;
                              ">
                              <colgroup>
                                <col
                                  class="ant-table-selection-col"
                                  style="width: 8%" />
                              </colgroup>
                              <tbody class="ant-table-tbody">
                                <tr
                                  aria-hidden="true"
                                  class="ant-table-measure-row"
                                  style="height: 0px; font-size: 0px">
                                  <td
                                    style="
                                      padding: 0px;
                                      border: 0px;
                                      height: 0px;
                                    ">
                                    <div style="height: 0px; overflow: hidden">
                                      &nbsp;
                                    </div>
                                  </td>
                                  <td
                                    style="
                                      padding: 0px;
                                      border: 0px;
                                      height: 0px;
                                    ">
                                    <div style="height: 0px; overflow: hidden">
                                      &nbsp;
                                    </div>
                                  </td>
                                </tr>
                                <tr class="ant-table-placeholder">
                                  <td colspan="2" class="ant-table-cell">
                                    <div
                                      class="ant-table-expanded-row-fixed"
                                      style="
                                        width: 0px;
                                        position: sticky;
                                        left: 0px;
                                        overflow: hidden;
                                      "></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <em
                class="HelperMessage_helperMessage__1qZPy HelperMessage_error__2qxyN"></em>
            </div>
            <div class="spacing-8 is-hidden" style="width: 50%">
              <div
                class="TextField_textField__23rCe TextField_md__2zsQn TextField_right__1qt_G">
                <label>제한 수량</label>
                <div class="TextField_field__1E9vt">
                  <input
                    placeholder="0"
                    type="text"
                    class="Input_input__2kAAL Input_md__3-eZ6"
                    aria-invalid="false"
                    value="" /><span
                    class="TextField_fixedText__2vIuK TextField_endText__3jIeG"
                    >개</span
                  >
                </div>
              </div>
            </div>
            <div
              class="FundingConditionRewardModalContainer_buttonGroup__3TYhj">
              <button
                class="Button_button__1e2A2 Button_secondary__JuhOu Button_lg__3vRQD Button_block__2mEqp"
                type="button">
                <span
                  ><span class="Button_children__q9VCZ">취소</span></span
                ></button
              ><button
                class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_lg__3vRQD Button_block__2mEqp"
                type="button">
                <span><span class="Button_children__q9VCZ">추가</span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
