<html lang="ko" style="--vh: 7.96px" class="add-actionbar">
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/studio/funding/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://static.wadiz.kr/studio/funding/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://static.wadiz.kr/studio/funding/favicon-16x16.png" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>와디즈 메이커 스튜디오</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <link
      href="/import/css/main.f4a9cc74.chunk.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/11.40f0f88f.chunk.css" />
  </head>
  <body class="ReactModal__Body--open" aria-hidden="true">
    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>
    <div id="root">
      <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <div class="AppNavbar_container__5uOnI">
          <div
            style="
              background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg')
                50% center / contain no-repeat;
              width: 129px;
              height: 48px;
              cursor: pointer;
            "></div>
          <div class="AppNavbar_maker__2WVfm">
            <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh">
              <span></span>
            </div>
            <div th:text="${#authentication.principal.member.mname}">woowang789</div>
          </div>
          <div class="AppNavbar_buttonGroup__UcLfm">
            <button
              class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG"
              type="button">
              <span><span class="Button_children__q9VCZ">나가기</span></span>
            </button>
          </div>
        </div>
        <div class="AppLayout_main__14bCi">
          <div th:replace="/fragment/funding_sidebar.html :: sidebar(${fundingMaker.getFid()})"></div>
          <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
            <div class="FundingContainer_wrapper__3FtZE">
              <div class="FundingHeader_container__2vEbt">
                <h2 class="FundingHeader_title__19M9i">프로젝트 관리</h2>
                <p class="FundingHeader_description__1vRHW">
                  프로젝트를 공개하는 데 필요한 내용을 작성해 주세요.
                </p>
              </div>
              <div class="FundingLayout_container___Cixh">
                <div class="FundingLayout_contents__12sTn">
                  <div class="FundingStatus_container__3bqGB">
                    <div class="FundingStatus_label__393mk">
                      프로젝트 준비 상태
                    </div>
                    <div class="FundingStatus_statusView__D10Ag"></div>
                    <div class="FundingStatus_statusView__D10Ag">
<!--                      <div class="FundingStatus_icon__1Xrqx red"></div>-->
                      <span th:if="${fundingMaker.getFstatus().toString() == 'PREPARING'}">준비 중</span>
                      <span th:if="${fundingMaker.getFstatus().toString() == 'PARTICIPATE'}">심사 중</span>
                      <span th:if="${fundingMaker.getFstatus().toString() == 'FUNDING'}">펀딩 중</span>
                      <span th:if="${fundingMaker.getFstatus().toString() == 'STORE'}">판매 중</span>
                      <span th:if="${fundingMaker.getFstatus().toString() == 'FAIL'}">펀딩 실패</span>
                      <span th:if="${fundingMaker.getFstatus().toString() == 'END'}">판매 종료</span>
                    </div>
                    <div class="FundingStatus_guide__37jtT">
                      아래의 필수 항목들이 모두 작성 완료 상태로 바뀌면
                      [제출하기]를 누를 수 있어요.
                    </div>
                  </div>
                  <div class="FundingContainer_listContainer__1jw_z">
                    <div>
                      <div
                        class="PageMenuList_card__1VyAW PageMenuList_wadizColor__3nQuN">
                        <div class="PageMenuList_container__1xz-L">
                          <div class="PageMenuList_name__2nKKm">기본 정보</div>
                          <div class="PageMenuList_status__3M6fF PageMenuList_wadizColor__3nQuN">
                            <span th:unless="${fundingMaker.getCtid()!='' && fundingMaker.getFstore_name()!='' && fundingMaker.getFthumb()!=''}">작성 전</span>
                            <span th:if="${fundingMaker.getCtid()!='' && fundingMaker.getFstore_name()!='' && fundingMaker.getFthumb()!=''}"
                            style="color:gray">작성완료</span>
                          </div>
                          <a
                            class="PageMenuList_buttonWrapper__3PXAt"
                            th:href="|/web/mypage/maker/funding/${fundingMaker.getFid()}/baseInfo|"
                            ><button type="button" class="wz button">
                              <span th:unless="${fundingMaker.getCtid()!='' && fundingMaker.getFstore_name()!='' && fundingMaker.getFthumb()!=''}">작성하기</span>
                              <span th:if="${fundingMaker.getCtid()!='' && fundingMaker.getFstore_name()!='' && fundingMaker.getFthumb()!=''}">수정하기</span>
                            </button></a>
                        </div>
                      </div>
                      <div
                        class="PageMenuList_card__1VyAW PageMenuList_wadizColor__3nQuN">
                        <div class="PageMenuList_container__1xz-L">
                          <div class="PageMenuList_name__2nKKm">
                            스토리 작성
                          </div>
                          <div
                            class="PageMenuList_status__3M6fF PageMenuList_wadizColor__3nQuN">
                            <span th:unless="${fundingMaker.isHasImg() && fundingMaker.getFsummary()!='' && fundingMaker.getFstory()!=''}">작성 전</span>
                            <span style="color:gray"
                                 th:if="${fundingMaker.isHasImg() && fundingMaker.getFsummary()!='' && fundingMaker.getFstory()!=''}">작성완료</span>
                          </div>
                          <a
                            class="PageMenuList_buttonWrapper__3PXAt"
                            th:href="|/web/mypage/maker/funding/${fundingMaker.getFid()}/story|"
                            ><button type="button" class="wz button">
                            <span th:unless="${fundingMaker.isHasImg() && fundingMaker.getFsummary()!='' && fundingMaker.getFstory()!=''}">작성하기</span>
                            <span th:if="${fundingMaker.isHasImg() && fundingMaker.getFsummary()!='' && fundingMaker.getFstory()!=''}">수정하기</span>
                            </button></a>
                        </div>
                      </div>
                      <div
                        class="PageMenuList_card__1VyAW PageMenuList_wadizColor__3nQuN">
                        <div class="PageMenuList_container__1xz-L">
                          <div class="PageMenuList_name__2nKKm">
                            리워드 설계
                          </div>
                          <div
                            class="PageMenuList_status__3M6fF PageMenuList_wadizColor__3nQuN">
                            <span th:if="${!fundingMaker.isHasProduct()}">작성 전</span>
                            <span style="color:gray"
                                    th:unless="${!fundingMaker.isHasProduct()}">작성완료</span>
                          </div>
                          <a
                            class="PageMenuList_buttonWrapper__3PXAt"
                            th:href="|/web/mypage/maker/funding/${fundingMaker.getFid()}/reward|"
                            ><button type="button" class="wz button">
                            <span th:if="${!fundingMaker.isHasProduct()}">작성하기</span>
                            <span th:if="${fundingMaker.isHasProduct()}">수정하기</span>
                            </button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="FundingSubmit_container__3kwkh">
                    <button th:if="${#strings.equals(fundingMaker.getFstatus(),'PREPARING')}"
                      type="button"
                      th:class="'submitBtn wz button primary FundingSubmit_button__1Qs0d '+
                        ${fundingMaker.getFstatus() == 'PREPARING' &&
                    fundingMaker.getCtid()=='' || fundingMaker.getFstore_name()=='' || fundingMaker.getFthumb()=='' ||
                    !fundingMaker.isHasImg() || fundingMaker.getFsummary()=='' || fundingMaker.getFstory()=='' ||
                    !fundingMaker.isHasProduct()?'disabled':''}">
                      제출하기
                    </button>
                    <button
                            th:if="${#strings.equals(fundingMaker.getFstatus(),'PARTICIPATE')}"
                            type="button"
                            class="submitBtn wz button disabled primary FundingSubmit_button__1Qs0d">
                      제출완료
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Toast_toast__1b_B2">
        <div class="Toast_content__G-bTq"></div>
      </div>
    </div>

  <script>
    let fid = '[[${fundingMaker.getFid()}]]'

    $(document).ready(function (){
      console.log('tt');
    })
    $(document).on('click','.submitBtn',function(e){
      sendDocument();
    })

    function sendDocument(){
      $.ajax({
        url : `/api/mypage/maker/funding/${fid}/submit`,
        type: 'post',
        dataType : 'text',
        success : function(data){
          console.log(data);
          location.reload();
        }
      })
    }
  </script>
  </body>
</html>
