<html lang="ko" style="--vh: 7.96px">
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/studio/funding/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://static.wadiz.kr/studio/funding/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://static.wadiz.kr/studio/funding/favicon-16x16.png" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover" />
    <meta name="theme-color" content="#000000" />
    <meta name="wadiz-app-hidden-header" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>스토리 작성 | 와디즈 메이커 스튜디오</title>

    <link
      href="/import/css/6.41bf0148.chunk.css"
      rel="stylesheet" />
    <link
      href="/import/css/main.f4a9cc74.chunk.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/studio/funding/static/css/2.4e40d539.chunk.css" />
    <!-- import 하면 인코딩 깨짐 -->

    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/8.30afc8ef.chunk.css" />
    </head>
  <body class="ReactModal__Body--open" aria-hidden="true">
    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>
    <div id="root">
      <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <div class="AppLayout_main__14bCi">
          <div th:replace="/fragment/funding_sidebar.html :: sidebar(${fundingStory.getFid()})"></div>
          <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
            <div id="container" class="ContentsLayout_container__11k-W">
              <div class="FundingStoryContainer_container__33WY0">
                <ol class="Breadcrumb_container__3YjD4">
                  <li class="Breadcrumb_item__2r9Ym">프로젝트 관리</li>
                  <li class="Breadcrumb_item__2r9Ym">스토리 작성</li>
                </ol>
                <nav class="DetailNavbar_container__3SkEf">
                  <div class="AppNavbar_container__5uOnI">
                    <div
                      style="
                        background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg')
                          50% center / contain no-repeat;
                        width: 129px;
                        height: 48px;
                        cursor: pointer;
                      "></div>
                    <div class="AppNavbar_maker__2WVfm">
                      <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh">
                        <span></span>
                      </div>
                      <div>woowang789</div>
                    </div>
                    <div class="AppNavbar_buttonGroup__UcLfm">
                      <button
                        class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG"
                        type="button">
                        <span
                          ><span class="Button_children__q9VCZ"
                            >나가기</span
                          ></span
                        >
                      </button>
                    </div>
                  </div>
                </nav>
                <div class="HeaderLayout_container__3fXkO">
                  <div class="HeaderLayout_contents__F4hlC">
                    <h2 class="FundingStoryContainer_title__1r0ZE">
                      스토리 작성
                    </h2>
                    <p class="FundingStoryContainer_description__1sMTR">
                      메이커님의 프로젝트를 소개해 주세요.
                    </p>
                  </div>
                </div>
                <form
                  class="wz form FundingStoryFormContainer_form__326Zc Form_form__3ASTU">
                  <div class="Loader_loader__d9YUC Form_loader__1YJ5I"></div>
                  <section class="Section_container__3md8M spacing-4" style="">
                    <div style="max-width: 600px">
                      <div class="Section_header__1qwS7 spacing-4">
                        <h2
                                class="Section_title__ikPIm Section_isRequired__F8rij">
                          프로젝트 제목
                        </h2>
                        <div class="Section_guide__2xeJO"></div>
                      </div>
                      <div class="Section_content__3OkLZ">
                        <div
                                class="TextField_textField__23rCe TextField_md__2zsQn">
                          <label></label>
                          <div class="TextField_field__1E9vt">
                            <input
                                   placeholder="제목을 입력해 주세요"
                                   maxlength="40"
                                   type="text"
                                   class="Input_input__2kAAL Input_md__3-eZ6"
                                   aria-invalid="false"
                                   value="" />
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
                  <section class="Section_container__3md8M">
                    <div style="max-width: 600px">
                      <div class="Section_header__1qwS7">
                        <h2
                          class="Section_title__ikPIm Section_isRequired__F8rij">
                          소개 사진 등록
                        </h2>
                        <div class="Section_guide__2xeJO"></div>
                      </div>
                      <div class="Section_description__10Uwo">
                        프로젝트의 맨 위에서 가장 먼저 보여 주고 싶은 영상이나
                        사진을 등록해 주세요.
                      </div>
                      <div class="Section_content__3OkLZ">
                        <div class="StoryVideoOrImageField_container__1lnfV">
                          <div
                            class="field Form_field__35I9T required ImageFormField_field__X1jTW StoryImageField_field__3O6yy">
                            <div class="ImageFormField_buttonWrapper__su3pO">
                              <label
                                class="wz label ImageFileButton_label__3thB2 Label_label__3oH0h"
                                ><button
                                  type="button"
                                  class="wz button gray ImageFileButton_button__3gAHD">
                                  <i
                                    class="icon-camera-o"
                                    aria-hidden="true"></i
                                  >등록하기
                                </button>
                                <div
                                  class="wz input right ImageFileButton_input__1Dnch">
                                  <input
                                    accept="image/JPG,image/JPEG,image/GIF,image/PNG"
                                    name="uploadFile"
                                    placeholder=""
                                    type="file"
                                    value="" /></div></label
                              ><em class="helper error"></em
                              ><em class="helper ImageFormField_helper__3XC5c"
                                >2MB 이하의 JPG, JPEG, GIF, PNG 파일</em
                              ><em class="helper ImageFormField_helper__3XC5c"
                                >해상도 630x400 픽셀 이상</em
                              ><em class="helper ImageFormField_helper__3XC5c"
                                >여러 장 등록돼요.</em
                              >
                            </div>

                            <!-- 등록한 이미지 확인 -->
                            <div class="ImageFormField_imageWrapper__3Y_F5" th:each=" fImg : ${fundingStory.getImgs()}">
                              <div class="ImageBox_container__gwruR">
                                <div alt="logo" class="ImageBox_preview__10fos" style="width: 312px; height: 174px;">
                                  <i class="icon-image-o ImageBox_icon__1C0qm" aria-hidden="true"></i>
                                  <div class="ImageBox_image__3Nt8h" style="" th:style="|background-image: url('${fImg.fiurl}');|"></div>
                                </div>
                                <button type="button" class="wz button less icon mini ImageBox_button__c8WR7" th:data-id="${fImg.fiid}">
                                <i class="icon-close" aria-hidden="true"></i></button>
                              </div>
                            </div>
                          </div>
                          <!-- 등록된 이미지 인풋 -->
                          <input type="hidden" th:each=" fImg : ${fundingStory.getImgs()}" th:value="${fImg.fiurl}" th:id="'input_'+${fImg.fiid}">
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="Section_container__3md8M">
                    <div style="max-width: 600px">
                      <div class="Section_header__1qwS7">
                        <h2
                          class="Section_title__ikPIm Section_isRequired__F8rij">
                          프로젝트 요약
                        </h2>
                        <div class="Section_guide__2xeJO"></div>
                      </div>
                      <div class="Section_description__10Uwo">
                        소개 영상이나 사진과 함께 보이는 글이에요. 프로젝트를
                        쉽고 간결하게 소개해 주세요.
                      </div>
                      <div class="Section_content__3OkLZ">
                        <div class="StorySummaryField_container__25ePA">
                          <div
                            class="field Form_field__35I9T FormFieldTextarea_field__33Ncu">
                            <div class="wide column-2"></div>
                            <div class="wide column-4">
                              <div class="wz input">
                                <textarea
                                  placeholder="내용 입력"
                                  maxlength="100"
                                  name="storyInfo.coreMessage"
                                  th:text="${fundingStory.getFstory()}"
                                  rows="3"></textarea>
                              </div>
                              <em class="helper FormFieldTextarea_helper__3-iK_"
                                >100자 남음</em
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <section
                    class="Section_container__3md8M StoryEditorWrapperItemWeb_container__3bMs8"
                    style="max-width: 720px">
                    <div class="Section_header__1qwS7 spacing-4">
                      <h2
                        class="Section_title__ikPIm Section_isRequired__F8rij">
                        프로젝트 스토리
                      </h2>
                    </div>
                    <div class="Section_content__3OkLZ">
                      <div
                        class="WYSIWYGEditor_container__3MZO0 StoryEditorWrapperItemWeb_editor__3AvV7">
                        <button
                          type="button"
                          class="wz button less WYSIWYGEditor_editButton__1MLjp">
                          미리 보기
                        </button>
                        <div
                          class="WYSIWYGEditor_editor__V4Eam WYSIWYGEditor_disabled__1KqRM">
                          <div class="wysiwyg-editor">
                            <div
                              class="fr-box fr-basic fr-top"
                              role="application">
                              <div
                                class="fr-toolbar fr-desktop fr-top fr-basic">
                                <div class="fr-btn-grp fr-float-left">
                                  <button
                                    id="paragraphFormat-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    aria-controls="dropdown-menu-paragraphFormat-1"
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    title="문단 스타일"
                                    class="fr-command fr-btn fr-dropdown fr-selection"
                                    data-cmd="paragraphFormat">
                                    <span style="width: 80px">문단 스타일</span>
                                  </button>
                                  <div
                                    id="dropdown-menu-paragraphFormat-1"
                                    class="fr-dropdown-menu"
                                    role="listbox"
                                    aria-labelledby="paragraphFormat-1"
                                    aria-hidden="true">
                                    <div
                                      class="fr-dropdown-wrapper"
                                      role="presentation">
                                      <div
                                        class="fr-dropdown-content"
                                        role="presentation">
                                        <ul
                                          class="fr-dropdown-list"
                                          role="presentation">
                                          <li role="presentation">
                                            <h1
                                              style="
                                                padding: 0 !important;
                                                margin: 0 !important;
                                                border: 0 !important;
                                                background-color: transparent !important;
                                                font-weight: bold !important;
                                                font-size: 2em !important;
                                              "
                                              role="presentation">
                                              <a
                                                class="fr-command"
                                                tabindex="-1"
                                                role="option"
                                                data-cmd="paragraphFormat"
                                                data-param1="H1"
                                                title="대제목 1"
                                                >대제목 1</a
                                              >
                                            </h1>
                                          </li>
                                          <li role="presentation">
                                            <h2
                                              style="
                                                padding: 0 !important;
                                                margin: 0 !important;
                                                border: 0 !important;
                                                background-color: transparent !important;
                                                font-weight: bold !important;
                                                font-size: 1.5em !important;
                                              "
                                              role="presentation">
                                              <a
                                                class="fr-command"
                                                tabindex="-1"
                                                role="option"
                                                data-cmd="paragraphFormat"
                                                data-param1="H2"
                                                title="대제목 2"
                                                >대제목 2</a
                                              >
                                            </h2>
                                          </li>
                                          <li role="presentation">
                                            <h3
                                              style="
                                                padding: 0 !important;
                                                margin: 0 !important;
                                                border: 0 !important;
                                                background-color: transparent !important;
                                                font-weight: bold !important;
                                                font-size: 1.17em !important;
                                              "
                                              role="presentation">
                                              <a
                                                class="fr-command"
                                                tabindex="-1"
                                                role="option"
                                                data-cmd="paragraphFormat"
                                                data-param1="H3"
                                                title="대제목 3"
                                                >대제목 3</a
                                              >
                                            </h3>
                                          </li>
                                          <li role="presentation">
                                            <h4
                                              style="
                                                padding: 0 !important;
                                                margin: 0 !important;
                                                border: 0 !important;
                                                background-color: transparent !important;
                                                font-weight: bold !important;
                                                font-size: 15px !important;
                                              "
                                              role="presentation">
                                              <a
                                                class="fr-command"
                                                tabindex="-1"
                                                role="option"
                                                data-cmd="paragraphFormat"
                                                data-param1="H4"
                                                title="소제목"
                                                >소제목</a
                                              >
                                            </h4>
                                          </li>
                                          <li role="presentation">
                                            <p
                                              style="
                                                padding: 0 !important;
                                                margin: 0 !important;
                                                border: 0 !important;
                                                background-color: transparent !important;
                                                font-size: 15px;
                                              "
                                              role="presentation">
                                              <a
                                                class="fr-command"
                                                tabindex="-1"
                                                role="option"
                                                data-cmd="paragraphFormat"
                                                data-param1="N"
                                                title="본문"
                                                >본문</a
                                              >
                                            </p>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <button
                                    id="bold-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    aria-pressed="false"
                                    title="굵게 (⌘B)"
                                    class="fr-command fr-btn"
                                    data-cmd="bold">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M15.25,11.8h0A3.68,3.68,0,0,0,17,9a3.93,3.93,0,0,0-3.86-4H6.65V19h7a3.74,3.74,0,0,0,3.7-3.78V15.1A3.64,3.64,0,0,0,15.25,11.8ZM8.65,7h4.2a2.09,2.09,0,0,1,2,1.3,2.09,2.09,0,0,1-1.37,2.61,2.23,2.23,0,0,1-.63.09H8.65Zm4.6,10H8.65V13h4.6a2.09,2.09,0,0,1,2,1.3,2.09,2.09,0,0,1-1.37,2.61A2.23,2.23,0,0,1,13.25,17Z"></path>
                                      </svg>
                                      <label aria-hidden="true">굵게</label>
                                    </i>
                                    <span class="fr-sr-only">굵게</span></button
                                  ><button
                                    id="underline-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    aria-pressed="false"
                                    title="밑줄 (⌘U)"
                                    class="fr-command fr-btn"
                                    data-cmd="underline">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M19,20v2H5V20Zm-3-6.785a4,4,0,0,1-5.74,3.4A3.75,3.75,0,0,1,8,13.085V5.005H6v8.21a6,6,0,0,0,8,5.44,5.851,5.851,0,0,0,4-5.65v-8H16ZM16,5v0h2V5ZM8,5H6v0H8Z"></path>
                                      </svg>
                                      <label aria-hidden="true">밑줄</label>
                                    </i>
                                    <span class="fr-sr-only">밑줄</span></button
                                  ><button
                                    id="quote-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="인용"
                                    class="fr-command fr-btn"
                                    data-cmd="quote">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M10.31788,5l.93817,1.3226A12.88271,12.88271,0,0,0,8.1653,9.40125a5.54242,5.54242,0,0,0-.998,3.07866v.33733q.36089-.04773.66067-.084a4.75723,4.75723,0,0,1,.56519-.03691,2.87044,2.87044,0,0,1,2.11693.8427,2.8416,2.8416,0,0,1,.8427,2.09274,3.37183,3.37183,0,0,1-.8898,2.453A3.143,3.143,0,0,1,8.10547,19,3.40532,3.40532,0,0,1,5.375,17.7245,4.91156,4.91156,0,0,1,4.30442,14.453,9.3672,9.3672,0,0,1,5.82051,9.32933,14.75716,14.75716,0,0,1,10.31788,5Zm8.39243,0,.9369,1.3226a12.88289,12.88289,0,0,0-3.09075,3.07865,5.54241,5.54241,0,0,0-.998,3.07866v.33733q.33606-.04773.63775-.084a4.91773,4.91773,0,0,1,.58938-.03691,2.8043,2.8043,0,0,1,2.1042.83,2.89952,2.89952,0,0,1,.80578,2.10547,3.42336,3.42336,0,0,1-.86561,2.453A3.06291,3.06291,0,0,1,16.49664,19,3.47924,3.47924,0,0,1,13.742,17.7245,4.846,4.846,0,0,1,12.64721,14.453,9.25867,9.25867,0,0,1,14.17476,9.3898,15.26076,15.26076,0,0,1,18.71031,5Z"></path>
                                      </svg>
                                      <label aria-hidden="true">인용</label>
                                    </i>
                                    <span class="fr-sr-only">인용</span></button
                                  ><button
                                    id="textColor-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="색상"
                                    class="fr-command fr-btn"
                                    data-cmd="textColor"
                                    data-popup="true">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M15.2,13.494s-3.6,3.9-3.6,6.3a3.65,3.65,0,0,0,7.3.1v-.1C18.9,17.394,15.2,13.494,15.2,13.494Zm-1.47-1.357.669-.724L12.1,5h-2l-5,14h2l1.43-4h2.943A24.426,24.426,0,0,1,13.726,12.137ZM11.1,7.8l1.86,5.2H9.244Z"></path>
                                      </svg>
                                      <label aria-hidden="true">색상</label>
                                    </i>
                                    <span class="fr-sr-only">색상</span></button
                                  ><button
                                    id="highlighter-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="형광펜"
                                    class="fr-command fr-btn"
                                    data-cmd="highlighter">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M12.6,6.4l4.2,4.2l-8.5,8.5L3.2,20l0.9-5.1L12.6,6.4z M15,4l4.2,4.2l-1.8,1.8l-4.2-4.2L15,4z M10.4,18.4h10.4V20H10.4V18.4z"></path>
                                      </svg>
                                      <label aria-hidden="true">형광펜</label>
                                    </i>
                                    <span class="fr-sr-only"
                                      >형광펜</span
                                    ></button
                                  ><button
                                    id="align-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    aria-controls="dropdown-menu-align-1"
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    title="정렬"
                                    class="fr-command fr-btn fr-dropdown"
                                    data-cmd="align">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M3,18h18v-2H3V18z M3,11v2h18v-2H3z M3,6v2h18V6H3z"></path>
                                      </svg>
                                      <label aria-hidden="true">정렬</label>
                                    </i>
                                    <span class="fr-sr-only">정렬</span>
                                  </button>
                                  <div
                                    id="dropdown-menu-align-1"
                                    class="fr-dropdown-menu"
                                    role="listbox"
                                    aria-labelledby="align-1"
                                    aria-hidden="true">
                                    <div
                                      class="fr-dropdown-wrapper"
                                      role="presentation">
                                      <div
                                        class="fr-dropdown-content"
                                        role="presentation">
                                        <ul
                                          class="fr-dropdown-list"
                                          role="presentation">
                                          <li role="presentation">
                                            <a
                                              class="fr-command fr-title"
                                              tabindex="-1"
                                              role="option"
                                              data-cmd="align"
                                              data-param1="
        left"
                                              title="왼쪽 정렬">
                                              <i aria-hidden="true">
                                                <svg viewBox="0 0 24 24">
                                                  <path
                                                    d="M3,18h6v-2H3V18z M3,11v2h12v-2H3z M3,6v2h18V6H3z"></path>
                                                </svg>
                                                <label aria-hidden="true"
                                                  >왼쪽 정렬</label
                                                >
                                              </i>
                                              <span class="fr-sr-only">
                                                왼쪽 정렬</span
                                              ></a
                                            >
                                          </li>
                                          <li role="presentation">
                                            <a
                                              class="fr-command fr-title"
                                              tabindex="-1"
                                              role="option"
                                              data-cmd="align"
                                              data-param1="
        center"
                                              title="가운데 정렬">
                                              <i aria-hidden="true">
                                                <svg viewBox="0 0 24 24">
                                                  <path
                                                    d="M9,18h6v-2H9V18z M6,11v2h12v-2H6z M3,6v2h18V6H3z"></path>
                                                </svg>
                                                <label aria-hidden="true"
                                                  >가운데 정렬</label
                                                >
                                              </i>
                                              <span class="fr-sr-only">
                                                가운데 정렬</span
                                              ></a
                                            >
                                          </li>
                                          <li role="presentation">
                                            <a
                                              class="fr-command fr-title"
                                              tabindex="-1"
                                              role="option"
                                              data-cmd="align"
                                              data-param1="
        right"
                                              title="오른쪽 정렬">
                                              <i aria-hidden="true">
                                                <svg viewBox="0 0 24 24">
                                                  <path
                                                    d="M15,18h6v-2h-6V18z M9,11v2h12v-2H9z M3,6v2h18V6H3z"></path>
                                                </svg>
                                                <label aria-hidden="true"
                                                  >오른쪽 정렬</label
                                                >
                                              </i>
                                              <span class="fr-sr-only">
                                                오른쪽 정렬</span
                                              ></a
                                            >
                                          </li>
                                          <li role="presentation">
                                            <a
                                              class="fr-command fr-title"
                                              tabindex="-1"
                                              role="option"
                                              data-cmd="align"
                                              data-param1="
        justify"
                                              title="양쪽 정렬">
                                              <i aria-hidden="true">
                                                <svg viewBox="0 0 24 24">
                                                  <path
                                                    d="M3,18h18v-2H3V18z M3,11v2h18v-2H3z M3,6v2h18V6H3z"></path>
                                                </svg>
                                                <label aria-hidden="true"
                                                  >양쪽 정렬</label
                                                >
                                              </i>
                                              <span class="fr-sr-only">
                                                양쪽 정렬</span
                                              ></a
                                            >
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <button
                                    id="formatOL-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="숫자 목록"
                                    class="fr-command fr-btn"
                                    data-cmd="formatOL">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M2.5,16h2v.5h-1v1h1V18h-2v1h3V15h-3Zm1-7h1V5h-2V6h1Zm-1,2H4.3L2.5,13.1V14h3V13H3.7l1.8-2.1V10h-3Zm5-5V8h14V6Zm0,12h14V16H7.5Zm0-5h14V11H7.5Z"></path>
                                      </svg>
                                      <label aria-hidden="true"
                                        >숫자 목록</label
                                      >
                                    </i>
                                    <span class="fr-sr-only"
                                      >숫자 목록</span
                                    ></button
                                  ><button
                                    id="formatUL-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="점 목록"
                                    class="fr-command fr-btn"
                                    data-cmd="formatUL">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M4,10.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S4.8,10.5,4,10.5z M4,5.5C3.2,5.5,2.5,6.2,2.5,7  S3.2,8.5,4,8.5S5.5,7.8,5.5,7S4.8,5.5,4,5.5z M4,15.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S4.8,15.5,4,15.5z   M7.5,6v2h14V6H7.5z M7.5,18h14v-2h-14V18z M7.5,13h14v-2h-14V13z"></path>
                                      </svg>
                                      <label aria-hidden="true">점 목록</label>
                                    </i>
                                    <span class="fr-sr-only"
                                      >점 목록</span
                                    ></button
                                  ><button
                                    id="insertHR-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="구분선"
                                    class="fr-command fr-btn"
                                    data-cmd="insertHR">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M5,12h14 M19,11H5v2h14V11z"></path>
                                      </svg>
                                      <label aria-hidden="true">구분선</label>
                                    </i>
                                    <span class="fr-sr-only"
                                      >구분선</span
                                    ></button
                                  ><button
                                    id="insertLink-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="링크 (⌘K)"
                                    class="fr-command fr-btn"
                                    data-cmd="insertLink"
                                    data-popup="true">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M11,17H7A5,5,0,0,1,7,7h4V9H7a3,3,0,0,0,0,6h4ZM17,7H13V9h4a3,3,0,0,1,0,6H13v2h4A5,5,0,0,0,17,7Zm-1,4H8v2h8Z"></path>
                                      </svg>
                                      <label aria-hidden="true">링크</label>
                                    </i>
                                    <span class="fr-sr-only">링크</span></button
                                  ><button
                                    id="insertImage-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="이미지 (⌘P)"
                                    class="fr-command fr-btn"
                                    data-cmd="insertImage"
                                    data-popup="true">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M14.2,11l3.8,5H6l3-3.9l2.1,2.7L14,11H14.2z M8.5,11c0.8,0,1.5-0.7,1.5-1.5S9.3,8,8.5,8S7,8.7,7,9.5C7,10.3,7.7,11,8.5,11z   M22,6v12c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2h16C21.1,4,22,4.9,22,6z M20,8.8V6H4v12h16V8.8z"></path>
                                      </svg>
                                      <label aria-hidden="true">이미지</label>
                                    </i>
                                    <span class="fr-sr-only"
                                      >이미지</span
                                    ></button
                                  ><button
                                    id="insertVideo-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="동영상"
                                    class="fr-command fr-btn"
                                    data-cmd="insertVideo"
                                    data-popup="true">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M15,8v8H5V8H15m2,2.5V7a1,1,0,0,0-1-1H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V13.5l2.29,2.29A1,1,0,0,0,21,15.08V8.91a1,1,0,0,0-1.71-.71Z"></path>
                                      </svg>
                                      <label aria-hidden="true">동영상</label>
                                    </i>
                                    <span class="fr-sr-only"
                                      >동영상</span
                                    ></button
                                  ><button
                                    id="insertTable-1"
                                    type="button"
                                    tabindex="-1"
                                    role="button"
                                    title="표"
                                    class="fr-command fr-btn"
                                    data-cmd="insertTable"
                                    data-popup="true">
                                    <i aria-hidden="true">
                                      <svg viewBox="0 0 24 24">
                                        <path
                                          d="M20,5H4C2.9,5,2,5.9,2,7v2v1.5v3V15v2c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2v-2v-1.5v-3V9V7C22,5.9,21.1,5,20,5z M9.5,13.5v-3  h5v3H9.5z M14.5,15v2.5h-5V15H14.5z M9.5,9V6.5h5V9H9.5z M3.5,7c0-0.3,0.2-0.5,0.5-0.5h4V9H3.5V7z M3.5,10.5H8v3H3.5V10.5z M3.5,17  v-2H8v2.5H4C3.7,17.5,3.5,17.3,3.5,17z M20.5,17c0,0.3-0.2,0.5-0.5,0.5h-4V15h4.5V17z M20.5,13.5H16v-3h4.5V13.5z M16,9V6.5h4  c0.3,0,0.5,0.2,0.5,0.5v2H16z"></path>
                                      </svg>
                                      <label aria-hidden="true">표</label>
                                    </i>
                                    <span class="fr-sr-only">표</span>
                                  </button>
                                </div>
                                <div class="fr-newline"></div>
                              </div>
                              <div
                                class="fr-wrapper show-placeholder"
                                dir="auto"
                                style="height: 600px; overflow: auto">
                                <div
                                  style="min-height: 600px"
                                  class="fr-element fr-view fr-element-scroll-visible"
                                  dir="auto"
                                  contenteditable="true"
                                  aria-disabled="false"
                                  spellcheck="true">
                                  <p><br /></p>
                                </div>
                                <span
                                  class="fr-placeholder"
                                  style="
                                    font-size: 16px;
                                    line-height: 28px;
                                    margin-top: 12px;
                                    padding-top: 20px;
                                    padding-left: 20px;
                                    margin-left: 0px;
                                    padding-right: 20px;
                                    margin-right: 0px;
                                    text-align: left;
                                  "
                                  >내용을 입력해 주세요.</span
                                >
                              </div>
                              <div class="fr-second-toolbar">
                                <span
                                  class="fr-counter"
                                  style="bottom: 1px; margin-right: 8px"
                                  >글자 수 : 0</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </form>
                <div class="FundingStoryContainer_btnWrapper__32tvJ">
                  <button
                    class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_xl__2x3J_"
                    type="button"
                    style="width: 420px; max-width: 100%">
                    <span
                      ><span class="Button_children__q9VCZ"
                        >저장하기</span
                      ></span
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Toast_toast__1b_B2">
        <div class="Toast_content__G-bTq"></div>
      </div>
    </div>

    <script src="https://static.wadiz.kr/studio/funding/static/js/6.c1c1a47c.chunk.js"></script>
    <script src="https://static.wadiz.kr/studio/funding/static/js/main.bc1a3f3f.chunk.js"></script>
    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>

    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
  </body>
</html>
