<html lang="ko" style="--vh: 7.96px" class="">
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/studio/funding/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://static.wadiz.kr/studio/funding/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://static.wadiz.kr/studio/funding/favicon-16x16.png" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover" />
    <meta name="theme-color" content="#000000" />
    <meta name="wadiz-app-hidden-header" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>리워드 설계 | 와디즈 메이커 스튜디오</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/f5ed871e11.js" crossorigin="anonymous"></script>
    <link
      href="/import/css/6.41bf0148.chunk.css"
      rel="stylesheet" />
    <link
      href="/import/css/main.f4a9cc74.chunk.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/11.40f0f88f.chunk.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/18.2816aefc.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/studio/funding/static/js/18.221f899c.chunk.js"></script>
    <style>
      .optRow{
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
      }
      .css-1hwfws3 {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex: 1 1 0%;
        flex-wrap: wrap;
        padding: 2px 8px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
      }

      .css-1m205as-control {
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 48px;
        position: relative;
        transition: all 100ms ease 0s;
        box-sizing: border-box;
        line-height: 28px;
        letter-spacing: -0.3px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        height: 48px;
        outline: 0px !important;
      }
      .css-2b097c-container {
        position: relative;
        box-sizing: border-box;
      }
      .css-1wy0on6 {
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
      }
      .css-62g3xt-dummyInput {
        background: 0px center;
        border: 0px;
        font-size: inherit;
        outline: 0px;
        padding: 0px;
        width: 1px;
        color: transparent;
        left: -100px;
        opacity: 0;
        position: relative;
        transform: scale(0);
      }
    </style>
  </head>
  <body class="">
    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>
    <div id="root">
      <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <div class="AppLayout_main__14bCi">
          <div th:replace="/fragment/funding_sidebar.html :: sidebar(${fundingMaker.getFid()})"></div>
          <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
            <nav class="ProjectNavbar_container__3ybm3">
              <div
                style="
                  background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg')
                    50% center / contain no-repeat;
                  width: 129px;
                  height: 48px;
                  cursor: pointer;
                "></div>
              <div class="ProjectNavbar_maker__3c-SX">
                <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh">
                  <span></span>
                </div>
                <div th:text="${#authentication.principal.member.mname}">사용자 이름</div>
              </div>
              <div class="ProjectNavbar_buttonGroup__219eP">
                <button
                  class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG"
                  type="button">
                  <span
                    ><span class="Button_children__q9VCZ">나가기</span></span
                  >
                </button>
              </div>
            </nav>
            <section class="Page_container__1PffN">
              <ol class="Breadcrumb_container__3YjD4">
                <li class="Breadcrumb_item__2r9Ym">프로젝트 관리</li>
                <li class="Breadcrumb_item__2r9Ym">리워드 설계</li>
              </ol>
              <div class="Page_title__1tce_" role="heading" aria-level="2">
                리워드 설계
              </div>
              <div class="Page_description__VzZod">
                서포터님들에게 제공할 리워드를 입력해 주세요.
              </div>

              <div class="Page_content__1d0Vb">
                <section
                  class="FundingConditionGuideSection_container__7ZmHI spacing-8">
                  <div class="FundingConditionGuideSection_content__BPu9e">
                    <h4 class="FundingConditionGuideSection_title__3WoCK">
                      리워드 설계 조건
                    </h4>
                    <ul class="FundingConditionGuideSection_list__2hGJ2">
                      <li class="FundingConditionGuideSection_item__2HEgM">
                        <h5 class="FundingConditionGuideSection_name__2bCqQ">
                          정렬 순서
                        </h5>
                        <p
                          class="FundingConditionGuideSection_description__1NZyz">
                          혜택이 좋은 순서대로 등록해 주세요.
                        </p>
                      </li>
                      <li class="FundingConditionGuideSection_item__2HEgM">
                        <h5 class="FundingConditionGuideSection_name__2bCqQ">
                          옵션 조건
                        </h5>
                        <p
                          class="FundingConditionGuideSection_description__1NZyz">
                          사이즈, 색상 등의 옵션 설정이 필요하면 추가해 주세요.
                        </p>
                      </li>
                    </ul>
                  </div>
                </section>
                <section class="Section_container__3md8M">
                  <div style="max-width: 420px">
                    <div class="Section_content__3OkLZ">
                      <section
                        class="FundingConditionControlSection_container__dS_HI spacing-5">
                        <div
                          class="emptyRewardArea FundingConditionControlSection_inner__2irbO">
                          <div class="AddBox_container__39RWm">
                            <div>
                              <svg
                                viewBox="0 0 32 32"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__3lrgp AddBox_icon__1HBNk"
                                aria-hidden="true"
                                style="
                                  width: 40px;
                                  height: 40px;
                                  color: rgb(173, 181, 189);
                                ">
                                <path
                                  d="M16 1.6C8.047 1.6 1.6 8.047 1.6 16S8.047 30.4 16 30.4 30.4 23.953 30.4 16 23.953 1.6 16 1.6zm8 15.2h-7.2V24h-1.6v-7.2H8v-1.6h7.2V8h1.6v7.2H24z"></path>
                              </svg>
                              <p>리워드를 추가해 주세요</p>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section
                        class="rewardListArea FundingConditionRewardSection_container__a4jlz spacing-9">
                      </section>
                    </div>
                  </div>
                </section>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="Toast_toast__1b_B2">
        <div class="Toast_content__G-bTq"></div>
      </div>
    </div>
    <div class="modalArea">

    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    let fid = /*[[${fundingMaker.fid}]]*/
     /*]]>*/
    $(document).ready(function(){
      // 초기 리워드 불러옴
      loadRewards();
    })

    // modal 에서 추가 버튼 누를 시
    $(document).on('click','.btnAdd ',function(e){
      let fpid = $('#fpid').val();
      let price = $('.priceInput').val();
      let originPrice = $('.originPriceInput').val();
      let title = $('.titleInput').val();
      let content = $('.contentInput').val();
      let opts = new Array();
      $('.optRow').each(function(idx,el){
        let map = new Object();
        map.poid = $(el).children('input[name="poid"]').val();
        map.fpid = $(el).children('input[name="fpid"]').val();
        map.pooption = $(el).children('p').text();
        opts.push(map);
      })
      if(price === ''){
        console.log('price null');
        return;
      }
      if(originPrice === ''){
        console.log('originPrice null');
        return;
      }
      if(title === ''){
        console.log('title null');
        return;
      }
      if (content === '') {
        console.log('content null');
        return;
      }
      if (opts.length === 0) {
        console.log('opt null');
        return;
      }

      $.ajax({
        url: '/api/funding/' + fid + '/product',
        data : JSON.stringify(
                {fpid, price, originPrice, title, content, opts}
        ),
        contentType : 'application/json',
        type: 'POST',
        dataType:'text',
        success : function(data){
          console.log(data);
          $('.modalArea').html('');
          loadRewards();
        },
        error : function(request, status, error ) {
          console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        },
      })
    })

    // 리워드 카드에서 삭제 버튼 누를 시
    $(document).on('click','.btnDel',function(e){
      let fpid = $(this).data('fpid');
      $.ajax({
        url: '/api/funding/' + fid + '/product/remove',
        data : JSON.stringify(
                {fpid}
        ),
        contentType : 'application/json',
        type: 'POST',
        dataType:'text',
        success : function (data){
          console.log('delete success');
          loadRewards();
        }
      })
    })

    // 리워드 추가 영역 누르면 -> 리워드 추가 modal
    $(document).on('click','.emptyRewardArea',function(e){
      showRewardModal();
    })

    // 리워드 modal 닫기 버튼 이벤트
    $(document).on('click','.ConfirmModal_closeIconWrapper__3vX7j',function(e){
      $('.modalArea').html('');
    })
    // 리워드 modal 취소 버튼 이벤트
    $(document).on('click','.btnCancel',function(e){
      $('.modalArea').html('');
    })

    // 리워드 카드의 수정 버튼 누를 시
    $(document).on('click','.btnEdit',function(e){
      let fpid = $(this).data('fpid');
      $.ajax({
        url: '/api/funding/' + fid + '/product/' + fpid,
        type: 'GET',
        dataType:'json',
        success : function(data){
          console.log('editBtn', data);
          showRewardModal(data);
        }
      })
    })

    // 옵션 추가 버튼 클릭 시
    $(document).on('click','.addOptBtn',function(){
      let optVal = $('#prod_opt1').val();
      let fpid = $('#fpid').val();
      let tmp = `<div class="optRow">
                    <input type="hidden" value="${fpid}" name="fpid">
                    <input type="hidden" name="poid">
                    <p>${optVal}</p>
                    <i class="fa-solid fa-trash optDelBtn"></i>
                </div>`
      $('.optArea').append(tmp);
      $('#prod_opt1').val('');
    })

    // 옵션 삭제 버튼 클릭 시
    $(document).on('click','.optDelBtn',function(){
      console.log('click optDel')
      $(this).closest('.optRow').remove();
    })

    // 펀딩 아이디 에 따른 리워드 가져오기
    function loadRewards(){
      $.ajax({
        url : '/api/funding/'+fid+'/product',
        type : 'GET',
        dataType : 'json',
        success : printRewards
      })
    }

    // 리워드 리턴
    function printRewards(list){
      console.log(list);
      $('.rewardListArea').html('');
      $(list).each(function(idx, reward){
        let reward_template = `
                        <div class="FundingConditionRewardItem_container__1aQKY spacing-4">
                          <div class="FundingConditionRewardItem_header__3LoHV">
                            <div class="FundingConditionRewardItem_amount__13WhI">${reward['fpprice']} 원</div>
                          </div>
                          <hr class="Divider_divider__iEd6P Divider_horizontal__2aRDB Divider_lightBG__1SKWl Divider_spacing5__1JRsJ Divider_caption2__1zTI_">
                          <h4 class="FundingConditionRewardItem_name__Q9cMr">${reward['fptitle']}</h4>
                          <p class="FundingConditionRewardItem_description__3Yhpu">${reward['fpcontent']}</p>
                          <div class="FundingConditionRewardItem_buttonGroup__19GER">
                            <div>
                              <button data-fpid="${reward['fpid']}" class="btnEdit Button_button__1e2A2 Button_xs__x1b7M Button_startIcon__19sdm" type="button" >
                                <span>
                                  <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__3lrgp Button_icon__1qsE3" aria-hidden="true">
                                    <path d="M24 1.6L1.6 24v6.4H8L30.4 8zM7.36 28.8H3.2v-4.16L19.76 8.08l4.16 4.16zm17.68-17.68l-4.16-4.16L24 3.84 28.16 8z"></path>
                                  </svg>
                                  <span class="Button_children__q9VCZ">수정</span>
                                </span>
                              </button>
                              <button data-fpid="${reward['fpid']}" class="btnDel Button_button__1e2A2 Button_xs__x1b7M Button_startIcon__19sdm" type="button">
                                <span><svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3lrgp Button_icon__1qsE3" aria-hidden="true">
                                  <path d="M36.67 5.31H3.33v2h2.82v31.88h27.7V7.31h2.82zm-4.82 31.88H8.15V7.31h23.7zM15 .81h10v2H15z"></path>
                                  <path d="M14.75 15.18h2v15h-2zm8.5 0h2v15h-2z"></path></svg><span class="Button_children__q9VCZ">삭제</span>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
          `;
        $('.rewardListArea').append(reward_template);
      })
    }

    // 리워드 modal 보여줌
    function showRewardModal(data){
      console.log(data);
      let fpcontent = data?data['fpcontent']:'';
      let fpid = data ?data['fpid']: '';
      let fporigin_price = data ?data['fporigin_price']: '';
      let fpprice = data ?data['fpprice']: '';
      let fptitle = data ?data['fptitle']: '';
      let options = data ?data['options']: null;
      let optTemplate = '';
      if(options != null){
        $(options).each(function(idx, data){
          // continue
          if(data.poid == null) return true;
          let temp = `
                <div class="optRow">
                  <input type="hidden" value="${data.fpid}" name="fpid">
                  <input type="hidden" value="${data.poid}" name="poid">
                  <p>${data.pooption}</p>
                  <i class="fa-solid fa-trash optDelBtn"></i>
                </div>
        `;
          optTemplate += temp;
        })
      }
      let template= `
    <div
      data-react-modal-body-trap=""
      tabindex="0"
      style="position: absolute; opacity: 0"></div>
    <div class="ReactModalPortal rewardModal">
    <input type="hidden" id="fpid" value="${fpid}">
      <div
        class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__-jHao waffle__modal__overlay"
        style="background-color: rgba(0, 0, 0, 0.2)">
        <div
          class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_confirmModal__3LOlx ConfirmModal_sizeXl__15YuF FundingConditionRewardModalContainer_container__1Avmk"
          tabindex="-1"
          role="dialog"
          aria-modal="true">
          <div class="ConfirmModal_header__3_Qxt">
            <div class="ConfirmModal_closeIconRoot__1iJoQ">
              <button class="ConfirmModal_closeIconWrapper__3vX7j">
                <svg
                  viewBox="0 0 40 40"
                  focusable="false"
                  role="presentation"
                  class="withIcon_icon__1Oal1 ConfirmModal_closeIcon__3E6vy"
                  aria-hidden="true">
                  <path
                    d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                </svg>
              </button>
            </div>
            <div
              title="리워드 추가"
              class="ConfirmModal_title__sFrkL ConfirmModal_showCloseButton__1P8aT">
              리워드 추가
            </div>
          </div>
          <div class="ConfirmModal_content__1rEr7 ConfirmModal_hasTitle__3Fk6J">
            <div class="spacing-8" style="width: 50%">
              <div
                class="TextField_textField__23rCe TextField_md__2zsQn TextField_right__1qt_G">
                <label>판매금액</label>
                <div class="TextField_field__1E9vt">
                  <input
                    placeholder="0"
                    type="text"
                    class="Input_input__2kAAL Input_md__3-eZ6 priceInput"
                    aria-invalid="false"
                    value="${fpprice}" /><span
                    class="TextField_fixedText__2vIuK TextField_endText__3jIeG"
                    >원</span
                  >
                </div>
              </div>
            </div>
            <div class="spacing-8" style="width: 50%">
              <div
                class="TextField_textField__23rCe TextField_md__2zsQn TextField_right__1qt_G">
                <label>오리지널 금액</label>
                <div class="TextField_field__1E9vt">
                  <input
                    placeholder="0"
                    type="text"
                    class="Input_input__2kAAL Input_md__3-eZ6 originPriceInput"
                    aria-invalid="false"
                    value="${fporigin_price}" /><span
                    class="TextField_fixedText__2vIuK TextField_endText__3jIeG"
                    >원</span
                  >
                </div>
              </div>
            </div>
            <div
              class="TextField_textField__23rCe TextField_md__2zsQn spacing-8">
              <label>리워드명</label>
              <div class="TextField_field__1E9vt">
                <input
                  placeholder="예시) [얼리버드] 베이지 이불∙베개 1세트"
                  maxlength="60"
                  type="text"
                  class="Input_input__2kAAL Input_md__3-eZ6 titleInput"
                  aria-invalid="false"
                  value="${fptitle}" />
              </div>
            </div>
            <div
              class="TextField_textField__23rCe TextField_md__2zsQn spacing-8">
              <label>리워드 설명</label>
              <div class="TextField_field__1E9vt">
                <textarea
                  placeholder="리워드 구성과 혜택을 간결하게 설명해 주세요."
                  maxlength="400"
                  rows="3"
                  class="Textarea_textarea__2swOj contentInput">${fpcontent}</textarea
                >
              </div>
            </div>
            <div class="select-menu spacing-8" style="width: 50%">
              <div class="label">옵션</div>
              <div class="css-2b097c-container" style="margin-left: 10px">
              <div class="optArea">
                 ${optTemplate}
              </div>
                <input type="text" class="form-control" id="prod_opt1" placeholder="예시) 매운맛">
                <button type="button" class="btn btn-outline-primary addOptBtn" style="margin-top: 10px">Add</button>
              </div>
            </div>
            <div
              class="FundingConditionRewardModalContainer_buttonGroup__3TYhj">
              <button
                class="btnCancel Button_button__1e2A2 Button_secondary__JuhOu Button_lg__3vRQD Button_block__2mEqp"
                type="button">
                <span
                  ><span class="Button_children__q9VCZ">취소</span></span
                ></button
              ><button
                class="btnAdd Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_lg__3vRQD Button_block__2mEqp"
                type="button">
                <span><span class="Button_children__q9VCZ">추가</span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

      `;

      $('.modalArea').append(template);
    }
  </script>
  </body>
</html>
