<html lang="ko" class="scroll-top scroll-apex">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
    <title>와디즈 - 나의 펀딩현황</title>

    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>


    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
       <link
      rel="stylesheet"
      href="/import/css/layout.css" />
    <script
      type="text/javascript"
      src="/import/js/vendor.js"></script>
    <script
      type="text/javascript"
      src="/import/js/layout.js"></script>
  </head>
  <body cz-shortcut-listen="true">
    <style>
      .mypage-project.bg {
        background: #f5f7fa;
        padding-bottom: 160px;
      }
      @media screen and (min-width: 960px) {
        .mypage-project .project-detail {
          max-width: 960px;
          margin: 0 auto;
          padding: 32px 24px 48px;
        }
      }
    </style>
    <link
      href="/import/css/wmypage.css?v=20220915"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="/import/css/main.0f0d4897.css" />

    <div id="page-container">
      <div class="black-bg-wrap" style="display: none"></div>

      <div id="wz-header">
        <div th:replace="/fragment/header__1TR2D.html :: header"></div>
      </div>

      <form id="forwardForm" method="get">
        <input type="hidden" id="returnURL" name="returnURL" />
      </form>
      <input type="hidden" id="sessionLoginCheck" value="true" />

      <div id="wadizContainer">
        <div id="mypageWrap">
          <div class="myfunding-wrap myRewardPurchase">
            <div class="mypage-project bg short">
              <div
                class="project-detail form-wrap"
                id="landing-myreward-purchase">
                <div
                  id="myreward-purchase-detail"
                  data-campaign-id="190459"
                  data-backing-payment-id="9851346"
                  data-maker-name="제이앤와이푸드"
                  data-maker-id="4145999207"
                  data-referer="https://www.wadiz.kr/web/mywadiz/participation"
                  data-param-referer="">
                  <div>
                    <div class="PurchaseInfoContainer_container__1uMSh">
                      <p class="PurchaseInfoContainer_cate__1QTet" th:text="${order.ctname}">
                        카테고리 이름
                      </p>
                      <p class="PurchaseInfoContainer_status__205il">
                        <i class="PurchaseInfoContainer_icon__3cTu1"></i>
                        <span th:if="${order.fstatus=='FUNDING'}">진행중</span>
                        <span th:if="${order.fstatus=='STORE'}">입점중</span>
                      </p>
                      <a
                        href="/web/campaign/detail/190459"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><p class="PurchaseInfoContainer_title__3Z6oW" th:text="${order.ftitle}">
                          펀딩 이름
                        </p></a
                      >
                      <p class="PurchaseInfoContainer_maker__2k4e3">
                        by <button th:text="${order.fstore_name}">스토어 이름</button>
                      </p>
                      <div class="PurchaseInfoContainer_summary__lg8v7">
                        <div class="PurchaseInfoContainer_list__vACqm">
                          <p class="PurchaseInfoContainer_listTitle__eA-QW">
                            결제 번호
                          </p>
                          <p>9851346</p>
                        </div>
                        <div class="PurchaseInfoContainer_list__vACqm">
                          <p class="PurchaseInfoContainer_listTitle__eA-QW">
                            참여일
                          </p>
                          <p th:text="${order.getOdateString()}">2022-22-22</p>
                        </div>
                        <div class="FundingRewardInfo_container__2Bvhc">
                          <div class="FundingRewardInfo_list__ETyrt">
                            <p class="FundingRewardInfo_listTitle__8G48Y">
                              결제 상태
                            </p>
                            <p class="FundingRewardInfo_status__1lR2q">
                              <span th:if="${order.ostatus == 'WAITING'}">결제 대기</span>
                              <span th:if="${order.ostatus != 'WAITING'}">결제 완료</span>
                            </p>
                          </div>
                          <div class="FundingRewardInfo_cancelBtn__1y1oz">
                            <button class="wz button" color="gray">
                              결제 취소
                            </button>
                          </div>
                          <div class="FundingRewardInfo_info__ja3-c">
                            결제 예약 취소는 프로젝트 종료일까지
                            가능합니다.<br />리워드 종류 및 수량 변경은
                            불가하며, 취소 후 재 펀딩해야 합니다.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="PurchaseStatus_container__ux-k0">
                      <h2 class="PurchaseStatus_rewardInfo__2N7jO">
                        리워드 정보
                      </h2>
                      <div class="PurchaseStatusItemContainer_container__3Zv4D"
                        th:each="o : ${order.getOrders()}">
                        <h3 class="PurchaseStatusItemContainer_title__2sTw5"
                        th:text="${o.fptitle}">
                          옵션 이름
                        </h3>
                        <div
                          class="PurchaseStatusItemContainer_description__33DNm">
                          <p class="PurchaseStatusItemContainer_desc__3zaXY"
                            th:text="${o.fpcontent}">
                            옵션 설명
                          </p>
                          <hr
                            class="Divider_divider__1CIPR Divider_horizontal__29Gjw Divider_lightBG__1vKyf Divider_caption2__3jCC2" />
                        </div>
                        <div class="PurchaseStatusItemContainer_detail__2q2l_">
                          <p><span th:text="${o.fpprice * o.amount}">amount</span>원 / <span th:text="${o.amount}">count</span>개</p>
                        </div>
                      </div>
                    </div>
                    <div class="FundingPayment_container__1cP6O">
                      <div>
                        <div class="FundingPayment_title__2qp8l">결제 내역</div>
                        <ul>
                          <li class="FundingPayment_list__1ayI4">
                            <p>리워드 금액</p>
                            <p><span th:text="${order.oprice}"></span>원</p>
                          </li>
                          <li class="FundingPayment_list__1ayI4">
                            <p>쿠폰 차감금액</p>
                            <p>- 0원</p>
                          </li>
                          <li class="FundingPayment_list__1ayI4">
                            <p>포인트 차감금액</p>
                            <p>- 0원</p>
                          </li>
                          <hr
                            class="Divider_divider__1CIPR Divider_horizontal__29Gjw Divider_lightBG__1vKyf Divider_spacing5__37PiC Divider_caption2__3jCC2" />
                          <li
                            class="FundingPayment_list__1ayI4 FundingPayment_bold__BfCej">
                            <p>최종 결제 금액</p>
                            <p><span th:text="${order.oprice}"></span>원</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inner-section">
                  <!-- 결제 정보 -->
                  <div id="fundingDetail" class="funding-detail">
                    <div class="inner-detail" style="padding: 24px 16px">
                      <h4
                        style="
                          font-size: 14px;
                          font-weight: normal;
                          line-height: 20px;
                          color: #212529;
                        ">
                        결제 정보
                      </h4>
                      <div>
                        <div
                          id="modify-pay-app"
                          data-type="edit"
                          data-backing-payment-id="9851346"
                          data-campaign-title="어묵국물까지 주는 꾸덕한 옛날 떡볶이! 조리도구도 필요없다는데?"
                          data-is-modifiable="true"
                          data-card-no="************7081"
                          data-card-quota="0"
                          data-pay-by="dbcredit"
                          data-is-available-installment="false"
                          data-is-donation-category="false"
                          data-is-preorder-type="true">
                          <div>
                            <dl>
                              <dt>결제방법</dt>
                              <dd>신용(체크)카드</dd>
                            </dl>
                            <dl>
                              <dt>카드번호</dt>
                              <dd>************7081</dd>
                            </dl>
                            <dl>
                              <dt>할부기간</dt>
                              <dd>일시불</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                      <div class="modify">
                        <form id="creditPaymentInfoForm">
                          <input
                            type="hidden"
                            id="backingPaymentId"
                            name="backingPaymentId"
                            value="9851346" />
                          <p>신용(체크)카드 번호</p>
                          <div class="input-wrap divide">
                            <span class="div4"
                              ><input
                                type="tel"
                                name="cardNum1"
                                maxlength="4"
                                class="input-text numOnly"
                            /></span>
                            <span class="div4"
                              ><input
                                type="tel"
                                name="cardNum2"
                                maxlength="4"
                                class="input-text numOnly"
                            /></span>
                            <span class="div4"
                              ><input
                                type="password"
                                name="cardNum3"
                                maxlength="4"
                                class="input-text numOnly"
                            /></span>
                            <span class="div4"
                              ><input
                                type="tel"
                                name="cardNum4"
                                maxlength="4"
                                class="input-text numOnly"
                            /></span>
                          </div>
                          <p>유효기간</p>
                          <div class="input-wrap divide">
                            <input
                              type="tel"
                              name="cardExpMM"
                              maxlength="2"
                              class="input-text div1 numOnly"
                              placeholder="월" />
                            <input
                              type="tel"
                              name="cardExpYY"
                              maxlength="2"
                              class="input-text div2 numOnly"
                              placeholder="년" />
                          </div>
                          <p>비밀번호 앞 두자리</p>
                          <input
                            type="password"
                            name="cardPwd"
                            maxlength="2"
                            class="input-text inline numOnly" /><span
                            ><i class="dot"></i><i class="dot"></i
                          ></span>
                          <p>생년월일 (주민등록번호 앞 6자리)</p>
                          <input
                            type="tel"
                            name="buyerAuthNum"
                            maxlength="11"
                            class="input-text mb5 numOnly" />
                          <p class="comment">
                            법인카드의 경우 사업자등록번호 10자리 입력
                          </p>
                        </form>
                        <div class="btn-wrap divide">
                          <button
                            type="button"
                            class="btn-line div1"
                            onclick="cancelModifyPaydetail()">
                            취소
                          </button>
                          <button
                            type="button"
                            class="btn-green-line div2"
                            onclick="ajaxModifyBCreditPaymentInfoMultiple()">
                            저장
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="box-info">
                      <p>
                        결제 정보 및 할부 변경은 펀딩 결제 예정일
                        <strong>2023.03.20 16시 30분</strong> 까지 가능합니다.
                      </p>
                    </div>
                  </div>
                  <!--// 결제 정보 -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // #wadizContainer -->

        <div id="daumAddressLypop" class="lypop-fixed" style="display: none">
          <div class="daum-address-wrap">
            <div id="daumAddressCon"></div>
            <button
              type="button"
              onclick="closeLyPop('daumAddress')"
              class="wz blue block button">
              닫기
            </button>
          </div>
        </div>

        <div id="footer">
          <div th:replace="/fragment/footer__15kue.html :: footer"></div>
        </div>
      </div>
    </div>

  <script th:inline="javascript">

    $(document).ready(function(e){

    })
  </script>
  </body>
</html>
