<html lang="ko" class="show-footer scroll-top scroll-apex">
  <head>
    <style>
      .async-hide {
        opacity: 0 !important;
      }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />
    <link rel="mask-icon" href="/resources/static/svg/wa.svg" color="#1d2129" />

    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/wui.css?cb9a5d5c" />
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/css/vendor.6b6b0127.chunk.css" />
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/common.css?f19ec0c0" />
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/layout.css?cf366e90" />
    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/polyfill.js?efeedaed"></script>
    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/wui.js?ecf1279f"></script>

    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/common.js?d4ee3c82"></script>

    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/main/main.42cef079.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.wadiz.kr/resources/static/editor/4.0.15/froala_editor.pkgd.min.css?20221122" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.wadiz.kr/resources/static/editor/4.0.15/froala_custom.css?v=20221122" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/0.10c7bd2e.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/0.1c3e10b0.chunk.js"></script>
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/2.541233a4.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/vendors~my-wadiz~startup-main.ad21a59e.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/vendors~my-wadiz~startup-main.b48eea2a.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/vendors~my-wadiz.8c58ec5e.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/vendors~my-wadiz.3c3de7cd.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/my-wadiz.635555ef.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/my-wadiz.f8a22002.chunk.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/vendors~equity-main~main-page.1de61961.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/vendors~equity-main~main-page.33d27b29.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/1.6319c526.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/1.601f4777.chunk.js"></script>
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/comingsoon-main~earlybird-app~feed~main-page~planned-app~preorder-main~reward-main~store~trend-app.bfcc803f.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/main-page.e7a6bf2c.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/main-page.f9a28757.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/8.7e52d369.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/8.c1e15b97.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/preorder-main~reward-main~wishes.e6385302.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/preorder-main~reward-main~wishes.5bc7873a.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/reward-main.44308e85.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/reward-main.ad1a05b0.chunk.js"></script>
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/vendors~feed~reward-community~reward-news~reward-refund-policy~reward-story~reward-supporter~store.8e0381cd.chunk.js"></script>
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/6.5ef90603.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/vendors~feed.c8634b6f.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/vendors~feed.5e3aadf4.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/feed.8fe27d88.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/feed.a25c921b.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/main/css/wishes.aed54e21.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/main/js/wishes.301351b7.chunk.js"></script>

    <style data-emotion="css" data-s=""></style>
  </head>
  <body cz-shortcut-listen="true" style="overflow: auto">
    <div id="page-container">
      <main id="main-app">
        <div th:replace="/fragment/header__3X3Cg.html :: header"></div>
        <div class="MainWrapper_content__GZkTa">
          <div class="MyFundingListContainer_container__j04bM" style="">
            <h2 class="MyFundingListContainer_title__3_i7M">참여내역</h2>
            <div>
              <div class="MyFundingListContainer_topArea__1wIi6">
                <div
                  class="select-menu small MyFundingListContainer_selectBox__333wz">
                  <div class="css-2b097c-container">
                    <span
                      aria-live="polite"
                      aria-atomic="false"
                      aria-relevant="additions text"
                      class="css-7pg0cj-a11yText"></span>
                    <div class="select-menu__control css-yk16xz-control">
                      <div
                        class="select-menu__value-container select-menu__value-container--has-value css-1hwfws3">
                        <div
                          class="select-menu__single-value css-1uccc91-singleValue">
                          전체
                        </div>
                        <input
                          id="react-select-2-input"
                          readonly=""
                          tabindex="0"
                          aria-autocomplete="list"
                          class="css-62g3xt-dummyInput"
                          value="" />
                      </div>
                      <div class="select-menu__indicators css-1wy0on6">
                        <span
                          class="select-menu__indicator-separator css-0"></span>
                        <div
                          class="select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true">
                          <svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__20lDO"
                            aria-hidden="true">
                            <path
                              d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <input name="filteringType" type="hidden" value="" />
                  </div>
                </div>
              </div>
              <div>
                <ul class="MyFundingList_myFundingList__3outv">
                  <li class="MyFundingList_listItem__2C_bx">
                    <a href="/web/wmypage/myfunding/purchase/9851346"
                      ><dl class="MyFundingListItem_fundingCard__1mDVb">
                        <dt>
                          <em class="MyFundingListItem_category__15_rp"
                            >프리오더 / 푸드</em
                          ><em class="MyFundingListItem_date__2JkBG"
                            >2023.02.28 참여</em
                          >
                        </dt>
                        <dd>
                          <p class="MyFundingListItem_status__3WM80">
                            <i class="MyFundingListItem_icon__qMlG5"></i>진행중
                          </p>
                          <p class="MyFundingListItem_title__1MJNN">
                            어묵국물까지 주는 꾸덕한 옛날 떡볶이! 조리도구도
                            필요없다는데?
                          </p>
                          <p class="MyFundingListItem_maker__2m1j6">
                            by 제이앤와이푸드
                          </p>
                          <p class="MyFundingListItem_fundingInfo__2_DFC">
                            <em class="MyFundingListItem_fundStatus__1t2dq"
                              >결제 예약</em
                            ><em class="MyFundingListItem_comment__2zTJL"
                              >2023.03.20 17시 결제 예정</em
                            >
                          </p>
                          <span class="MyFundingListItem_detail__WKhV2"
                            >상세보기<i
                              class="icon chevron-right"
                              aria-hidden="true"></i
                          ></span>
                        </dd></dl
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div th:replace="/fragment/footer__31KP4.html :: footer"></div>

        </div>
        <div class="FloatingButtons_container__2E5Fl">
          <button
            type="button"
            class="FloatingTopButton_pageTop__2gqm9"
            title="위로 이동">
            <svg
              viewBox="0 0 40 40"
              focusable="false"
              role="presentation"
              class="withIcon_icon__20lDO"
              aria-hidden="true">
              <path
                d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
            </svg></button
          ><button
            type="button"
            data-ga-category="공통_최근본_UI"
            data-ga-action="클릭"
            data-ga-label=""
            class="RecentView_container__1boAT"
            aria-label="최근본"
            style="display: none">
            <div
              aria-hidden="true"
              class="RecentView_thumbnail__1lnV0 CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4 CardThumbnail_noanimation__23cSf"
              style="
                background-image: url('https://cdn.wadiz.kr/wwwwadiz/green001/2023/0220/20230220164239986_190459.jpg/wadiz/resize/269.9999809265137/format/jpg/quality/85/');
              "></div>
          </button>
        </div>
      </main>

      <script
        type="text/javascript"
        src="https://static.wadiz.kr/static/web/vendor.js?3f2fd166"></script>

      <script
        type="text/javascript"
        src="https://static.wadiz.kr/static/web/layout.js?0a76c4b4"></script>
    </div>
    <div id="wadiz-app-banner"></div>

    <style>
      .ab-iam-root.v3 {
        z-index: 9999;
      }
    </style>
  </body>
</html>
