<html lang="ko" class="scroll-top scroll-apex" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />

    <title>더쉐프 주문정보</title>

    <link
            rel="shortcut icon"
            href="/images/favicon.ico" />

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>


    <link
            rel="stylesheet"
            href="/import/css/main.ab4e33bf.css"
    />


    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
       <link
      rel="stylesheet"
      href="/import/css/layout.css" />
    <script
      type="text/javascript"
      src="/import/js/vendor.js"></script>
    <script
      type="text/javascript"
      src="/import/js/layout.js"></script>
  </head>
  <body cz-shortcut-listen="true">
    <style>
      .mypage-project.bg {
        background: #f5f7fa;
        padding-bottom: 160px;
      }
      @media screen and (min-width: 960px) {
        .mypage-project .project-detail {
          max-width: 960px;
          margin: 0 auto;
          padding: 32px 24px 48px;
        }
      }
      .HeaderDesktop_user__dYJMc{
        margin-top: 10px;
      }
    </style>
    <link
      href="/import/css/wmypage.css?v=20220915"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="/import/css/main.0f0d4897.css" />

    <div id="page-container">
      <div class="black-bg-wrap" style="display: none"></div>

      <div id="wz-header" sec:authorize="isAuthenticated()">
        <div th:replace="fragment/header__1TR2D.html :: header"></div>
      </div>

      <form id="forwardForm" method="get">
        <input type="hidden" id="returnURL" name="returnURL" />
      </form>
      <input type="hidden" id="sessionLoginCheck" value="true" />

      <div id="wadizContainer">
        <div id="mypageWrap">
          <div class="myfunding-wrap myRewardPurchase">
            <div class="mypage-project bg short">
              <div
                class="project-detail form-wrap"
                id="landing-myreward-purchase">
                <div>
                  <div>
                    <div class="PurchaseInfoContainer_container__1uMSh">
                      <p class="PurchaseInfoContainer_cate__1QTet" th:text="${order.ctname}">
                        카테고리 이름
                      </p>
                      <p class="PurchaseInfoContainer_status__205il">
                        <i class="PurchaseInfoContainer_icon__3cTu1"></i>
                        <span th:if="${#strings.equals(order.fstatus,'FUNDING')}">FUNDING</span>
                        <span th:unless="${#strings.equals(order.fstatus,'FUNDING')}">STORE</span>
                      </p>
                      <a th:href="|/web/${#strings.equals(order.fstatus,'FUNDING')?'funding':'store'}/${order.getOrders().get(0).getFid()}|"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><p class="PurchaseInfoContainer_title__3Z6oW" th:text="${order.ftitle}">
                          펀딩 이름
                        </p></a
                      >
                      <p class="PurchaseInfoContainer_maker__2k4e3">
                        by <button th:text="${order.fstore_name}">스토어 이름</button>
                      </p>
                      <div class="PurchaseInfoContainer_summary__lg8v7">
                        <div class="PurchaseInfoContainer_list__vACqm">
                          <p class="PurchaseInfoContainer_listTitle__eA-QW">
                            결제 번호
                          </p>
                          <p th:text="${order.oid}">oid</p>
                        </div>
                        <div class="PurchaseInfoContainer_list__vACqm">
                          <p class="PurchaseInfoContainer_listTitle__eA-QW">
                            참여일
                          </p>
                          <p th:text="${order.getOdateString()}">2022-22-22</p>
                        </div>
                        <div class="FundingRewardInfo_container__2Bvhc">
                          <div class="FundingRewardInfo_list__ETyrt">
                            <p class="FundingRewardInfo_listTitle__8G48Y">
                              결제 상태
                            </p>
                            <p class="FundingRewardInfo_status__1lR2q">
                              <span th:if="${order.ostatus == 'WAITING'}">결제 대기</span>
                              <span th:if="${order.ostatus != 'WAITING'}">결제 완료</span>
                            </p>
                          </div>
                          <div th:if="${#strings.equals(order.getFstatus(),'FUNDING')}" class="FundingRewardInfo_cancelBtn__1y1oz">
                            <button class="wz button" color="gray">
                              결제 취소
                            </button>
                          </div>
                          <div th:if="${#strings.equals(order.getFstatus(),'STORE') && order.qrused_date == null}"
                               class="FundingRewardInfo_cancelBtn__1y1oz qr_area" style="display: flex; justify-content: center" >

                          </div>
                          <div th:if="${#strings.equals(order.getFstatus(),'STORE') && order.qrused_date != null && !isAlreadyExistReview}" class="FundingRewardInfo_cancelBtn__1y1oz">
                            <button class="wz button writeStoreReview" color="gray">
                              후기 작성
                            </button>
                          </div>
                          <div th:if="${#strings.equals(order.getFstatus(),'STORE') && order.qrused_date != null && isAlreadyExistReview}" class="FundingRewardInfo_cancelBtn__1y1oz">
                            <button class="wz button writeStoreReview" disabled color="gray">
                              후기 작성 완료
                            </button>
                          </div>
                          <div th:if="${#strings.equals(order.getFstatus(),'FUNDING')}" class="FundingRewardInfo_info__ja3-c">
                            결제 예약 취소는 프로젝트 종료일까지
                            가능합니다.<br />상품 종류 및 수량 변경은
                            불가하며, 취소 후 재 펀딩해야 합니다.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="PurchaseStatus_container__ux-k0">
                      <h2 class="PurchaseStatus_rewardInfo__2N7jO">
                        상품 정보
                      </h2>
                      <div class="PurchaseStatusItemContainer_container__3Zv4D"
                        th:each="o : ${order.getOrders()}">
                        <h3 class="PurchaseStatusItemContainer_title__2sTw5"
                        th:text="${o.fptitle}">
                          옵션 이름
                        </h3>
                        <div
                          class="PurchaseStatusItemContainer_description__33DNm">
                          <p class="PurchaseStatusItemContainer_desc__3zaXY"
                            th:text="${o.fpcontent}">
                            옵션 설명
                          </p>
                          <hr
                            class="Divider_divider__1CIPR Divider_horizontal__29Gjw Divider_lightBG__1vKyf Divider_caption2__3jCC2" />
                        </div>
                        <div class="PurchaseStatusItemContainer_detail__2q2l_">
                          <p><span th:text="${#numbers.formatInteger(o.fpprice * o.amount,3,'COMMA')}">amount</span>원 / <span th:text="${o.amount}">count</span>개</p>
                        </div>
                      </div>
                    </div>
                    <div class="FundingPayment_container__1cP6O">
                      <div>
                        <div class="FundingPayment_title__2qp8l">결제 내역</div>
                        <ul>
                          <li class="FundingPayment_list__1ayI4">
                            <p>상품 금액</p>
                            <p th:text="${#numbers.formatInteger(order.oorigin_price,3,'COMMA')+'원'}"></p>
                          </li>
                          <li class="FundingPayment_list__1ayI4">
                            <p>쿠폰 차감금액</p>
                            <p th:text="${'-'+ #numbers.formatInteger((order.oorigin_price - order.oprice - order.oused_mileage),3,'COMMA')+'원'}"></p>
                          </li>
                          <li class="FundingPayment_list__1ayI4">
                            <p>마일리지 차감금액</p>
                            <p th:text="${'-'+ #numbers.formatInteger(order.oused_mileage,3,'COMMA')+'원'}"></p>
                          </li>
                          <hr
                            class="Divider_divider__1CIPR Divider_horizontal__29Gjw Divider_lightBG__1vKyf Divider_spacing5__37PiC Divider_caption2__3jCC2" />
                          <li
                            class="FundingPayment_list__1ayI4 FundingPayment_bold__BfCej">
                            <p>최종 결제 금액</p>
                            <p th:text="${#numbers.formatInteger(order.oprice,3,'COMMA')+'원'}"></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inner-section">
                  <!-- 결제 정보 -->
                  <div id="fundingDetail" class="funding-detail">
                    <div class="inner-detail" style="padding: 24px 16px">
                      <h4
                        style="
                          font-size: 14px;
                          font-weight: normal;
                          line-height: 20px;
                          color: #212529;
                        ">
                        결제 정보
                      </h4>
                      <div>
                            <dl>
                              <dt>결제방법</dt>
                              <dd>무통장 입금</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--// 결제 정보 -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // #wadizContainer -->

        <div id="footer">
          <div th:replace="fragment/footer__15kue.html :: footer"></div>
        </div>
      </div>
    </div>

    <div class="ReactModalPortal" style="display: none">
      <div class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__2vouq waffle__modal__overlay CommunityCommentWriteForm_overlay__2KrJn waffle__modal__overlay"
           style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_confirmModal__2-l3c ConfirmModal_sizeLg__1CEh6 CommunityCommentWriteForm_container__3q80P"
             tabindex="-1" role="dialog" aria-modal="true">
          <div class="ConfirmModal_header__2yOEU">
            <div class="ConfirmModal_closeIconRoot__2whkj">
              <button class="ConfirmModal_closeIconWrapper__2-lWO">
                <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                     class="withIcon_icon__20lDO ConfirmModal_closeIcon__3DABU" aria-hidden="true">
                  <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                </svg>
              </button>
            </div>
            <div title="글 남기기" class="ConfirmModal_title__2I2A3 ConfirmModal_showCloseButton__2Mb8W">글 남기기</div>
          </div>
          <div class="ConfirmModal_content__nIMXh ConfirmModal_hasTitle__2YXj0">
            <div class="CommunityCommentWriteForm_writeWrap__1WbRO"><p
                    class="CommunityCommentWriteForm_explanation__3Ui22">응원 · 의견 · 체험 리뷰를 남겨주세요.<br>메이커의 답변이 필요한 문의는
              ‘메이커에게 문의하기’를 이용해주세요.</p>
              <div>
                <form name="feedback-form">
                  <div class="CommunityCommentWriteForm_reviewInfo__2XNFR">성수동에 위치한 공간 와디즈 혹은 메이커가 직접 진행한 이벤트에
                    참여한 후, 체험 리뷰를 남겨주세요. 프로젝트에 따라 오프라인 전시를 진행하지 않을 수 있습니다.
                  </div>
                  <div class="CommunityCommentWriteForm_field__3PqtU"><label for="feedback-contents">
                    <div class="wz input"><textarea name="body" id="feedback-contents"
                                                    placeholder="메이커에게 응원∙의견∙체험 리뷰 메시지를 남겨주세요." class=""
                                                    maxlength="2000"></textarea></div>
                  </label><span
                          class="Badge_container__3ioDw Badge_visible__n2Hg1 CommunityCommentWriteForm_badge__1Kx4a"><span
                          class="Badge_badge__2h6cT Badge_label__VC3QR Badge_sm__1ia4P Badge_secondary__1o9ka Badge_tertiary__1ERKE">0자/ 최소 10자</span></span>
                  </div>
                  <div>
                    <div class="ImageUploader_container__3hnJo">
                      <div class="imgWrap ImageUploader_contentWrap__3mxSw">
                        <div class="uploadBtn ImageUploader_button__1lBvx">
                          <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                               class="withIcon_icon__360C7 ImageUploader_addIcon__gr-Ml"
                               aria-hidden="true" style="width: 24px; height: 24px;">
                            <path d="M20.8 16.8a4.8 4.8 0 1 1-9.6 0 4.8 4.8 0 0 1 9.6 0z"></path>
                            <path d="M22.4 6.4L20 3.2h-8L9.6 6.4h-8v20.8h28.8V6.4zM16 23.2c-3.535 0-6.4-2.865-6.4-6.4s2.865-6.4 6.4-6.4 6.4 2.865 6.4 6.4-2.865 6.4-6.4 6.4z"></path>
                          </svg>
                        </div>
                      </div>
                      <input id="imgInput"
                              type="file" accept="image/png, image/jpeg, image/jpg" value=""
                             style="display: none;"></div>
                      <input type="hidden" id="imgUrl">
                  </div>
                  <div color="danger"
                       class="MessageBox_messageBox__3be7S MessageBox_danger__1NTYn CommunityCommentWriteForm_dangerMsg__1vpvD">
                                <span><svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                           class="withIcon_icon__20lDO MessageBox_icon__RobzF MessageBox_withoutTitle__1h2Jc"
                                           aria-hidden="true"><path fill="none" d="M0 0h40v40H0z"></path><path
                                        d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z"></path></svg></span>
                    <div class="MessageBox_content__3DhRV">
                      <div class="MessageBox_description__5-Jfn">최근 메이커 또는 제3자에 대한 허위사실 유포, 비방 목적의 댓글로 인해
                        당사자간 법적분쟁이 발생한 사례가 증가하고 있습니다. 악의적 댓글 작성자는 명예훼손, 모욕 등으로 법적 책임을 부담하게 될 수 있다는 점을
                        유의하여 주시기 바랍니다.
                      </div>
                    </div>
                  </div>
                  <div color="basic"
                       class="MessageBox_messageBox__3be7S MessageBox_basic__2S29U MessageBox_vertical__2dh5G">
                                <span><svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                           class="withIcon_icon__20lDO MessageBox_icon__RobzF" aria-hidden="true"><path
                                        fill="none" d="M0 0h40v40H0z"></path><path
                                        d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z"></path></svg></span>
                    <div class="MessageBox_content__3DhRV"><p class="MessageBox_title__1P3UH">게시물 이용안내</p>
                      <div class="MessageBox_description__5-Jfn">
                        <ul class="CommunityCommentWriteForm_basicMsg__2ruLY">
                          <li>본 프로젝트와 무관한 글, 사진, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 삭제 등 조치가 취해질 수 있으며, 해당
                            내용으로 인해 메이커, 서포터, 제3자에게 피해가 발생되지 않도록 유의해 주세요.
                          </li>
                          <li>리워드 관련 문의 및 배송 문의는 '메이커에게 문의하기'를 통해 정확한 답변을 받을 수 있어요.</li>
                          <li>서포터님의 연락처, 성명, 이메일 등의 소중한 개인정보는 절대 남기지 마세요.</li>
                          <li>체험 리뷰는 반드시 펀딩을 위해 진행된 오프라인 전시(체험)에 참여한 후 작성하세요.</li>
                          <li>체험 리뷰 등록 시, 프로필 닉네임과 내용이 공개되며, 서비스 내 콘텐츠에 활용돼요.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="CommunityCommentWriteForm_bottom__1db7N">
                    <button class="Button_button__mRXZC Button_secondary__20rLg Button_lg__22YWj"
                            id="cancelReview"
                            type="button"
                    ><span><span class="Button_children__3HY2l">취소</span></span>
                    </button>
                    <button class="submitBtn Button_button__mRXZC Button_primary__1HJqX Button_contained__k9pMW Button_lg__22YWj Button_disabled__2i2Uo"
                            type="button" disabled=""><span><span class="Button_children__3HY2l">등록하기</span></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      /*<![CDATA[*/
      let fid = '[[${order.orders[0].fid}]]'

      let orderId = '[[${order.oid}]]'

      let showQr = [[${#strings.equals(order.getFstatus(),'STORE') && order.qrused_date == null}]]
      /*]]>*/


      function getQrCode(){
        console.log('getQrcode')
        $.ajax({
          url : `/api/order/${orderId}/qrcode`,
          type : 'get',
          dataType : 'text',
          success : function(data){
            console.log(data);
            let temp = `<img alt="QR Code" src="${data}" style="width: 100px;">`
            $('.qr_area').append(temp);
          }
        })
      }

      $(document).ready(function () {
          getQrCode();
      })
      $('.ImageUploader_button__1lBvx').click(function(){
        $('#imgInput').click();
      })
      $('#imgInput').change(function(e){
        let formData = new FormData();
        let inputFile = $('#imgInput');
        let files = inputFile[0].files;
        for(let i=0;i<files.length;i++){
          formData.append("uploadFiles", files[i]);
        }
        uploadImg(formData, function (result) {
          console.log(result);
          $('.uploadBtn').css('display', 'none');
          let template = `
          <div class="ImageUploader_imageContainer__1TB8t" style="transform: translateX(0px);">
              <div class="ImageUploader_animationContainer__2XgIc" style="transform: translateX(0px);">
                <div class="ImageUploader_thumbnailWrap__3p8Vw">
                  <img class="ImageUploader_thumbnail__1RglT" src="${result[0]['imageURL']}" alt="">
                </div>
              <div class="ImageUploader_closeButton__dn3ee"></div>
            </div>
          </div>
          `;
          $('#imgUrl').val(result[0]['imageURL']);

          $('.imgWrap').append(template);
        });
      })


      function uploadImg(data, callback){
        $.ajax({
          url:'/api/common/uploadImg',
          processData : false,
          contentType : false,
          data : data,
          type : 'POST',
          dataType : 'json',
          success : function(result){
            if(callback) callback(result);
          }
        })
      }

      // 댓글 모달창 열기
      $('.writeStoreReview').click(function () {
        $('.ReactModalPortal').show();
      })

      // 댓글 모달창 닫기
      $('.ConfirmModal_closeIconWrapper__2-lWO,  #cancelReview').click(function () {
        $('.ReactModalPortal').hide();
      })

      // 댓글 모달창 길이에 따른 이벤트
      $('#feedback-contents').on('input', function() {
        if($(this).val().length >= 10 ){
          $('.submitBtn').prop('disabled', false);
          $('.submitBtn').removeClass('Button_disabled__2i2Uo')

        }else{
          $('.submitBtn').prop('disabled', true);
          $('.submitBtn').addClass('Button_disabled__2i2Uo')
        }
        $('.Badge_container__3ioDw .Badge_badge__2h6cT.Badge_label__VC3QR.Badge_secondary__1o9ka.Badge_tertiary__1ERKE').text($(this).val().length+"자/ 최소 10자")
      });
      $(document).on('click','.ImageUploader_closeButton__dn3ee',function(){
        console.log('click closeBtn');
        $('#imgInput').val('');
        $('.uploadBtn').css('display', 'flex');
        $('.ImageUploader_imageContainer__1TB8t').remove();
      })

      $('.submitBtn').click(function(){
        let rcontent = $('#feedback-contents').val();
        let rimg_url = $('#imgUrl').val();
        let rtype = 'STORE';
        $.ajax({
          url: "/api/funding/"+fid+"/product/review",
          type: "post",
          contentType: "application/json; charset=utf-8",
          data:JSON.stringify({
            rcontent : rcontent,
            rimg_url : rimg_url,
            rtype : rtype,
            fid : fid
          }),
        })

        $('.ReactModalPortal').hide();
        location.reload();

      })
    </script>
  </body>
</html>
