<html lang="ko" class="show-footer scroll-top scroll-apex">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />

    <link
      rel="shortcut icon"
      href="/images/favicon.ico" />

    <link rel="mask-icon" href="/resources/static/svg/wa.svg" color="#1d2129" />
    <title>더쉐프 주문정보</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
    <link
      rel="stylesheet"
      href="/import/css/layout.css" />
    <link
      rel="stylesheet"
      href="/import/css/main.42cef079.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/0.10c7bd2e.chunk.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/my-wadiz.635555ef.chunk.css" />
  </head>
  <style>
    .HeaderDesktop_user__3zGmM{
      margin-top: 10px;
    }
  </style>
  <body cz-shortcut-listen="true" style="overflow: auto">
    <div id="page-container">
      <main id="main-app">
        <div th:replace="fragment/header__3X3Cg.html :: header"></div>
        <div class="MainWrapper_content__GZkTa">
          <div class="MyFundingListContainer_container__j04bM" style="">
            <h2 class="MyFundingListContainer_title__3_i7M">참여내역</h2>
            <div>
              <div class="MyFundingListContainer_topArea__1wIi6">
                <div
                  class="select-menu small MyFundingListContainer_selectBox__333wz">
                  <div class="css-2b097c-container">
                    <span
                      aria-live="polite"
                      aria-atomic="false"
                      aria-relevant="additions text"
                      class="css-7pg0cj-a11yText"></span>
                  </div>
                </div>
              </div>
              <div>
                <ul class="flist MyFundingList_myFundingList__3outv">
                </ul>
              </div>
            </div>
          </div>
          <div th:replace="fragment/footer__31KP4.html :: footer"></div>

        </div>
      </main>
    </div>
  <script>
    let memail = '[[${#authentication.principal.member.memail}]]'
    $(document).ready(function(){
      loadOrderList();
    })

    function loadOrderList(){
      $.ajax({
        url : "/api/member/order",
        type : 'GET',
        dataType : 'json',
        success : function(data){
          console.log(data);
          printOrderList(data);
        }
      })
    }

    function printOrderList(data){
      $('.flist').html('');

      $(data).each(function (idx, d) {
        let template = `
                <li class="MyFundingList_listItem__2C_bx">
                    <a href="/web/mypage/order/${d.oid}?memail=${memail}"
                      ><dl class="MyFundingListItem_fundingCard__1mDVb">
                        <dt>
                          <em class="MyFundingListItem_category__15_rp"
                            >${d.ctname}</em
                          ><em class="MyFundingListItem_date__2JkBG"
                            >${d.odateString} 참여</em
                          >
                        </dt>
                        <dd>
                          <p class="MyFundingListItem_status__3WM80">
                            <i class="MyFundingListItem_icon__qMlG5"></i>${d.fstatus}
                          </p>
                          <p class="MyFundingListItem_title__1MJNN">
                            ${d.ftitle}
                          </p>
                          <p class="MyFundingListItem_maker__2m1j6">
                            by ${d.fstore_name}
                          </p>
                          <p class="MyFundingListItem_fundingInfo__2_DFC">
                            <em class="MyFundingListItem_fundStatus__1t2dq"
                              >${d.ostatus === 'WAITING'? "결제 대기" : "결제 완료"}</em
                            >
                          </p>
                          <span class="MyFundingListItem_detail__WKhV2"
                            >상세보기<i
                              class="icon chevron-right"
                              aria-hidden="true"></i
                          ></span>
                        </dd></dl
                    ></a>
                  </li>
        `;
        $('.flist').append(template);
      });
    }
  </script>
  </body>
</html>
