<html lang="ko" class="show-footer scroll-top scroll-apex">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />
    <link rel="mask-icon" href="/resources/static/svg/wa.svg" color="#1d2129" />

    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
    <link
      rel="stylesheet"
      href="/import/css/layout.css" />
    <link
      rel="stylesheet"
      href="/import/css/main.42cef079.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/0.10c7bd2e.chunk.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/my-wadiz.635555ef.chunk.css" />

  </head>
  <body cz-shortcut-listen="true" style="overflow: auto">
    <div id="page-container">
      <main id="main-app">
        <div th:replace="/fragment/header__3X3Cg.html :: header"></div>
        <div class="MainWrapper_content__GZkTa">
          <div class="MyFundingListContainer_container__j04bM" style="">
            <h2 class="MyFundingListContainer_title__3_i7M">참여내역</h2>
            <div>
              <div class="MyFundingListContainer_topArea__1wIi6">
                <div
                  class="select-menu small MyFundingListContainer_selectBox__333wz">
                  <div class="css-2b097c-container">
                    <span
                      aria-live="polite"
                      aria-atomic="false"
                      aria-relevant="additions text"
                      class="css-7pg0cj-a11yText"></span>
                    <div class="select-menu__control css-yk16xz-control">
                      <div
                        class="select-menu__value-container select-menu__value-container--has-value css-1hwfws3">
                        <div
                          class="select-menu__single-value css-1uccc91-singleValue">
                          전체
                        </div>
                        <input
                          id="react-select-2-input"
                          readonly=""
                          tabindex="0"
                          aria-autocomplete="list"
                          class="css-62g3xt-dummyInput"
                          value="" />
                      </div>
                      <div class="select-menu__indicators css-1wy0on6">
                        <span
                          class="select-menu__indicator-separator css-0"></span>
                        <div
                          class="select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true">
                          <svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__20lDO"
                            aria-hidden="true">
                            <path
                              d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <input name="filteringType" type="hidden" value="" />
                  </div>
                </div>
              </div>
              <div>
                <ul class="MyFundingList_myFundingList__3outv">
                  <li class="MyFundingList_listItem__2C_bx">
                    <a href="/web/wmypage/myfunding/purchase/9851346"
                      ><dl class="MyFundingListItem_fundingCard__1mDVb">
                        <dt>
                          <em class="MyFundingListItem_category__15_rp"
                            >프리오더 / 푸드</em
                          ><em class="MyFundingListItem_date__2JkBG"
                            >2023.02.28 참여</em
                          >
                        </dt>
                        <dd>
                          <p class="MyFundingListItem_status__3WM80">
                            <i class="MyFundingListItem_icon__qMlG5"></i>진행중
                          </p>
                          <p class="MyFundingListItem_title__1MJNN">
                            어묵국물까지 주는 꾸덕한 옛날 떡볶이! 조리도구도
                            필요없다는데?
                          </p>
                          <p class="MyFundingListItem_maker__2m1j6">
                            by 제이앤와이푸드
                          </p>
                          <p class="MyFundingListItem_fundingInfo__2_DFC">
                            <em class="MyFundingListItem_fundStatus__1t2dq"
                              >결제 예약</em
                            ><em class="MyFundingListItem_comment__2zTJL"
                              >2023.03.20 17시 결제 예정</em
                            >
                          </p>
                          <span class="MyFundingListItem_detail__WKhV2"
                            >상세보기<i
                              class="icon chevron-right"
                              aria-hidden="true"></i
                          ></span>
                        </dd></dl
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div th:replace="/fragment/footer__31KP4.html :: footer"></div>

        </div>
      </main>
    </div>
  </body>
</html>
