<html lang="ko" class="show-footer scroll-top scroll-apex">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
    <title>와디즈 - 마이와디즈</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>


    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />

    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
    <link
      rel="stylesheet"
      href="/import/css/layout.css" />
    <link
            rel="stylesheet"
            href="/import/css/common.css" />
    <link
            rel="stylesheet"
            href="/import/css/main.ab4e33bf.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/0.10c7bd2e.chunk.css" />

    <link
      rel="stylesheet"
      href="/import/css/main.42cef079.css" />
    <link rel="stylesheet"
          type="text/css"
          href="/import/css/vendors~my-wadiz~startup-main.ad21a59e.chunk.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/my-wadiz.635555ef.chunk.css" />
    <style>
    </style>
  </head>
  <body class="" cz-shortcut-listen="true">
    <div id="page-container">
      <main id="main-app">
        <div th:replace="/fragment/header__3X3Cg.html :: header"></div>
        <div class="MainWrapper_content__GZkTa">
          <div class="MyWadizPage_myWadizPage__wOTdS">
            <div class="MyWadizPage_profileBackground__T_LTr"></div>
            <div class="MyWadizPage_inner__1oq9M">
              <div class="MyWadizHeader_wadizHeader__8fJ9f">
                <div
                  class="MyWadizUserTypeSwitch_container__8B_kv MyWadizHeader_switch__2WQSt">
                  <button
                    data-event="supporter_mode"
                    class="MyWadizUserTypeSwitch_button__BYDWf MyWadizUserTypeSwitch_supporter__1yivJ MyWadizUserTypeSwitch_active__dwn-k"></button
                  ><button
                    data-event="maker_mode"
                    class="MyWadizUserTypeSwitch_button__BYDWf MyWadizUserTypeSwitch_maker__3C77T"></button>
                </div>
              </div>
              <div class="MyWadizPage_contentsWrapper__1dzMJ">
                <span class="MyWadizPage_standard__phXLq"></span>
                <div class="MyWadizSupporter_supporterMode__2XDQZ">
                  <div class="MyWadizSupporterProfile_profileContainer__1q7eh">
                    <div class="MyWadizSupporterProfile_profileImage__1eEvS">
                      <button
                        class="MyWadizSupporterProfile_detailProfile__1JImc"
                        title="프로필 상세 보기"
                        data-event="profile"
                        style="
                          background-image: url('https://static.wadiz.kr/assets/icon/profile-icon-6.png');
                        "></button
                      ><button
                        class="MyWadizSupporterProfile_editProfile__3HG_Z"
                        title="프로필 편집하기"
                        data-event="profile_edit">
                        <svg
                          viewBox="0 0 32 32"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__FgeYa"
                          aria-hidden="true">
                          <path
                            d="M24 1.6L1.6 24v6.4H8L30.4 8zM7.36 28.8H3.2v-4.16L19.76 8.08l4.16 4.16zm17.68-17.68l-4.16-4.16L24 3.84 28.16 8z"></path>
                        </svg>
                      </button>
                    </div>
                    <div class="MyWadizSupporterProfile_profileUser__a_r1P">
                      <button data-event="profile">
                        <strong
                          ><span th:text="${#authentication.principal.member.mname}">사용자이름<i>님</i></span
                          ><svg
                            viewBox="0 0 40 40"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__FgeYa"
                            aria-hidden="true">
                            <path
                              d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg
                        ></strong>
                      </button>
                      <div
                        class="MyWadizSupporterProfile_profileUserLabel__1fiU3">
                        서포터 ∙ 개인 회원
                      </div>
                    </div>
                    <div class="MyWadizSupporterProfile_setting__n8-M7">
                      <p class="MyWadizLoginMode_loginMode__2smkD">
                        와디즈 계정으로 로그인 중
                      </p>
                      <button
                        class="logoutBtn Button_button__MvCi9 Button_md__3RBTF Button_circular__2lnPs Button_block__3LZpG"
                        type="button">
                        <span
                          ><span class="Button_children__25PKp"
                            >로그아웃</span
                          ></span
                        >
                      </button>
                    </div>
                  </div>
                  <div class="MyWadizSupporter_contents__1TmJ_">
                    <div class="MyWadizSection_section__3FCv1">
                      <div class="MyWadizSupporterProject_container__2uWcZ">
                        <div class="MyWadizSupporterProject_title__1IOfu">
                          <div
                            class="MyWadizSupporterProject_accumulate__1nyx5">
                            <div class="MyWadizSupporterProject_value__7aQ4B">
                              <a
                                class="MyWadizSupporterAccumulate_container__h_OVK"
                                href="/web/wmypage/mybenefit/pointlist"
                                ><div
                                  class="MyWadizSupporterAccumulate_title__3CiIs">
                                  <svg
                                    viewBox="0 0 40 40"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon__FgeYa"
                                    aria-hidden="true">
                                    <g data-name="레이어 2">
                                      <path
                                        d="M21.19 12.5h-5.91v15.16h2.16v-4.59h3.75a7 7 0 0 0 4.63-1.41 4.75 4.75 0 0 0 1.69-3.87 4.77 4.77 0 0 0-1.69-3.88 7 7 0 0 0-4.63-1.41zm3.07 7.81a4.84 4.84 0 0 1-3.14.88h-3.68v-6.8h3.68a4.9 4.9 0 0 1 3.14.87 3.06 3.06 0 0 1 1.09 2.53 3 3 0 0 1-1.09 2.52z"></path>
                                      <path
                                        d="M20 1.67A18.33 18.33 0 1 0 38.33 20 18.35 18.35 0 0 0 20 1.67zm0 34.66A16.33 16.33 0 1 1 36.33 20 16.35 16.35 0 0 1 20 36.33z"></path>
                                      <path
                                        fill="none"
                                        d="M0 0h40v40H0z"></path>
                                    </g></svg
                                  ><span
                                    class="MyWadizSupporterAccumulate_name__1mWXC"
                                    >포인트</span
                                  >
                                </div>
                                <div
                                  class="MyWadizSupporterAccumulate_value__1oBSj">
                                  0 P
                                </div></a
                              >
                              <hr
                                class="Divider_divider__2yqVa Divider_horizontal__39SKA Divider_lightBG__u4-fN Divider_spacing5__3cs81 Divider_caption2__3SUEK MyWadizSupporterProject_accumulateDivider__1qDCv" />
                              <a
                                class="MyWadizSupporterAccumulate_container__h_OVK"
                                href="/web/coupon-zone"
                                ><div
                                  class="MyWadizSupporterAccumulate_title__3CiIs">
                                  <svg
                                    viewBox="0 0 40 40"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon__FgeYa"
                                    aria-hidden="true">
                                    <g data-name="레이어 2">
                                      <path
                                        d="M37.64 17.54l.86-.12V8.5a2 2 0 0 0-2-2h-33a2 2 0 0 0-2 2v8.92l.86.12a2.48 2.48 0 0 1 0 4.92l-.86.12v8.92a2 2 0 0 0 2 2h33a2 2 0 0 0 2-2v-8.92l-.86-.12a2.48 2.48 0 0 1 0-4.92zm-1.14 6.69v7.27h-33v-7.27a4.48 4.48 0 0 0 0-8.46V8.5h33v7.27a4.48 4.48 0 0 0 0 8.46z"></path>
                                      <path
                                        d="M18.16 16.73a2.66 2.66 0 1 0-2.66 2.66 2.66 2.66 0 0 0 2.66-2.66zm-3.8 0a1.14 1.14 0 1 1 1.14 1.14 1.14 1.14 0 0 1-1.14-1.14zm12.14 4.34a2.66 2.66 0 1 0 2.66 2.66 2.66 2.66 0 0 0-2.66-2.66zm0 3.8a1.14 1.14 0 1 1 1.14-1.14 1.14 1.14 0 0 1-1.14 1.14zm.43-10.45l-1.08-.98-10.99 12.01-.09.09 1.08.98 10.99-12.01.09-.09z"></path>
                                      <path
                                        fill="none"
                                        d="M0 0h40v40H0z"></path>
                                    </g></svg
                                  ><span
                                    class="MyWadizSupporterAccumulate_name__1mWXC"
                                    >쿠폰</span
                                  >
                                </div>
                                <div
                                  class="MyWadizSupporterAccumulate_value__1oBSj">
                                  2 장
                                </div></a
                              >
                            </div>
                          </div>
                          <div
                            class="MyWadizSupporterProjectInfo_project__3Vaun">
                            <div
                              class="MyWadizSupporterProjectInfo_projectLink__2K77b">
                              <a href="/web/mypage/order"
                                ><span>펀딩</span><b>상세보기 > </b></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="MyWadizSection_section__3FCv1">
                      <h3 class="MyWadizSection_title__2pnV3">나의 활동</h3>
                      <div>
                        <div class="MyWadizMenu_menu__3b-H-">
                          <a href="/web/wish/main"
                            ><span class="MyWadizMenu_icon__1sqne"
                              ><svg
                                viewBox="0 0 32 32"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__FgeYa"
                                aria-hidden="true">
                                <path
                                  d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z"></path></svg></span
                            ><strong class="MyWadizMenu_text__9ryGW"
                              >찜하기</strong
                            ><span class="MyWadizMenu_arrowIcon__2sutN"
                              ><svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__FgeYa"
                                aria-hidden="true">
                                <path
                                  d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div class="MyWadizSection_section__3FCv1">
                      <h3 class="MyWadizSection_title__2pnV3">
                        나의 문의 내역
                      </h3>
                      <div>
                        <div class="MyWadizMenu_menu__3b-H-">
                          <a href="/web/board/personalMessage/inbox"
                            ><span class="MyWadizMenu_icon__1sqne"
                              ><svg
                                viewBox="0 0 32 32"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__FgeYa"
                                aria-hidden="true">
                                <path
                                  d="M1.6 5.6v20.8h28.8V5.6zm26.88 1.6L16 17.84 3.52 7.2zm.32 17.6H3.2V9.04L16 19.92 28.8 9.04z"></path></svg></span
                            ><strong class="MyWadizMenu_text__9ryGW"
                              >메이커 문의</strong
                            ><span class="MyWadizMenu_arrowIcon__2sutN"
                              ><svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__FgeYa"
                                aria-hidden="true">
                                <path
                                  d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div class="MyWadizSection_section__3FCv1">
                      <h3 class="MyWadizSection_title__2pnV3">고객센터</h3>
                      <div>
                        <div class="MyWadizMenu_menu__3b-H-">
                          <button data-event="inquire">
                            <span class="MyWadizMenu_icon__1sqne"
                              ><svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__FgeYa"
                                aria-hidden="true">
                                <path fill="none" d="M0 0h40v40H0z"></path>
                                <path
                                  d="M10.62 38.33V29H2.87V1.67h34.26v27.79H18.92zM5 27h7.7v6.11l5.3-5.73h17V3.75H5z"></path>
                                <path
                                  d="M12.84 13.28a1.87 1.87 0 1 0 0 3.74 1.87 1.87 0 1 0 0-3.74zm7.16 0a1.87 1.87 0 1 0 0 3.74 1.87 1.87 0 1 0 0-3.74zm7.16 0a1.87 1.87 0 1 0 0 3.74 1.87 1.87 0 1 0 0-3.74z"></path></svg></span
                            ><strong class="MyWadizMenu_text__9ryGW"
                              >1:1 채팅 상담</strong
                            ><span class="MyWadizMenu_arrowIcon__2sutN"
                              ><svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__FgeYa"
                                aria-hidden="true">
                                <path
                                  d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg
                            ></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="MyWadizSection_section__3FCv1">
                      <div>
                        <div class="MyWadizOtherMenu_otherMenu__2GlwQ">
                          <div class="MyWadizMenu_menu__3b-H-">
                            <a href="/web/wboard/newsBoardList"
                              ><span class="MyWadizMenu_icon__1sqne"
                                ><i
                                  class="MyWadizOtherMenu_noticeIcon__2AXx5"></i></span
                              ><strong class="MyWadizMenu_text__9ryGW"
                                >공지사항</strong
                              ><span class="MyWadizMenu_arrowIcon__2sutN"
                                ><svg
                                  viewBox="0 0 40 40"
                                  focusable="false"
                                  role="presentation"
                                  class="withIcon_icon__FgeYa"
                                  aria-hidden="true">
                                  <path
                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span
                            ></a>
                          </div>
                        </div>
                        <div class="MyWadizOtherMenu_btnWrapper__2qG2E">
                          <div class="MyWadizOtherMenu_loginMode__3x6tN">
                            <p class="MyWadizLoginMode_loginMode__2smkD">
                              와디즈 계정으로 로그인 중
                            </p>
                            <button
                              class="logoutBtn Button_button__mRXZC Button_md__136bx Button_block__1LAUA"
                              type="button">
                              <span
                                ><span class="Button_children__3HY2l"
                                  >로그아웃</span
                                ></span
                              >
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:replace="/fragment/footer__31KP4.html :: footer"></div>

        </div>
      </main>
    </div>

  <script>
    $(document).ready(function(){
      $('.logoutBtn').click(function(e){
        var now = new Date();
        now.setHours(now.getHours() - 1); // 1시간 전으로 설정
        document.cookie = "accessToken=; expires=" + now.toUTCString() + "; path=/;";
        document.cookie = "refreshToken=; expires=" + now.toUTCString() + "; path=/;";
        location.href = '/web/funding';
        console.log('쿠키 삭제');
      })
    })
    $(document).on('click','.MyWadizUserTypeSwitch_button__BYDWf',function(){
      if($(this).data('event')==='supporter_mode'){
        location.href = '/web/mypage';
      } else{
        location.href = '/web/mypage/maker';
      }
    })
  </script>
  </body>
</html>
