<html lang="ko" class="show-footer scroll-top scroll-apex">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
    <title>와디즈 - 마이와디즈</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />

    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
    <link
      rel="stylesheet"
      href="/import/css/layout.css" />
    <link
      rel="stylesheet"
      href="/import/css/main.42cef079.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="/import/css/0.10c7bd2e.chunk.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/vendors~my-wadiz~startup-main.ad21a59e.chunk.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/my-wadiz.635555ef.chunk.css" />
  </head>

  <style>
    .MyWadizMyProject_projectListContainer__2C9hy ul{
      white-space: normal;
    }
  </style>
  <body cz-shortcut-listen="true">
    <div id="page-container">
      <main id="main-app">
        <div th:replace="/fragment/header__3X3Cg.html :: header"></div>
        <div class="MainWrapper_content__GZkTa">
          <div class="MyWadizPage_myWadizPage__wOTdS">
            <div class="MyWadizPage_profileBackground__T_LTr"></div>
            <div class="MyWadizPage_inner__1oq9M">
              <div class="MyWadizHeader_wadizHeader__8fJ9f">
                <div
                  class="MyWadizUserTypeSwitch_container__8B_kv MyWadizUserTypeSwitch_isMaker__2h2K4 MyWadizHeader_switch__2WQSt">
                  <button
                    data-event="supporter_mode"
                    class="MyWadizUserTypeSwitch_button__BYDWf MyWadizUserTypeSwitch_supporter__1yivJ"></button
                  ><button
                    data-event="maker_mode"
                    class="MyWadizUserTypeSwitch_button__BYDWf MyWadizUserTypeSwitch_maker__3C77T MyWadizUserTypeSwitch_active__dwn-k"></button>
                </div>
              </div>
              <div class="MyWadizPage_contentsWrapper__1dzMJ">
                <span class="MyWadizPage_standard__phXLq"></span>
                <div class="MyWadizMaker_makerMode__19jDX">
                  <div class="MyWadizMakerProfile_profileContainer__1SNqv">
                    <div class="MyWadizMakerProfile_baseInfoSection__2bk8B">
                      <div class="MyWadizMakerProfile_profileImage__110Wi">
                        <button
                          class="MyWadizMakerProfile_detailProfile__13QK_ MyWadizMakerProfile_noLogo__1-PDp"
                          title="메이커 등록하기"></button>
                      </div>
                      <div class="MyWadizMakerProfile_profileUser__2cuK9">
                        <button class="MyWadizMakerProfile_makerName__RJLqx">
                          <strong class="MyWadizMakerProfile_text__8kdAr"
                            ><span>와디즈 메이커님</span></strong
                          >
                        </button>
                      </div>
                    </div>
                    <button
                      class="MyWadizMakerPageCompletion_container__-uhDn"></button>
                    <div class="MyWadizMakerProfile_setting__3yxCI">
                      <p class="MyWadizLoginMode_loginMode__2smkD">
                        와디즈 계정으로 로그인 중
                      </p>
                      <button
                        class="logoutBtn Button_button__MvCi9 Button_md__3RBTF Button_circular__2lnPs Button_block__3LZpG"
                        type="button">
                        <span
                          ><span class="Button_children__25PKp"
                            >로그아웃</span
                          ></span
                        >
                      </button>
                    </div>
                  </div>
                  <div class="MyWadizMaker_contents__1blQZ">
                    <div class="MyWadizSection_section__3FCv1">
                      <div>
                        <div class="TabPanels_tabPanels__37eeu">
                          <div
                            class="MyWadizMyProject_projectListContainer__2C9hy">
                            <h1 class="MyWadizMyProject_title__2cowP">
                              만든 프로젝트<span id="funding_count"></span>
                            </h1>
                            <ul class="MyWadizMyProject_hideScroll__uQ06T funding_list">
                            </ul>
                            <a class="Button_button__MvCi9 Button_primary__2drNJ Button_contained__2QbHh Button_lg__2VLQ5 Button_block__3LZpG MyWadizMyProject_button__3WHeG fundingMakeBtn">
                              <span>
                                <span class="Button_children__25PKp">프로젝트 만들기</span>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:replace="/fragment/footer__31KP4.html :: footer"></div>

        </div>
      </main>
    </div>

  <script src="/js/confirm.js"></script>
  <link
            rel="stylesheet"
            href="/import/css/payments.562cdee9.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/wui.css"/>
  <link rel="stylesheet" href="https://static.wadiz.kr/static/web/common.css?a5fa8553">

  <script>

    $('.fundingMakeBtn').click(function (e) {
      showConfirm("펀딩 만들기", "프로젝트를 만드시겠습니까?", ()=>{
        $.ajax({
          url: '/api/funding/',
          type: 'POST',
          dataType: 'text',
          success: function (fid) {
            console.log('펀딩 만들기 성공/ fid = ', fid);
            location.href = '/web/mypage/maker/funding/' + fid;
          }
        });
      });
    });


    $(document).ready(function(){
      getFundingList();

      $('.logoutBtn').click(function(e){
        showConfirm("로그아웃","로그아웃 하시겠습니까?",()=>{
          $.ajax({
            url : '/api/account/logout',
            type : 'post',
            success : function(data){
              console.log(data);
              location.href = '/web/funding';
            }
          })
        })

      })
    })

    function getFundingList(){
      $.ajax({
        url : '/api/member/funding',
        method : 'GET',
        dataType : 'json',
        success : function(data){
          console.log(data);
          $('#funding_count').text(data.length);
          printFundingUI(data);
        }
      })
    }
    function printFundingUI(data){
      let tmp = '';

      $(data).each((idx ,d) => {
        let sty = '';
        if(d['fthumb'] != null && d['fthumb']!==''){
          sty = "background-image: -webkit-image-set(url("+d['fthumb']+") 1x);"
        }
        let sts = '';
        switch (d['fstatus']){
          case 'PREPARING' :
            sts = '작성 중'
            break;
          case 'PARTICIPATE' :
            sts = '심사 중'
            break;
          case 'FUNDING' :
            sts = '펀딩 중'
            break;
          case 'STORE' :
            sts = '입점 중'
            break;
          case 'FAIL' :
            sts = '입점 실패'
            break;
          case 'END' :
            sts = '종료'
            break;
        }
        let title = d['fstore_name'] == null ? '제목을 입력해주세요' : d['fstore_name'];

        let funding_template = `
      <li>
        <a class="CardType_projectCard__2S8_G CardType_projectCardB__PatIP ${sty===''?'MyWadizMyProject_defaultImage__Tr8wd':''}" href="/web/mypage/maker/funding/${d['fid']}"><article>
          <span class="Thumbnail_thumbnail__3gakA Thumbnail_img__j7EZh Thumbnail_visible__2z4Af CardType_thumbnail__2yL-W"
          style="${sty}"
          ></span>
            <div class="TextContent_content__2jSfH CardType_content__2B7IB">
              <h1 class="TextContent_title__3Clug">
                ${title}
              </h1>
              <p class="TextContent_summary__18CPX">
                ${sts}
              </p>
            </div>
          </article>
        </a>
      </li>
      `;
        tmp += funding_template;
      })
    $('.funding_list').html(tmp);
    }

    $(document).on('click','.MyWadizUserTypeSwitch_button__BYDWf',function(){
      if($(this).data('event')==='supporter_mode'){
        location.href = '/web/mypage';
      } else{
        location.href = '/web/mypage/maker';
      }
    })
  </script>
  </body>
</html>
