#oracle
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

#thymeleaf
spring.thymeleaf.cache=false
spring.devtools.livereload.enabled=true

server.port=80

#MyBatis
mybatis.config-location=classpath:mybatis/mapper-config.xml
mybatis.mapper-locations=classpath:mybatis/mapper/*.xml

# Security
logging.level.org.springframework.security.web=info