#oracle
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

#thymeleaf
spring.thymeleaf.cache=false
spring.devtools.livereload.enabled=true

server.port=80

#MyBatis
mybatis.config-location=classpath:mybatis/mapper-config.xml
mybatis.mapper-locations=classpath:mybatis/mapper/*.xml

# Security
logging.level.org.springframework.security.web=info

#Google OAuth2
spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=email

# jwt 1h, 3w
jwt.secret-key=secret-key-lalala-lululu-fucking-error-WeakKeyException-not-secure-enough
jwt.token-validity-in-sec=36000000
jwt.refresh-token-validity-in-sec=2592000000

#multipart
spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-request-size=30MB
spring.servlet.multipart.max-file-size=10MB

upload.path=<YOUR_UPLOAD_PATH

# review ai server url
review.sentimental.url=http://localhost:4000/api/review/sentimental

# toss key
toss.client.key=
toss.secret.key=