<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.samgyeobsal.mapper.OrderMapper">

    <insert id="save"
            parameterType="com.samgyeobsal.domain.order.OrderRequest">
        INSERT INTO
            ORDERS( OID, OCONSUMER, OPHONE, OMEMO,
                    OORIGINPRICE, OAFTERPRICE, OSTATUS, MID, PMCODE, CPID, OEMAIL)
        VALUES(#{oid}, #{oConsumer}, #{ophone}, #{omemo}, #{obeforePrice}, #{oafterPrice}, '주문완료',
               #{mid}
                  , 'pmcode1', #{cpid}, #{oemail})
    </insert>

<!--    <insert id="saveItem"-->
<!--            parameterType="com.samgyeobsal.domain.order.OrderRequest">-->
<!--        INSERT INTO-->
<!--            ORDER_ITEM(-->
<!--                       PSID-->
<!--                      ,OID-->
<!--                      ,OICOUNT-->
<!--                      ,OITOTALPRICE-->
<!--        )-->
<!--        VALUES(-->
<!--                  'PSID'-->
<!--              ,'OID'-->
<!--              ,#{oicount}-->
<!--              ,#{oafterPrice}-->
<!--              )-->
<!--    </insert>-->

<!--    <insert id="savePayment"-->
<!--            parameterType="com.samgyeobsal.domain.order.OrderRequest">-->
<!--        INSERT INTO-->
<!--            PAYMENT_METHOD(-->
<!--                           PMCODE-->
<!--                          ,PMCOMPANY-->
<!--                          ,PMMETHOD-->
<!--        )-->
<!--        VALUES(-->
<!--                  'PMCODE'-->
<!--              ,#{pmcompany}-->
<!--              ,#{pmmethod}-->
<!--              )-->
<!--    </insert>-->


<!--    <select id="findOrder"-->
<!--            resultType="com.samgyeobsal.domain.mypage.Order">-->
<!--        select OId as OrderID, obeforeprice as OrderPrice from orders-->
<!--        where mid = #{mid}-->
<!--    </select>-->


</mapper>