<html lang="ko" class="scroll-top scroll-apex">
<head>


  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
          name="viewport"
          content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover"
  />

  <title>와디즈 공지 사항</title>

  <link
          rel="stylesheet"
          href="/import/css/main.42cef079.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/wui.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/common.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/layout.css"
  />


  <link
          rel="stylesheet"
          href="/import/css/board.77cc2805.css"
  />
</head>
<body>
<div id="page-container">
  <div class="black-bg-wrap" style="display: none"></div>

  <div id="wz-header">
    <div th:replace="/fragment/header__3X3Cg.html :: header"></div>
  </div>
  <form id="forwardForm" method="get">
    <input type="hidden" id="returnURL" name="returnURL" />
  </form>
  <input type="hidden" id="sessionLoginCheck" value="false" />

  <main class="board wzui">
    <div class="ui-header">
      <h2 class="title">공지 사항</h2>
      <div class="ui-tabs">
        <ul>
          <li><a href="#">전체</a></li>

          <li>
            <a href="#1">공지</a>
          </li>

          <li class="active">
            <a href="#2">이벤트</a>
          </li>

          <li>
            <a href="#38">보도자료</a>
          </li>


        </ul>
      </div>
    </div>
    <div aria-hidden="true"></div>
    <div class="board-main">
      <ul>
        <li>
          <a
                  class="article"
                  href="/web/wboard/newsBoardDetail/8424?headWordId=&amp;cPage=1"
          >
            <em class="category">이벤트</em>

            <em class="status closed">진행 중</em>

            <em class="notice">중요</em>

            <em class="notice">BEST</em>

            <div class="info">
              <div
                      class="thumb"
                      style="
                      background-image: url(https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313113455996_0.jpg/wadiz/resize/400/format/jpg/quality/80/optimize);
                    "
              ></div>

              <h3 class="title">
                [이벤트] 3월 '집 밖의 발견' 기획전 | 펀딩·스토어 각 7,OOO원
                선착순 쿠폰 (~3/31)
              </h3>
              <span class="author">와디즈</span
              ><span class="created-at">2023.03.07</span>
            </div>
          </a>
        </li>
        <li>
          <a
                  class="article"
                  href="/web/wboard/newsBoardDetail/8424?headWordId=&amp;cPage=1"
          >
            <em class="category">이벤트</em>

            <em class="status closed">진행 중</em>

            <em class="notice">중요</em>

            <em class="notice">BEST</em>

            <div class="info">
              <div
                      class="thumb"
                      style="
                      background-image: url(https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313113455996_0.jpg/wadiz/resize/400/format/jpg/quality/80/optimize);
                    "
              ></div>

              <h3 class="title">
                [이벤트] 3월 '집 밖의 발견' 기획전 | 펀딩·스토어 각 7,OOO원
                선착순 쿠폰 (~3/31)
              </h3>
              <span class="author">와디즈</span
              ><span class="created-at">2023.03.07</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div
            aria-hidden="true"
            style="position: relative; left: 0px; bottom: 48px; width: 100%"
    ></div>
  </main>
</div>
<div id="footer">
  <div th:replace="/fragment/footer__15kue.html :: footer"></div>
</div>

</body>
</html>
