<html lang="ko" class="scroll-top scroll-apex">
<head>


  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
          name="viewport"
          content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover"
  />

  <title>와디즈 공지 사항</title>

  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <link
          rel="stylesheet"
          href="/import/css/main.42cef079.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/wui.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/common.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/layout.css"
  />


  <link
          rel="stylesheet"
          href="/import/css/board.77cc2805.css"
  />
</head>
<body>
<div id="page-container">
  <div class="black-bg-wrap" style="display: none"></div>

  <div id="wz-header">
    <div th:replace="/fragment/header__3X3Cg.html :: header"></div>
  </div>
  <form id="forwardForm" method="get">
    <input type="hidden" id="returnURL" name="returnURL" />
  </form>
  <input type="hidden" id="sessionLoginCheck" value="false" />

  <main class="board wzui">
    <div class="ui-header">
      <h2 class="title">공지 사항</h2>
      <div class="ui-tabs">
        <ul>
          <li class="active" data-status=""><a >전체</a></li>

          <li data-status="notice">
            <a >공지</a>
          </li>

          <li data-status="event">
            <a >이벤트</a>
          </li>


        </ul>
      </div>
    </div>
    <div aria-hidden="true"></div>
    <div class="board-main">
      <ul>
      </ul>
    </div>
    <div
            aria-hidden="true"
            style="position: relative; left: 0px; bottom: 48px; width: 100%"
    ></div>
  </main>
</div>
<div id="footer">
  <div th:replace="/fragment/footer__15kue.html :: footer"></div>
</div>
<script>
  $(document).ready(function (){
    let status="";
    getNotice(status);

    $('.ui-tabs').find('li').click(function (){
      console.log($(this).find('a').text());
      $('.ui-tabs').find('li').removeClass('active');
      $(this).addClass('active');
      status=$(this).data('status');
      getNotice(status);

    })
    function couponDate(d){
      let cDate = new Date(d);

      let year = cDate.getFullYear();
      let month = ('0' + (cDate.getMonth() + 1)).slice(-2);
      let day = ('0' + cDate.getDate()).slice(-2);
      // let hours = cDate.getHours();
      // let minutes = cDate.getMinutes();
      let dateString = year + '.' + month  + '.' + day;


      return dateString;
    }






    function getNotice(status) {
       $('.board-main').find('ul').html('');
      $.ajax({
        url: '/api/notice/list',
        type: "get",
        contentType: "application/json; charset=utf-8",
        data: {
          status:status
        },
        success: function (data, status) {
          let k="";

           data.forEach(function (notice) {
             let proceeding = notice['nstatus'] === 'EVENT'? '<em class="category">이벤트</em><em class="status closed">진행 중</em>' : '<em class="notice">공지</em>';
             let urlStatus = notice['nstatus'] === 'NOTICE'?'notice' :'event'
             let ndate = couponDate(notice.ndate);
              k += `<li>
          <a class="article" href="/web/${urlStatus}/${notice.nid}">
            ${proceeding}
<!--            <em class="notice">중요</em>-->
            <div class="info">
              <div class="thumb" style="
                      background-image: url(${notice.nthumb});
                    "></div>

              <h3 class="title">
                ${notice.ntitle}
              </h3>
              <span class="author">더쉐프</span><span class="created-at">${ndate}</span>
            </div>
          </a>
        </li>`;

            });

          $('.board-main').find('ul').append(k);


        },
        error: function (status, error) {
          alert("실패");
        }
      })

    }
  })
</script>
</body>
</html>
