<html lang="ko" class="scroll-half-screen scroll-top">
<head>
  <title>
    [런드리고x와디즈] 서포터클럽 대상 런드리고 1만원 할인 쿠폰 받고 와디즈
    쿠폰팩도 받자! | 와디즈 공지사항
  </title>

  <link rel="stylesheet" href="/import/css/wboard.css" />
  <link
          rel="stylesheet"
          href="/import/css/wui.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/common.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/layout.css"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="/import/css/froala_custom.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/main.42cef079.css"
  />
</head>
<body>
<div id="page-container">
  <div class="black-bg-wrap" style="display: none"></div>

  <div id="wz-header">
    <div th:replace="/fragment/header__3X3Cg.html :: header">
  </div>


  <form id="forwardForm" method="get">
    <input type="hidden" id="returnURL" name="returnURL" />
  </form>
  <input type="hidden" id="sessionLoginCheck" value="false" />

  <div id="newContainer">
    <div id="wBoardWrap">
      <div class="wboard-wrap">
        <div class="wboard-detail-content">
          <div class="article-top">
            <p class="title">
              [런드리고x와디즈] 서포터클럽 대상 런드리고 1만원 할인 쿠폰
              받고 와디즈 쿠폰팩도 받자!
            </p>
            <div class="info">
              <em
                      class="user-img"
                      style="
                      background-image: url(https://static.wadiz.kr/assets/icon/apple-touch-icon.png);
                    "
              ></em>
              <span class="user-info">와디즈 <br />2023.03.06</span>
            </div>
          </div>
          <div class="inner-contents">
            <p style="margin: 0">
              <img
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306191134198_37.png/wadiz/format/jpg/quality/80/optimize"
                      class="fr-fic fr-dib"
              />
            </p>
            <p style="margin: 0">
              <img
                      data-supporterclub="laundrygo"
                      style="margin: 0"
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306164725985_94.jpg/wadiz/format/jpg/quality/80/optimize"
                      class="fr-fic fr-dib"
              />
            </p>
            <p style="margin: 0">
              <a
                      href="https://www.wadiz.kr/web/supporter-club/intro"
                      rel="noopener noreferrer"
                      target="_blank"
              ><img
                      style="margin: 0"
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306164726531_94.jpg/wadiz/format/jpg/quality/80/optimize"
                      class="fr-fic fr-dib"
              /></a>
            </p>
            <p style="margin: 0">
              <img
                      style="margin: 0"
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306164744309_94.jpg/wadiz/format/jpg/quality/80/optimize"
                      class="fr-fic fr-dib"
              />
            </p>
            <p style="margin: 0">
              <a
                      href="https://www.wadiz.kr/web/wreward/collection/laundrygo?order=recommend&amp;endYn=N&amp;keyword="
                      rel="noopener noreferrer"
                      target="_blank"
              ><img
                      style="margin: 0"
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306164754471_94.gif"
                      class="fr-fic fr-dib"
              /></a>
            </p>
            <p style="margin: 0">
              <a
                      href="https://www.wadiz.kr/web/store/collection/laundrygo"
                      rel="noopener noreferrer"
                      target="_blank"
              ><img
                      style="margin: 0"
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306164803259_94.gif"
                      class="fr-fic fr-dib"
              /></a>
            </p>
            <p style="margin: 0">
              <img
                      style="margin: 0"
                      src="https://cdn.wadiz.kr/ft/images/green001/2023/0306/20230306164812141_94.jpg/wadiz/format/jpg/quality/80/optimize"
                      class="fr-fic fr-dib"
              />
            </p>
          </div>
          <div class="article-attached">
            <ul></ul>
          </div>
        </div>
      </div>
      <div class="wboard-detail-bottom">
        <div class="wboard-detail-btn-wrap">
          <a class="wz button" href="#this" onclick="moveList()"
          >목록으로 돌아가기</a
          >
        </div>
      </div>
    </div>
  </div>
  <input
          type="hidden"
          id="articleUrl"
          value="https://www.wadiz.kr/web/wboard/newsBoardDetail/8422"
  />
  <div id="fb-root"></div>

  <div id="footer">
    <div th:replace="/fragment/footer__15kue.html :: footer"></div>
  </div>
</body>
</html>
