<html lang="ko" class="scroll-half-screen scroll-top">
<head>
  <title>더쉐프 공지사항</title>
  <link
          rel="shortcut icon"
          href="/images/favicon.ico" />

  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/import/css/wboard.css" />
  <link
          rel="stylesheet"
          href="/import/css/wui.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/common.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/layout.css"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="/import/css/froala_custom.css"
  />
  <link
          rel="stylesheet"
          href="/import/css/main.42cef079.css"
  />
  <script src="/js/confirm.js"></script>
  <link
          rel="stylesheet"
          href="/import/css/payments.562cdee9.css"
  />
  <link rel="stylesheet" href="https://static.wadiz.kr/static/web/common.css?a5fa8553">
</head>
<style>
  .HeaderDesktop_user__3zGmM{
    margin-top: 10px;
  }
</style>
<body>
<div id="page-container">
  <div class="black-bg-wrap" style="display: none"></div>

  <div id="wz-header">
    <div th:replace="fragment/header__3X3Cg.html :: header">
  </div>


  <form id="forwardForm" method="get">
    <input type="hidden" id="returnURL" name="returnURL" />
  </form>
  <input type="hidden" id="sessionLoginCheck" value="false" />

  <div id="newContainer">
    <div id="wBoardWrap">
      <div class="wboard-wrap">
        <div class="wboard-detail-content">
          <div class="article-top">
            <p class="title">
              [[${notice.ntitle}]]
            </p>
            <div class="info">
              <em
                      class="user-img"
                      style="
                      background-image: url(/images/icon_location.png);
                    "
              ></em>
              <span class="user-info">더쉐프 <br /><span th:text="${#dates.format(notice.ndate, 'yyyy.MM.dd')}"></span></span>
            </div>
          </div>
          <div class="inner-contents">
            [(${notice.ncontent})]
          </div>
          <div class="article-attached">
            <ul></ul>
          </div>
        </div>
      </div>
      <div class="wboard-detail-bottom">
        <div class="wboard-detail-btn-wrap">
          <a class="wz button" href="/web/notice"
          >목록으로 돌아가기</a
          >
        </div>
      </div>
    </div>
  </div>
  <input
          type="hidden"
          id="articleUrl"
          value="https://www.wadiz.kr/web/wboard/newsBoardDetail/8422"
  />
  <div id="fb-root"></div>

  <div id="footer">
    <div th:replace="fragment/footer__15kue.html :: footer"></div>
  </div>
    <script th:inline="javascript">
      $(document).ready(function (){
        console.log([[${notice}]]);
        let eid=[[${notice.nid}]];
        $('.issueCoupon').click(function (){
          issueCoupon(eid);
        })


        function issueCoupon(eid) {

          $.ajax({
            url: '/api/coupon/issue',
            type: "post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
              eid:eid
            }),
            success: function (data, status) {
              showConfirm("쿠폰이 발급되었습니다","마이페이지 - 쿠폰함으로 가시겠습니까?")


            },
            error: function (status, error) {
              showConfirm("쿠폰이 이미 발급되었습니다.","마이페이지 - 쿠폰함으로 가시겠습니까?")
            }
          })

        }
        $(document).on('click','.checkConfirm',function (){
          location.href='/web/mypage/coupon';
        })
      })
    </script>
</body>
</html>
