<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" class="web-footer inner-utils" th:fragment="footer">
    <div class="FooterMenu_container__31KP4">
        <div class="FooterMenu_bar__2_OJF">
            <div class="FooterMenu_right__3lPZu">
                <a href="/web/notice" class="FooterMenu_menu__2qmcB" target="_blank"
                   rel="noopener noreferrer">공지사항
                    <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                         class="withIcon_icon__2ay_1 FooterMenu_openLinkIcon__15pDJ" aria-hidden="true">
                        <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                        <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="FooterContainer_container__3B0Z_">
        <div class="FooterContainer_inner__3kAgZ">
            <section class="FooterContainer_leftSection__6PWiM">
                <strong class="FooterContainer_title__19gmn">더쉐프 고객센터</strong>

                <dl class="FooterContainer_enableTime__2QoU7">
                    <dt>상담 가능 시간</dt>
                    <dd>평일 오전 9시 ~ 오후 6시 (주말, 공휴일 제외)</dd>
                </dl>
            </section>
            <section class="FooterContainer_rightSection__3R7v7">
                <address>
                    <ul class="FooterInfo_info__53l7z">
                        <li>더쉐프㈜</li>
                        <li>대표이사 최태승</li>
                        <li>사업자등록번호 000-00-0000</li>
                        <li>통신판매업신고번호 123123123123</li>
                        <li>서울특별시 선유로 9 나길 8</li>
                    </ul>
                    <div class="FooterInfo_contactInfoWrap__1oxEb">
                        <ul class="FooterInfo_info__53l7z FooterInfo_contactInfo__3lWLf">
                            <li>
                                <a href="https://helpcenter.wadiz.kr/hc/ko/requests/new" target="_blank"
                                   rel="noreferrer">이메일 상담 thechef@gmail.com</a>
                            </li>
                            <li>유선 상담 <a href="tel:1661-9056">0000-0000</a></li>
                        </ul>
                        <span class="FooterInfo_copyright__3FFQ_">© theChef Co., Ltd.</span>
                    </div>
                </address>
                <div class="FooterContainer_infoNotice__3-eEE">
                    <p>
                        일부 상품의 경우 더쉐프는 통신판매중개자이며 통신판매
                        당사자가 아닙니다.
                    </p>
                    <p>
                        해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와
                        책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인
                        내용을 확인하시기 바랍니다.
                    </p>
                </div>
            </section>
        </div>
    </div>
</footer>
</html>
