<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" class="web-footer" th:fragment="footer">
  <div class="FooterMenu_container__15kue">
    <div class="FooterMenu_bar__22KhW">
      <div class="FooterMenu_left__3rQKu">
        <div class="FooterMenu_menu__3nRbk Linker_btnMore__1PEzz">
          정책 · 약관<i
                class="icon chevron-right Linker_linkerIcon__1QJpf"
                aria-hidden="true"></i>
        </div>
        <div
                class="FooterMenu_menu__3nRbk FooterMenu_bold__2zNg0 Linker_btnMore__1PEzz">
          개인정보처리방침<i
                class="icon chevron-right Linker_linkerIcon__1QJpf"
                aria-hidden="true"></i>
        </div>
      </div>
      <div class="FooterMenu_right__28Tuu">
        <div class="FooterMenu_menu__3nRbk Linker_btnMore__1PEzz">
          제휴문의<i
                class="icon chevron-right Linker_linkerIcon__1QJpf"
                aria-hidden="true"></i>
        </div>
        <a
                href="/web/wboard/newsBoardList"
                class="FooterMenu_menu__3nRbk"
                target="_blank"
                rel="noopener noreferrer"
        >공지사항<svg
                viewBox="0 0 40 40"
                focusable="false"
                role="presentation"
                class="withIcon_icon__18kbI FooterMenu_openLinkIcon__3YMFQ"
                aria-hidden="true">
          <path
                  d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
          <path
                  d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path></svg></a
        ><a
              href="https://www.job.wadiz.kr/"
              class="FooterMenu_menu__3nRbk"
              target="_blank"
              rel="noopener noreferrer"
      >인재채용<svg
              viewBox="0 0 40 40"
              focusable="false"
              role="presentation"
              class="withIcon_icon__18kbI FooterMenu_openLinkIcon__3YMFQ"
              aria-hidden="true">
        <path
                d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
        <path
                d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path></svg
      ></a>
        <div class="FooterMenu_menu__3nRbk Linker_btnMore__1PEzz">
          SNS<i
                class="icon chevron-right Linker_linkerIcon__1QJpf"
                aria-hidden="true"></i>
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="FooterContainer_container__3LibG">
    <div class="FooterContainer_inner__3Nket">
      <section class="FooterContainer_leftSection__2BtHF">
        <strong class="FooterContainer_title__1mcxQ"
        >와디즈 고객센터</strong
        >
        <div class="FooterContainer_buttonBlock__FQR2E">
          <button
                  type="button"
                  class="FooterContainer_directBtn__2ICcT">
            채팅 상담하기<i
                  class="icon chevron-right"
                  aria-hidden="true"></i></button
          ><a
                href="https://helpcenter.wadiz.kr/hc/ko/requests/new"
                class="FooterContainer_directBtn__2ICcT"
                target="_blank"
                rel="noreferrer"
        >문의 등록하기<i
                class="icon chevron-right"
                aria-hidden="true"></i></a
        ><a
                href="https://helpcenter.wadiz.kr/hc/ko"
                class="FooterContainer_directBtn__2ICcT FooterContainer_customcenterBtn__4TIQa"
                target="_blank"
                rel="noreferrer"
        >도움말 센터 바로가기<i
                class="icon chevron-right"
                aria-hidden="true"></i
        ></a>
        </div>
        <dl class="FooterContainer_enableTime__B19o3">
          <dt>상담 가능 시간</dt>
          <dd>평일 오전 9시 ~ 오후 6시 (주말, 공휴일 제외)</dd>
        </dl>
      </section>
      <section class="FooterContainer_rightSection__2uaQk">
        <address>
          <ul class="FooterInfo_info__1aB0e">
            <li>와디즈㈜</li>
            <li>대표이사 신혜성</li>
            <li>사업자등록번호 258-87-01370</li>
            <li>통신판매업신고번호 2021-성남분당C-1153</li>
            <li>경기 성남시 분당구 판교로 242 PDC A동 402호</li>
          </ul>
          <div class="FooterInfo_contactInfoWrap__2u2vv">
            <ul
                    class="FooterInfo_info__1aB0e FooterInfo_contactInfo__sPvNn">
              <li>
                <a
                        href="https://helpcenter.wadiz.kr/hc/ko/requests/new"
                        target="_blank"
                        rel="noreferrer"
                >이메일 상담 info@wadiz.kr</a
                >
              </li>
              <li>유선 상담 <a href="tel:1661-9056">1661-9056</a></li>
            </ul>
            <span class="FooterInfo_copyright__802qi"
            >© wadiz Co., Ltd.</span
            >
          </div>
        </address>
        <div class="FooterContainer_infoNotice__3m1oJ">
          <p>
            일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매
            당사자가 아닙니다.
          </p>
          <p>
            해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와
            책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인
            내용을 확인하시기 바랍니다.
          </p>
        </div>
        <div class="FooterContainer_appStoreSection__2zpAZ">
          <a
                  href="https://play.google.com/store/apps/details?id=com.markmount.wadiz"
                  target="_blank"
                  class="icon-google-play"
                  rel="noopener noreferrer"
          >Android앱</a
          ><a
                href="https://itunes.apple.com/kr/app/wadijeu/id1107828621"
                target="_blank"
                class="icon-apple"
                rel="noopener noreferrer"
        >iOS앱</a
        >
        </div>
      </section>
    </div>
  </div>
  <div class="externals">
    <div class="externals-wrap">
      <ul>
        <li>
                    <span title="카카오톡 옐로아이디"
                    ><i class="icon-kakao" aria-hidden="true"></i
                    ></span>
          <ul>
            <li>
              <a
                      href="http://pf.kakao.com/_MGxgmxl"
                      target="_blank"
                      rel="noopener noreferrer"
              >투자</a
              >
            </li>
            <li>
              <a
                      href="http://pf.kakao.com/_pEeEl"
                      target="_blank"
                      rel="noopener noreferrer"
              >펀딩</a
              >
            </li>
          </ul>
        </li>
        <li>
                    <span title="페이스북"
                    ><i class="icon-facebook" aria-hidden="true"></i
                    ></span>
          <ul>
            <li>
              <a
                      href="https://www.wadiz.kr/link/fb_invest"
                      target="_blank"
                      rel="noopener noreferrer"
              >투자</a
              >
            </li>
            <li>
              <a
                      href="https://www.wadiz.kr/link/fb_reward"
                      target="_blank"
                      rel="noopener noreferrer"
              >펀딩</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a
                  href="https://brunch.co.kr/@wadiz"
                  target="_blank"
                  title="브런치"
                  rel="noopener noreferrer"
          ><i class="icon-brunch" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
                  href="https://www.instagram.com/wadiz_official/"
                  target="_blank"
                  title="인스타그램"
                  rel="noopener noreferrer"
          ><i class="icon-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
                  href="http://blog.naver.com/wadiz_crowdfunding"
                  target="_blank"
                  title="네이버 블로그"
                  rel="noopener noreferrer"
          ><i class="icon-naver-blog" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
                  href="https://www.youtube.com/channel/UCF1_fHSt6Efemgy5wToafNw/featured"
                  target="_blank"
                  title="유튜브"
                  rel="noopener noreferrer"
          ><i class="icon-youtube-play" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</html>
