<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="AppSidebarLayout_contents__2thGr" id="sidebar" th:fragment="sidebar (fundingId)">
  <div class="AppSidebarRewardProjectInfo_container__2Ykhp AppSidebarRewardProjectInfo_defaultBackgroundImage__1rWVS">

    <a class="AppSidebarRewardProjectInfo_projectName__1Hf5o" href="/web/campaign/detail/194455?preview=Y" target="_blank" rel="nofollow noopener noreferrer"><span th:text="${#authentication.principal.member.mname}">woowang789</span>의<br>멋진 프로젝트</a><button class="Button_button__1e2A2 Button_info__Nu98q Button_text__3KyLl Button_md__1FRMG Button_endIcon__3ZOY3 AppSidebarRewardProjectInfo_projectNumberButton__1izF_" type="button">
                <span><span class="Button_children__q9VCZ">프로젝트 <span style="display:inline-block" th:text="${fundingId}">FID</span></span></span>
  </button>
  </div>
  <nav class="AppSidebarMenuList_container__199gJ">
    <div class="AppSidebarMenuList_margin__3qjoc"></div>
    <ul>
      <li>
        <a aria-current="page" class="AppSidebarMenuList_navLink__1FytL AppSidebarMenuList_active__tbFuL" href="/web/mypage/funding/1" th:href="|/web/mypage/maker/funding/${fundingId}|">프로젝트 관리</a>
        <ul class="AppSidebarRewardSubList_container__2zCmr">
          <a class="AppSidebarMenuList_navLink__1FytL AppSidebarRewardSubList_subMenu__iqWsa" href="/web/mypage/funding/1/baseinfo" th:href="|/web/mypage/maker/funding/${fundingId}/baseInfo|">기본 정보</a>
          <li>
          </li>
          <li>
            <a class="AppSidebarMenuList_navLink__1FytL AppSidebarRewardSubList_subMenu__iqWsa" href="/web/mypage/funding/1/story" th:href="|/web/mypage/maker/funding/${fundingId}/story|">스토리 작성</a>
          </li>
          <li>
            <a class="AppSidebarMenuList_navLink__1FytL AppSidebarRewardSubList_subMenu__iqWsa" href="/web/mypage/funding/1/reward" th:href="|/web/mypage/maker/funding/${fundingId}/reward|">상품 설계</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
</html>