<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="web-header" th:fragment="header_simple">
  <div class="web-header-large">
    <header class="header-wrapper web-header-simple">
      <div class="header-container">
        <h1 class="wadiz-logo">
          <a href="/web/funding"
          ><span class="label">더쉐프</span
          ><img src="/images/logo.png" style="width: 150px"/></a>
        </h1>
        <ul class="gnb-large">
          <li class="login">
            <a href="/web/account/login" class="item"
            ><span th:text="#{login}">로그인</span></a
            >
          </li>
          <li class="signup">
            <a href="/web/account/registIntro" class="item"
            ><span th:text="#{signUp}">회원가입</span></a
            >
          </li>
        </ul>
      </div>
    </header>
  </div>
</div>

</html>