<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
  <!-- 미디어 쿼리 -->
</style>

<div class="web-header" th:fragment="header">
  <div class="web-header-large">
    <header class="header-wrapper">
      <div class="header-container">
        <h1 class="wadiz-logo">
          <a href="/web/funding"
          ><span class="label">와디즈</span
          ><svg xmlns="http://www.w3.org/2000/svg" width="150" height="25" viewBox="0 0 85 25">
            <image href="/images/logo.png" width="120" height="25" />
          </svg></a>
        </h1>
        <ul class="GNBDesktop_container__1TR2D">
          <li class="GNBDesktop_item__H8bay">
            <a class="GNBDesktop_link__1AP6q" href="/web/funding"
            ><span th:text="#{funding}">펀딩 +</span></a
            >
          </li>
          <li class="GNBDesktop_item__H8bay">
            <a class="GNBDesktop_link__1AP6q" href="/web/store"
            ><span th:text="#{store}">스토어</span></a
            >
          <li class="GNBDesktop_item__H8bay">
            <a class="GNBDesktop_link__1AP6q" href="/web/fame"
            ><span th:text="#{fame}">명예의 전당</span></a
            >
          </li>
          <li class="GNBDesktop_item__H8bay">
            <a class="GNBDesktop_link__1AP6q" href="/web/notice"
            ><span th:text="#{notice}">공지사항</span></a
            >
          </li>
        </ul>
        <div class="web-header-utils">`
          <div class="DesktopSearchApp_container__VEGeP">
            <form>
              <div
                      class="SearchController_container__3KkCv"
                      tabindex="-1">
                <div class="SearchTag_emptyTag__3OE1B"></div>
                <div class="SearchController_keyword__2Q-9Q">
                  <input
                          type="search"
                          placeholder="새로운 것을 찾으시나요?"
                          aria-label="검색"
                          value="" />
                </div>
                <button
                        type="submit"
                        class="SearchController_searchIcon__3IHRt"
                        aria-label="검색">
                  <svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__1ao4d"
                          aria-hidden="true"
                          style="width: 24px; height: 24px">
                    <path fill="none" d="M0 0h40v40H0z"></path>
                    <path
                            d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"></path>
                  </svg>
                </button>
              </div>
            </form>
          </div>
          <div class="HeaderDesktop_user__dYJMc">
            <div class="User_container__1a7yg">
              <button
                      type="button"
                      class="User_btnAvatar__1jxl7"
                      aria-label="마이 와디즈">
                <div>
                  <div
                          class="Avatar_avatar__2nEUu"
                          style="width: 32px; height: 32px">
                            <span
                                    class="Avatar_hasImage__sjUWZ"
                                    th:style="${#strings.isEmpty(#authentication.principal.member.mprofile)?
                            'background-image: url(&quot;https://static.wadiz.kr/assets/icon/profile-icon-6.png&quot;);' : 'background-image: url('+#authentication.principal.member.mprofile+');'}"
                                    style="
                                background-image: url('https://static.wadiz.kr/assets/icon/profile-icon-6.png');
                              "></span>
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="web-header-funding-open funding-open">
            <div>
              <div th:if="${#strings.equals(#authentication.principal.member.mrole,'ROLE_USER')}">
                <button
                        aria-label="프로젝트 만들기"
                        class="fundingMakeBtn Button_button__5oeoO Button_primary__3lu_z Button_md__3GjME funding-open-button"
                        type="button">
                          <span
                          ><span class="Button_children__1tP8u"
                          th:text="#{makeProject}">프로젝트 만들기</span
                          ></span
                          >
                </button>
              </div>
              <div th:if="${#strings.equals(#authentication.principal.member.mrole,'ROLE_ADMIN')}">
                <button
                        aria-label="관리 페이지 이동"
                        class="adminBtn Button_button__5oeoO Button_primary__3lu_z Button_md__3GjME funding-open-button"
                        type="button">
                          <span
                          ><span class="Button_children__1tP8u"
                          >관리 페이지 이동</span
                          ></span
                          >
                </button>
              </div>
            </div>
          </div>
          <select class="TranslateSelect" style="margin-left: 10px">
            <option value="ko">KOREAN</option>
            <option value="en">ENGLISH</option>
            <option value="zh">CHINESE</option>
            <option value="ja">JAPANESE</option>
          </select>
        </div>
      </div>
    </header>
  </div>
  <script src="/js/confirm.js"></script>
  <script>
    $(document).ready(function (){

      $('.TranslateSelect').on('change', function() {
        var lang = $('.TranslateSelect').val();
        var url = window.location.href;
        var regex = /(\?|&)lang=[^&]+(&|$)/g;
        url = url.replace(regex, '$1').replace(/(\?|&)$/, '');
        if (url.indexOf('?') === -1) {
          url += '?';
        } else {
          url += '&';
        }
        url += 'lang=' + lang;
        window.location.href = url;
      });

      let makeFunding = () => $.ajax({
        url: '/api/funding/',
        type: 'POST',
        dataType: 'text',
        success: function (fid) {
          console.log('펀딩 만들기 성공/ fid = ', fid);
          location.href = '/web/mypage/maker/funding/' + fid;
        }
      });

      $('.fundingMakeBtn').click(function (e){
        showConfirm("펀딩 만들기", "프로젝트를 만드시겠습니까?", makeFunding);
      })
    })
    $(document).on('click','.HeaderDesktop_user__dYJMc',function(){
      location.href='/web/mypage';
    })
    $(document).on('click','.adminBtn',function(){
      location.href='/web/admin'
    })
  </script>
</div>
</html>
