<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
  <div class="web-header" th:fragment="header">

    <style>
      .web-header-utils{
        align-items: center;
      }
      @media (max-width: 1095px) {
        /* 1095px 이하일 때 적용될 스타일 */
        .GNBDesktop_container__3X3Cg{
          display: none;
        }
      }
    </style>

    <script src="/js/confirm.js"></script>

    <link
            rel="stylesheet"
            href="/import/css/payments.562cdee9.css" />

    <link rel="stylesheet" href="https://static.wadiz.kr/static/web/common.css?a5fa8553">


    <div class="web-header-large">
      <header class="header-wrapper">
        <div class="header-container">
          <h1 class="wadiz-logo">
            <a href="/web/funding"
              ><span class="label">와디즈</span
              ><svg xmlns="http://www.w3.org/2000/svg" width="150" height="25" viewBox="0 0 85 25">
              <image href="/images/logo.png" width="120" height="25" />
            </svg></a>
          </h1>
          <ul class="GNBDesktop_container__3X3Cg">
            <li class="GNBDesktop_item__H8bay">
              <a class="GNBDesktop_link__1AP6q" href="/web/funding"
                ><span th:text="#{funding}">펀딩 +</span></a
              >
            </li>
            <li class="GNBDesktop_item__H8bay">
              <a class="GNBDesktop_link__1AP6q" href="/web/store"
                ><span th:text="#{store}">스토어</span></a
              >
            </li>
            <li class="GNBDesktop_item__H8bay">
              <a class="GNBDesktop_link__1AP6q" href="/web/fame"
              ><span th:text="#{fame}">명예의 전당</span></a
              >
            </li>
            <li class="GNBDesktop_item__H8bay">
              <a class="GNBDesktop_link__1AP6q" href="/web/notice"
              ><span th:text="#{notice}">공지사항</span></a
              >
            </li>
          </ul>
          <div class="web-header-utils">
            <div class="DesktopSearchApp_container__2VF9O">
              <form action="/web/search" method="get">
                <div class="SearchController_container__35K5i" tabindex="-1">
                  <div class="SearchTag_emptyTag__1Iu7r"></div>
                  <div class="SearchController_keyword__3FcFo">

                    <input
                      name="keyword"
                      type="search"
                      placeholder=""
                      aria-label="검색"
                      value=""
                      />

                  </div>
                  <button
                    type="submit"
                    class="SearchController_searchIcon__Zhy7F"
                    aria-label="검색">
                    <svg
                      viewBox="0 0 40 40"
                      focusable="false"
                      role="presentation"
                      class="withIcon_icon__20lDO"
                      aria-hidden="true"
                      style="width: 24px; height: 24px">
                      <path fill="none" d="M0 0h40v40H0z"></path>
                      <path
                        d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"></path>
                    </svg>
                  </button>
                </div>
              </form>

            </div>
            <div sec:authorize="isAnonymous()" class="HeaderDesktop_user__3zGmM">
              <div class="User_container__bqVd2">
                <button type="button" class="User_btnSign__1URTs loginBtn" th:text="#{login}">로그인</button
                ><button data-event="iam.signup" class="User_btnSign__1URTs registBtn" th:text="#{signUp}">
                  회원가입
                </button>
              </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="HeaderDesktop_user__3zGmM">
              <div class="User_container__bqVd2">
                <button type="button" class="User_btnAvatar__2Mui-" aria-label="마이 와디즈">
                  <div>
                    <div class="Avatar_avatar__3xsDJ" style="width: 32px; height: 32px;">
                      <span class="Avatar_hasImage__1wiBh"
                            th:style="${#strings.isEmpty(#authentication.principal.member.mprofile)?
                            'background-image: url(&quot;https://static.wadiz.kr/assets/icon/profile-icon-6.png&quot;);' : 'background-image: url('+#authentication.principal.member.mprofile+');'}"
                            style="background-image: url(&quot;https://static.wadiz.kr/assets/icon/profile-icon-6.png&quot;);"
                      ></span>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="web-header-funding-open funding-open">
              <div>
                <div th:if="${#strings.equals(#authentication.principal.member.mrole,'ROLE_USER')}">
                  <button
                          style="margin-top: 0px"
                          aria-label="프로젝트 만들기" class="fundingMakeBtn Button_button__3J1Nv Button_primary__1EZQV Button_md__2iTxL funding-open-button" type="button">
                    <span>
                      <span class="Button_children__1ZhTo" th:text="#{makeProject}">프로젝트 만들기</span>
                    </span>
                  </button>
                </div>
                <div th:if="${#strings.equals(#authentication.principal.member.mrole,'ROLE_ADMIN')}">
                  <button aria-label="관리 페이지 이동" class="adminBtn Button_button__3J1Nv Button_primary__1EZQV Button_md__2iTxL funding-open-button" type="button">
                    <span>
                      <span class="Button_children__1ZhTo">관리 페이지 이동</span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <select class="TranslateSelect" style="margin-left: 10px">
            <option value="ko">KOREAN</option>
            <option value="en">ENGLISH</option>
            <option value="zh">CHINESE</option>
            <option value="ja">JAPANESE</option>
          </select>
        </div>
      </header>
    </div>

    <script>
      function getLocaleFromCookie() {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith('locale=')) {
            return cookie.substring(7);
          }
        }
        return null;
      }

      const locale = getLocaleFromCookie();
      console.log('locale:', locale);

      $(document).ready(function() {
        // 쿠키에서 언어 선택 로드

        let lang = locale==null?'ko':locale;


        // 선택된 언어로 select 박스 변경
        $('.TranslateSelect').val(lang);
        $('.TranslateSelect').on('change', function() {
          console.log('변경')
          let lang = $('.TranslateSelect').val();
          let url = window.location.href;
          let regex = /(\?|&)lang=[^&]+(&|$)/g;
          url = url.replace(regex, '$1').replace(/(\?|&)$/, '');
          if (url.indexOf('?') === -1) {
            url += '?';
          } else {
            url += '&';
          }
          url += 'lang=' + lang;
          window.location.href = url;
        });

        console.log('ready');

        let makeFunding = () => $.ajax({
          url: '/api/funding/',
          type: 'POST',
          dataType: 'text',
          success: function (fid) {
            console.log('펀딩 만들기 성공/ fid = ', fid);
            location.href = '/web/mypage/maker/funding/' + fid;
          }
        });

        $('.fundingMakeBtn').click(function (e){
          showConfirm("펀딩 만들기", "프로젝트를 만드시겠습니까?", makeFunding);
        })

      })
      $(document).on('click','.loginBtn',function(e){
        e.preventDefault();
        location.href = "/web/account/login";
      })
      $(document).on('click','.registBtn',function(e){
        e.preventDefault();
        location.href= "/web/acocunt/registIntro"
      })
      $(document).on('click','.HeaderDesktop_user__3zGmM',function(e){
        e.preventDefault();
        location.href='/web/mypage';
      })
      $(document).on('click','.adminBtn',function(){
        location.href='/web/admin'
      })

    </script>

  </div>
</html>
