<!DOCTYPE html>
<html lang="ko" class="show-recent scroll-top scroll-apex" style="--scrollbar-width:16px;">
<head>

  <meta name="viewport"
        content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover">

  <title>더쉐프 명예의전당</title>
  <link
          rel="shortcut icon"
          href="/images/favicon.ico" />
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/import/css/wui.css?cb9a5d5c">
  <link rel="stylesheet" href="/import/css/common.css?1e9a09a3">
  <link rel="stylesheet" href="/import/css/layout.css?18c26372">
  <link rel="stylesheet" href="/import/css/main.c05dd5b6.css">
  <link rel="stylesheet" type="text/css" href="/import/css/store.84a9e4dd.chunk.css">

</head>
<body style="overflow: auto;" class="">
<div id="page-container">

  <main id="main-app">
    <div th:replace="fragment/header__3X3Cg.html :: header"></div>
    <div class="MainWrapper_content__GZkTa">

      <div class="Best_rootContainer__3GT3k">
        <div></div>

        <div class="Best_currentCategory__YnYZd">
          <div class="Tooltip_container__1r_Mz">
            <div class="Best_categoryContainer__ze_Tu">
              <div class="" th:text="#{fame}">명예의 전당</div>
            </div>
            <div class="Tooltip_messagebox__1P4E_" style="width: 235px; left: 68.7188px;">최근 12시간 동안 서포터가
              상품을 많이 구매한 프로젝트를 실시간으로 확인할 수 있어요.
            </div>
          </div>
        </div>
        <div class="CategoryTab_container__1XTA0 undefined" style="top: 0px;">
          <div class="TabsMobile_tabRoot__1KBCT">
            <div class="TabsMobile_tabsWrapper__3zP94">
              <ul class="TabsMobile_tabs__39ewt TabsMobile_hideScrollbar__3v5I5">
                <li data-index="0">
                  <button class="ImageTab_tab__3siCY ImageTab_first__2C8Ry  ImageTab_active__BGdXu">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/whole.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{whole}">전체</span></div>
                  </button>
                </li>
                <li data-index="1">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/k-food1.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.korean}">한식</span>
                    </div>
                  </button>
                </li>
                <li data-index="2">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/j-food1.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.japanese}">일식</span>
                    </div>
                  </button>
                </li>
                <li data-index="3">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/c-food1.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.chinese}">중식</span>
                    </div>
                  </button>
                </li>
                <li data-index="4">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/w-food1.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.western}">양식</span></div>
                  </button>
                </li>
                <li data-index="5">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/cafe1.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.cafe}">카페</span></div>
                  </button>
                </li>
                <li data-index="6">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/chicken.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.midnightSnack}">야식</span></div>
                  </button>
                </li>
                <li data-index="7">
                  <button class="ImageTab_tab__3siCY">
                    <div class="ImageTab_thumbnailContainer__3Polb">
                      <div class="ImageTab_thumbnailPlaceholder__3mluI">
                        <div class="ImageTab_thumbnail__3mZWA" style="background-image: url(&quot;/images/else.png&quot;);"></div>
                      </div>
                    </div>
                    <div class="ImageTab_labelContainer__2apP3"><span class="ImageTab_label__SvWW9" th:text="#{food.etc}">기타</span>
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Best_cardListContainer__2HZ6V">
          <div class="CardTable_container__XsdEp" style="width: calc(100% - 0px);">

          </div>
          <div style="height: 1px;"></div>
        </div>

      </div>
      <div style="height: 160px;"></div>
    </div>
  </main>
  <form action="/web/waccount/wAccountLogin" id="returnForm" method="get" novalidate="novalidate">
    <input type="hidden" id="returnURL" name="returnURL">
  </form>

</div>
<div id="wadiz-app-banner"></div>
<script>
  $(document).ready(function(){
    let page=0;
    let type=0;
    // let isDone = false;

    getList(type,page);
    $('.ImageTab_tab__3siCY').click(function () {
      console.log('음식 종류');
      if (!$(this).hasClass('ImageTab_active__BGdXu')) {
        type = $(this).closest('li').data('index');
        console.log(type);
        $('.CardTable_container__XsdEp').html('');
        page=0;
        getList(type,page);
        $('.ImageTab_tab__3siCY').removeClass('ImageTab_active__BGdXu');
        $(this).addClass('ImageTab_active__BGdXu');
      }
    })
    $(window).scroll(function() {
      if ($(window).scrollTop() + $(window).height() >= $(document).height()-1) {
        console.log('다음 페이지');
        page++
        getList(type,page);
      }
    });
    function getList(type,page){
      console.log("get list");
      // if(isDone)return;

      let url = '/api/fame/list';
      $.ajax({
        url: url,
        type: "get",
        contentType: "application/json; charset=utf-8",
        data:{
          type:type,
          page:page
        },
        success: function (data, status) {
          // if(data.length ==0)
          //   isDone = true;
          let k="";
          data.forEach(function (fame,index) {
            console.log(fame);
            k += `<div role="presentation" class="CardTable_itemContainer__3KZ_w"
                 style="width: calc((25% - 24px + 6px) - 0.01px); margin-left: 0px; margin-right: 12px; margin-bottom: 40px;">
              <a class="StoreRankedCard_item__2Y4WJ"
                 href="https://map.naver.com/v5/search/${fame.faddress}"
                 >
                <div class="">
                  <div class="StoreRankedCard_rankContainer__2B9Pq"><span>${index+1}</span>
                     ${index < 3 ? '<div class="StoreRankedCard_rankIcon__27BJ4"></div>' : ''}
                  </div>
                  <div class="CardThumbnail_thumbnailContainer__DwnpC">
                    <div class="CardThumbnail_thumbnailPlaceholder__1Yv8K"
                         style="padding-top: calc(100% - 0px);">
                      <div aria-hidden="true"
                           class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                           style="background-image: url(${fame.fthumb};); border-radius: 8px;"></div>
                    </div>
                  </div>
                  <div class="StoreRankedCard_contentContainer__3F0LG">
                    <div class="StoreRankedCard_title__1YaKW">${fame.ftitle}
                    </div>
                    <div class="StoreRankedCard_subText__1Nue-">${fame.fstore_name}</div>
                    <div class="StoreRankedCard_footer__n-dS_">
                      <div class="StoreRankedCard_priceGroup__15rv-">
                        <div class="StoreRankedCard_priceContainer__lEJDK">
                                                  <span
                                                          class="StoreRankedCard_price__1cO7K">${Math.floor(fame.totalprice/10000).toLocaleString('ko-KR')}%  달성</span><span>&nbsp</span>
                          <div class="StoreRankedCard_subText__1Nue-"> ${fame.totalprice.toLocaleString('ko-KR')} <span>원</span></span></div>
                        </div>
                        <div class="StoreCardFooter_container__X5rH8">
                          <div class="StoreCardFooter_upperFooter__kvjJa">
                            <div class="RatingScore_container__AeQ_I RatingScore_smCard02__3cJAW">
                              <div class="RatingScore_icon__rIS_k"></div>
                              <span class="RatingScore_score__2a-SN">${fame.fstore_score}</span></div>
                            <div class="ParticipantScore_container__JH3e_">
                              <div class="ParticipantScore_peopleIcon__22zg8"></div>
                              <span class="ParticipantScore_peopleCountText__1oHUl">${fame.totalemail}명 참여</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="CardSpinner_container__1cKRs">
                  <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                    <svg viewBox="25 25 50 50" aria-label="Loading">
                      <g class="Loader_circular__3PTZN">
                        <circle class="Loader_path__198fo" cx="50" cy="50" r="20" fill="none"
                                stroke-width="4" stroke-miterlimit="10"></circle>
                      </g>
                    </svg>
                  </div>
                </div>
              </a>
            </div>`;
          });

          $.ajax({
            url : '/api/translate',
            type : 'post',
            data : k,
            contentType: "text/html",
            success : function(data){
              $('.CardTable_container__XsdEp').append(data);
            },error: function (status, error) {
              console.log(error);
            }
          })
        },
        error: function (status, error) {
          alert("실패");
        }
      })
    }
  })
</script>
</body>
</html>