@charset "utf-8";
/*
 * 리워드 결제페이지
 */

#wPurchaseWrap.funding-purchase .btn-move-to-story { display: none; }

.event-banner{width:100%;padding:15px;box-sizing:border-box}
.event-banner p.type1{width:100%;height:40px;line-height:40px;text-align:center;font-size:14px;color:#fff;background:#F98F9B;border-radius:3px;}
.event-banner p.type2{width:100%;height:40px;line-height:40px;text-align:center;font-size:13px;color:#FFF;background:#00134c;border-radius:3px;}
.event-banner p.type2 strong{color:#00c4c4; font-weight:bold}
.event-banner p.type3{width:100%;height:40px;line-height:20px;font-size:12px;color:#4e5257;}
.event-banner p.type3 strong{color:#fc4d54;font-weight:bold;}
.event-banner p.type3 a,
.event-banner p.type3 a:hover,
.event-banner p.type3 a:visited{color:#4462ee;text-decoration:underline;}

#coupon-field {display: block}
#coupon-field dt,
#coupon-field dd { display: block; width: 100%; box-sizing: border-box; padding-left: 15px; padding-right: 15px;}
#coupon-field dt {padding-bottom: 11px;}
#coupon-field dd {padding-top:0;}
#coupon-field.disabled .empty-text {display: block;}
#coupon-field.disabled label {display: none;}
#coupon-field .empty-text {display: none;}
#coupon-field .dense.outline.dropdown {width: 100%; box-sizing: border-box; text-align: left; overflow: hidden;background:#fff;vertical-align: middle;}
#coupon-field .wz.tooltip.mini:hover .tooltip-message,
#coupon-field .wz.tooltip.mini:focus .tooltip-message {pointer-events: all;}
#coupon-field .tooltip-message {width:252px;}
#coupon-field .tooltip-message .link {display: inline-block; margin-top:0; text-decoration:underline; color: #fff;}

@media screen and (min-width: 768px) {
	#coupon-field {display: table}
	#coupon-field dt,
	#coupon-field dd { display: table-cell; vertical-align: middle; }
	#coupon-field dt {padding-bottom: 15px;}
	#coupon-field dd {padding-top:15px;}
	#coupon-field dt {width: 140px;min-width: 140px;}
	#coupon-field .tooltip-message {width: 400px;}
}

@media screen and (min-width: 960px) {
#wPurchaseWrap.funding-purchase .btn-move-to-story { display: block; }
}

@media screen and (max-width: 960px) {
	.event-banner {padding:0 5px 20px;}
	.event-banner p.type1,
	.event-banner p.type2{height:auto;padding:10px;line-height:1.5;box-sizing:border-box;}
}

/***** MOW *****/
#wPurchaseWrap{color:#4a4a4a}
.wpurchase-title{position:relative;width:100%;height:46px;background:#A29584}
.wpurchase-title h2{width:80%;margin:0 auto;text-align:center;font-size:14px;line-height:46px;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.wpurchase-title h2 .name{display:none;}
.wpurchase-title a{position:absolute;top:0;left:10px;display:inline-block;font-size:16px;color:#fff;height:46px;line-height:46px;}
.wpurchase-title a .wadizicon{font-size:32px;vertical-align:middle}
.wpurchase-title a span{display:none;padding-left:10px;vertical-align:middle}
.wpurchase-wrap{padding:0 10px 50px;}
.wpurchase-wrap.preview-mode{pointer-events: none;}
.wpurchase-wrap.result{padding-bottom:0;}
.wpurchase-wrap h3{margin-bottom:28px;}
.wpurchase-wrap h3 em{display:inline-block;color: rgba(0, 0, 0, 0.84);font-size: 24px;font-weight: bold;}
.wpurchase-wrap .sub-text{margin-bottom:5px;padding:0 5px;font-size:14px;font-weight:500;line-height:18px;}
.wpurchase-wrap .notice-text{margin-bottom:5px;padding:0 5px;font-size:13px;font-weight:500;line-height:18px;color:rgba(0, 0, 0, .54);}
.wpurchase-wrap a.help-text{color:#00c4c4;padding:0 10px;font-size:12px;text-decoration:underline}
.wpurchase-wrap a.help-text i{font-size:15px;vertical-align:middle;padding-right:5px;}
.wpurchase-wrap .btn-wrap{text-align:center;}
.wpurchase-wrap p.confirm{margin-bottom:20px;font-size:16px;font-weight:500;line-height:17px;}
.wpurchase-wrap p.confirm em{text-decoration:underline;color:#00c4c4}
.wpurchase-step{padding:30px 0 42px;text-align:center}
.wpurchase-step ol{width:250px;margin:0 auto;background:url(/resources/static/img/common/bg_gray_line.png) repeat-x 0 center;}
.wpurchase-step ol:after{content:"";clear:both;display:block}
.wpurchase-step ol li{float:left;display:block;width:60px;padding:0;}
.wpurchase-step ol li:nth-child(2){padding:0 35px;box-sizing:content-box}
.wpurchase-step ol li em{display:table-cell;vertical-align:middle;width:58px;height:58px;font-size:12px;line-height:16px;background:#fff;border:1px dashed #979797;border-radius:50%}
.wpurchase-step ol li.active em{width:60px;height:60px;color:#fff;border:none;background:#00c4c4;}
/* 인풋폼의 유효성 스타일 */
.wpurchase-wrap .input-area input + em.error-message {display: none; font-size: 12px; margin-bottom: 12px;}
.wpurchase-wrap .input-area input.error {border-color: #f66 !important}
.wpurchase-wrap .input-area input.error + em.error-message {display: block; color: #f66}

.wpurchase-reward{margin-bottom:42px;}
.wpurchase-reward h3 em{font-size: 18px;}
.wpurchase-reward .top-area{margin-bottom:20px;}
.wpurchase-reward .reward-list li{width:100%;margin-bottom:5px}
.wpurchase-reward .reward-box{padding:15px;background:#f9f9f9;border:1px solid #fff;border-radius:5px}
.wpurchase-reward .reward-box dt{margin-bottom:15px;}
.wpurchase-reward .reward-box dt input[type=checkbox]{position:absolute;left:-99999px;opacity:0;}
.wpurchase-reward .reward-box dt input[type=checkbox]+label:before{display:inline-block;font-size:28px;font-family:'FontAwesome';content:'\f096';color:#C88AF9;}
.wpurchase-reward .reward-box dt input[type=checkbox]:checked+label:before{content:'\f14a';color:#C88AF9}
.wpurchase-reward .reward-box dt input ~ span::before {background-color: #fff;}
.wpurchase-reward .reward-box dt input:checked ~ span::before {background-color: #00c4c4;}
.wpurchase-reward .reward-box dd{color:#00132C;}
.wpurchase-reward .reward-box dd p {cursor: pointer;}
.wpurchase-reward .reward-box dd .sum{margin-bottom:15px;font-weight:500;font-size:18px;}
.wpurchase-reward .reward-box dd .number{margin-bottom:5px;font-size:14px;line-hieght:17px;}
.wpurchase-reward .reward-box dd .number .remains{padding-left:10px;font-size:12px;}
.wpurchase-reward .reward-box dd .number .soldout{padding-left:10px;font-size:12px;color:#F9283C}
.wpurchase-reward .reward-box dd .text{margin-bottom:5px;font-size:12px;line-height:16px;color:#686868}
.wpurchase-reward .reward-box dd .date{font-size:12px;line-height:15px;}
.wpurchase-reward .reward-box dd .input-area.wz.input input[type=text]{height: 36px;}
.wpurchase-reward .reward-box dd .input-area button{padding:5px 0 0;font-size:20px;vertical-align:middle;color:#65696B;background:none;border:none}
.wpurchase-reward .reward-box dd .checked-area{display:none;padding:15px 0 0;}
.wpurchase-reward .reward-box dd .checked-area .title{margin-bottom:5px;font-size:12px;}
.wpurchase-reward .reward-box dd .checked-area .title em{padding-left:10px;color:#009688}
.wpurchase-reward .reward-box dd .amount{margin-bottom:10px;}
.wpurchase-reward .reward-box dd .amount .input-area input[type=text]{width:70px;text-align:right;padding:0 10px;height:32px;line-height:32px;border:1px solid #00c4c4 ;background:#fff;border-radius:3px;box-sizing:border-box !important}
.wpurchase-reward .reward-box.active{background:#E7F9F9;border:1px solid #E7F9F9;}
.wpurchase-reward .reward-box.active dd .checked-area{display:block;}
.wpurchase-reward .reward-box.soldout dt input[type=checkbox]+label:before{color:#9B9B9B}
.wpurchase-reward .reward-box.soldout dd p{color:#9B9B9B !important}
.wpurchase-reward .reward-box .supporter-club-shipping-price{color:#00a2a2;}

.wpurchase-donation{margin-bottom:42px}
.wpurchase-donation .input-area{padding-left:10px;font-size:14px;}
.wpurchase-donation .input-area input[type=text]{padding:0 10px;text-align:right;margin-right:5px;width:125px;height:36px;backgorund:#fff;border:1px solid #C88AF9;box-sizing:border-box !important;border-radius:3px;}

.wpurchase-viewyn .check-area{text-align:left;padding-bottom:15px;margin-bottom:15px;border-bottom:1px dashed #979797}
.wpurchase-viewyn .check-area input[type=checkbox]{position:absolute;left:-99999px;opacity:0;}
.wpurchase-viewyn .check-area input[type=checkbox]+label{color:#00c4c4;padding-right:10px;font-size:14px;}
.wpurchase-viewyn .check-area input[type=checkbox]+label:before{display:inline-block;padding-right:5px;font-size:24px;vertical-align:middle;font-family:'FontAwesome';content:'\f096';color:#C88AF9;}
.wpurchase-viewyn .check-area input[type=checkbox]:checked+label:before{content:'\f14a';color:#C88AF9}
.wpurchase-viewyn .example li{width:200px;margin:0 auto 15px;text-align:center;padding:10px;background:#EEE;border-radius:2px;}
.wpurchase-viewyn .example li .title{margin-bottom:15px;text-align:center;font-weight:500;font-size:12px;color:#686868}
.wpurchase-viewyn .example dl{width:175px;margin:0 auto}
.wpurchase-viewyn .example dl:after{content:"";clear:both;display:block}
.wpurchase-viewyn .example dl dt{float:left;height:32px;text-align:center;padding-right:10px;}
.wpurchase-viewyn .example dl dt em{display:inline-block;width:32px;height:32px;background:no-repeat center center #fff;background-size:cover;border-radius:50%;}
.wpurchase-viewyn .example dl dd{float:left;height:32px;text-align:left;font-size:10px;line-height:14px;color:#686868}
.wpurchase-viewyn .sub-text {margin-bottom: 12px;}
.wpurchase-viewyn .wz.checkbox {display: inline-block; margin: 10px 0 20px 0; width: 200px;}
.wpurchase-viewyn .wz.checkbox:first-child {display: inline-block; margin: 10px 120px 20px 0;}

.wpurchase-order{width:100%;margin-bottom:40px;}
.wpurchase-order .order-list {border-top: 1px solid #666;}
.wpurchase-order .order-list li{padding:15px;border-bottom:1px solid #e4e4e4}
.wpurchase-order .order-list li .title{margin-bottom:8px;font-size:14px;line-height:17px;color:#00c4c4}
.wpurchase-order .order-list li .text{margin-bottom:20px;font-size:12px;line-height:16px;color:#686868}
.wpurchase-order .order-list li .option{position: relative;font-size:12px;line-height:15px;padding-left: 28px;}
.wpurchase-order .order-list li .option .option-section-header{position: absolute;left: 0;}
.wpurchase-order .order-list li .sum{font-size:14px;line-height:24px;font-weight:500;text-align:right;}
.wpurchase-order .order-list li .sum em{padding-right:25px}
.wpurchase-order .order-addinfo dl{display:table;width:100%;border-top:1px solid #e4e4e4;}
.wpurchase-order .order-addinfo dl:first-child{border-top:0;}
.wpurchase-order .order-addinfo dt{display:table-cell;width:140px;padding:15px 0 15px 15px;font-size:14px;font-weight:500;box-sizing: border-box;}
.wpurchase-order .order-addinfo dd{display:table-cell;padding:15px 15px 15px 0;font-size:14px;text-align:right;}
.wpurchase-order .order-addinfo .point{background:#f9f9f9;border-top:1px dashed #666}
.wpurchase-order .order-addinfo .point input[type=checkbox]{position:absolute;left:-99999px;opacity:0;}
.wpurchase-order .order-addinfo .point input[type=checkbox]+label{display:block;padding-bottom:10px;font-size:13px;}
.wpurchase-order .order-addinfo .point input[type=checkbox]+label:before{display:inline-block;font-size:15px;font-family:'FontAwesome';vertical-align:bottom;content:'\f096';color:#C88AF9;}
.wpurchase-order .order-addinfo .point input[type=checkbox]:checked+label:before{content:'\f14a';color:#C88AF9}
.wpurchase-order .order-addinfo .point input[type=text]{padding:0 5px;width:95px;height:24px;text-align:right;font-size:14px;color:#FF6879;line-height:24px;background:#fff;border:1px solid #e4e4e4;border-radius:3px;outline:none}
.wpurchase-order .order-addinfo .point dt a.link{display:block;margin-top:10px;font-size:12px;text-decoration:underline;font-weight:normal}
.wpurchase-order .order-addinfo .point .wz.checkbox {font-size: 12px; margin-bottom: 6px;}
.wpurchase-order .order-addinfo .point .wz.checkbox input ~ span::before {background-color: #fff;}
.wpurchase-order .order-addinfo .point .wz.checkbox input:checked ~ span::before {background-color: #00c4c4;}
.wpurchase-order .order-suminfo{padding:10px 0;background:#ececec}
.wpurchase-order .order-suminfo dl{display:table;width:100%;}
.wpurchase-order .order-suminfo dt{display:table-cell;width:140px;padding:7px 0 7px 15px;font-size:14px;font-weight:500;box-sizing: border-box;}
.wpurchase-order .order-suminfo dd{display:table-cell;padding:7px 15px 7px 0;font-size:14px;text-align:right;}
.wpurchase-order .order-suminfo dd.minus{color:#FF6879}
.wpurchase-order .order-suminfo dl.total{color:#00c4c4}
.wpurchase-order .order-suminfo dl.total dd{font-size:22px;}

/* wzui 스타일 보정*/
.wpurchase-order .wz.checkbox > span::before {background-color: #fff;}
.wpurchase-order .wz.checkbox > span::after {left: 0;}
.wpurchase-order .wz.checkbox > span span {padding: 0;}
.wpurchase-order .wz.checkbox > span span::before {display: none;}
.wpurchase-order .wz.checkbox > span span::after {display: none;}

.wpurchase-notice{margin-bottom:42px;}
.wpurchase-notice .title{margin-bottom:15px;font-size:14px;font-weight:500;}
.wpurchase-notice .text{font-size:12px;line-height:16px;}
.wpurchase-notice li{font-size:12px;line-height:16px;margin-bottom:10px;list-style-type:disc}
.wpurchase-notice.center .title{text-align:center}
.wpurchase-notice.center .inner-rdbox{padding:15px 20px 15px 40px;border:1px solid #c8c8c8;border-radius:8px;}

.wpurchase-supporter-info{margin-bottom:40px;}
.wpurchase-supporter-info .sub{margin-bottom:5px;font-size:12px;line-height:16px;}
.wpurchase-input-box{padding:15px 12px 24px 12px;background:#EEEDE9;border-radius:3px;}
.wpurchase-input-box button{width:75px;height:36px;padding:0;line-height:36px;text-align:center;font-size:14px;color:#fff;background:#9F9583;border:none;border-radius:3px}
.wpurchase-input-box dl{margin-bottom:15px}
.wpurchase-input-box dl dt{margin-bottom:8px;font-size:14px;}
.wpurchase-input-box dl dd{line-height:36px;font-size:14px;color:#9B9B9B}
.wpurchase-input-box dl dd input[type=text]{padding:0 10px;vertical-align:middle;margin-right:8px;width:100%;height:36px;line-height:36px;font-size:13px;background:#fff;border:none;border-radius:3px;box-sizing:border-box !important}
.wpurchase-input-box dl dd input[type=tel]{padding:0 10px;vertical-align:middle;margin-right:8px;width:100%;height:36px;line-height:36px;font-size:13px;background:#fff;border:none;border-radius:3px;box-sizing:border-box !important}
.wpurchase-input-box dl dd input[type=password]{padding:0 10px;vertical-align:middle;margin-right:8px;width:100%;height:36px;line-height:36px;font-size:13px;background:#fff;border:none;border-radius:3px;box-sizing:border-box !important}
.wpurchase-input-box dl dd.phone input[type=text]{width:65%;}
.wpurchase-input-box dl dd.phone input[type=tel]{width:65%;}
.wpurchase-input-box dl dd.phone em{display:inline-block;width:75px;height:36px;font-size:14px;text-align:center;line-height:36px;color:#65696B}
.wpurchase-input-box dl dd.phone .cert{display:none;padding:10px 0;}
.wpurchase-input-box dl dd input.xs{width:56px !important; margin-left: -4px;}
.wpurchase-input-box dl dd input.sm{width:88px !important}
.wpurchase-input-box dl dd input.md{width:120px !important}
.wpurchase-input-box dl dd .comment{font-size:12px;}
.wpurchase-input-box dl dd .pwdot{display:inline-block;vertical-align:middle;font-weight:500;font-size:30px;color:#00132C;line-height:36px;}
.wpurchase-input-box dl.last{margin-bottom:0;}

.wpurchase-input-box .btn-wrap{padding-top:0}
.wpurchase-input-box #resendSmsBtn{display:none;width:75px;}
.wpurchase-input-box #supporterCertBtn{display:none}

.wpurchase-delivery{margin-bottom:40px;}
.wpurchase-delivery button.show-list{display:none;width:100%;height:30px;line-height:30px;text-align:left;font-size:14px;background:none;border:none;border-top:1px solid #e4e4e4;}
.wpurchase-delivery button.show-list i{font-size:14px;margin-right:5px;}
.wpurchase-delivery dl{display:table;width:100%;padding:15px 0;border-bottom:1px solid #e4e4e4;}
.wpurchase-delivery dl:after{content:"";clear:both;display:block;}
.wpurchase-delivery dl dt{display:table-cell;width:20%;text-align:center;vertical-align:middle}
.wpurchase-delivery dl dt input[type=radio]{position:absolute;left:-99999px;opacity:0;}
.wpurchase-delivery dl dt input[type=radio]+label{font-size:14px;}
.wpurchase-delivery dl dt input[type=radio]+label:before{display:inline-block;padding-right:5px;font-size:24px;vertical-align:middle;font-family:'FontAwesome';content:'\f1db';color:#C88AF9;}
.wpurchase-delivery dl dt input[type=radio]:checked+label:before{content:'\f192';color:#C88AF9}
.wpurchase-delivery dl dd{display:table-cell;width:80%;padding-right:15px}
.wpurchase-delivery dl dd p{font-size:12px;line-height:16px;}
.wpurchase-delivery dl dd p strong{display:block;font-size:14px;margin-bottom:10px;}
.wpurchase-delivery .delivery-list{border-top:1px solid #e4e4e4;}
.wpurchase-delivery .delivery-list dl:last-child{border-bottom:none}
.wpurchase-delivery .delivery-list dl dt {vertical-align: top;}
.wpurchase-delivery .input-area{display:none;padding:0 20px 10px;border-bottom:1px solid #e4e4e4}
.wpurchase-delivery .input-area input[type=text],
.wpurchase-delivery .input-area input[type=tel]{padding:0 15px;margin-bottom:10px;width:100%;height:36px;line-height:36px;font-size:14px;background:#fff;border:1px solid #A29584;border-radius:3px;box-sizing:border-box !important}
.wpurchase-delivery .input-area input[type=text]:focus{border:1px solid #00c4c4;outline:none}
.wpurchase-delivery .input-area .title{margin-bottom:5px;font-size:14px;font-weight:500;}
.wpurchase-delivery .input-area .text{padding:10px;font-size:14px;line-height:17px;}
.wpurchase-delivery .input-area .subtext{  font-size: 12px; color: #a29584;}
.wpurchase-delivery .input-area button{height:36px;padding:0 15px;line-height:36px;font-size:14px;color:#fff;background:#9F9583;border:none;border-radius:3px}
.wpurchase-delivery .deliver-new dl{border-top:1px solid #e4e4e4;}
.wpurchase-delivery .deliver-new dl dt{vertical-align:middle}
.wpurchase-delivery .deliver-new dl dt .wz.radio span {vertical-align:top}
.wpurchase-delivery .deliver-new dl dd{vertical-align:middle}
.wpurchase-delivery .deliver-new dl dd p strong{margin:0}
.wpurchase-delivery .deliver-new.active dl{border-bottom:none}
.wpurchase-delivery .deliver-new.active .input-area{display:block;}
.wpurchase-delivery .delivery-shippingMemo{margin-top:15px}
.wpurchase-delivery .delivery-shippingMemo .input-area{display:block;padding:10px 20px 10px}
/* wzui 스타일 보정*/
.wpurchase-delivery .wz.checkbox > span,
.wpurchase-delivery .delivery-list .wz.radio > span {vertical-align: top;}
.wpurchase-delivery .wz.checkbox > span::after {left:0}

.wpurchase-type{margin-bottom:42px;}
.wpurchase-type ul{margin-bottom:15px;}
.wpurchase-type li input[type=radio]{position:absolute;left:-99999px;opacity:0;}
.wpurchase-type li input[type=radio]+label{font-size:16px;font-weight:500;}
.wpurchase-type li input[type=radio]+label:before{display:inline-block;padding-right:5px;font-size:18px;vertical-align:middle;font-family:'FontAwesome';content:'\f1db';color:#C88AF9;}
.wpurchase-type li input[type=radio]:checked+label:before{content:'\f192';color:#C88AF9}
.wpurchase-type .text{font-size:12px;line-height:14px;}

.wpurchase-payment-info{margin-bottom:20px;}
.wpurchase-terms .terms-box{width:100%;height:110px;padding:10px;font-size:14px;line-height:18px;margin-bottom:10px;overflow-y:scroll;border:1px solid #e4e4e4;box-sizing:border-box !important}
.wpurchase-terms .terms-box .inner-terms h4{margin-bottom:10px;font-size:12px;line-height:15px;text-align:center;color:#65696b}
.wpurchase-terms .terms-box .inner-terms p{font-size:12px;line-height:15px;}
.wpurchase-terms .check-area input[type=checkbox]{position:absolute;left:-99999px;opacity:0;}
.wpurchase-terms .check-area input[type=checkbox]+label{text-indent:-20px;font-size:12px;line-height:15px;}
.wpurchase-terms .check-area input[type=checkbox]+label:before{display:inline-block;font-size:18px;font-family:'FontAwesome';vertical-align:middle;content:'\f096';color:#C88AF9;}
.wpurchase-terms .check-area input[type=checkbox]:checked+label:before{content:'\f14a';color:#C88AF9}
.wpurchase-terms .check-area .wz.checkbox span {font-size: 14px; font-weight: 500;}
.wpurchase-terms .check-area .wz.checkbox span::before {background-color: #fff;}
.wpurchase-terms .check-area .wz.checkbox input:checked ~ span::before {background-color: #00c4c4;}

.wpurchase-result{margin-bottom:42px;}
.wpurchase-result .result-box{padding:20px;border:1px solid #00c4c4;border-radius:5px;}
.wpurchase-result .result-box p{font-size:18px;line-height:28px;text-align:center;color:#00c4c4}
.wpurchase-result .result-box p span{text-decoration:underline}

.wpurchase-share{margin-bottom:67px;text-align:center}
.wpurchase-share .share-list{padding-top:15px;}
.wpurchase-share .share-list li{margin-bottom:10px;}
.wpurchase-share .share-list .share-guide{font-size:15px;font-weight:700;padding:30px 45px 20px;text-align: center;color:#0d0f12;}

.wpurchase-other-project{margin-bottom:40px;}
.wpurchase-other-project .title{margin-bottom:10px;padding:0 10px;font-weight:500;text-align:center;font-size:14px;line-height:18px;}
.wpurchase-other-project .btn-wrap{text-align:center;padding:16px 0 0;}
.wpurchase-other-project .project-card-wrap ul{width:100%;height:365px;overflow:hidden}
.wpurchase-other-project .project-card-wrap ul li{width:250px !important;margin:0 15px;}
.wpurchase-other-project .project-card-wrap .slick-arrow{display:none !important}
.wpurchase-other-project .project-card-wrap .slick-dots{display:none !important}

.wpurchase-terms-section{margin-bottom: 52px;}
.wpurchase-terms-section .terms-notice-box{border: 1px solid #f0f2f5;}
.wpurchase-terms-section .terms-notice-box .term-checkbox-wrap{position: relative;}
.wpurchase-terms-section .terms-notice-box label{padding: 14px;}
.wpurchase-terms-section .terms-notice-box label span{padding-left: 28px;}
.wpurchase-terms-section .terms-notice-box .doing-all-agree{border-bottom: 1px solid #f0f2f5;font-weight: bold;}
.wpurchase-terms-section .terms-notice-box .show-term{display: inline-block;position:absolute;top:50%;right:16px; border-bottom: 1px solid rgba(0, 0, 0, 0.54);
	padding: 0;line-height: 1;transform:translateY(-50%);font-size:13px;cursor:pointer;}
.wpurchase-terms-section .terms-notice-box .show-term::before{display: none;}
.wpurchase-terms-section .terms-notice-box .show-term::after{display: none;}

.wpurchase-donation h3 em, .wpurchase-viewyn h3 em {font-size: 16px;}

.wpurchase-reward .wz.dropdown.block {line-height: 36px;}
.wpurchase-reward .wz.dropdown.block span {color: rgba(0, 0, 0, 0.3);}
.wpurchase-reward .wz.dropdown.block.option-selected span {color: #000}
.reward-options-label {margin-bottom: 12px;}

/** 결제 예약시 유의사항 **/
#payment-system-notice {margin-bottom: 52px;}
#wpurchaseReserveNotice .title {font-size: 17px; font-weight: bold; color: rgba(0, 0, 0, 0.84);}
#payment-system-notice ul,
#wpurchaseReserveNotice ul {padding-left: 10px; list-style: none;}
#payment-system-notice li,
#wpurchaseReserveNotice li {margin: 0; position: relative; list-style: none; font-size: 13px;  line-height: 1.54; color: rgba(0, 0, 0, 0.54);}
#payment-system-notice li:before,
#wpurchaseReserveNotice li::before {display: block; content: '-'; position: absolute; left: -10px;}

/** 결제 정보 **/
.payment-info-container {position: relative; padding-bottom: 60px;}
.payment-info-container::after {display: block; clear: both; content: '';}
.payment-info-container #reward-simplepay-app {float: none; width: 100%; box-sizing: border-box;}
.payment-info-container #wpurchaseReserveNotice {float: none; margin-bottom: 0; box-sizing: border-box;}
@media screen and (min-width: 960px) {
	.payment-info-container {width: 650px;margin:0 auto 40px;padding-bottom:0;}
	.payment-info-container #reward-simplepay-app {float: left; width: 400px; box-sizing: border-box;}
	.payment-info-container #wpurchaseReserveNotice {position: absolute; right: 0; top: 58px; margin-bottom: 0; width: 250px; padding-left: 28px; box-sizing: border-box;}
	.payment-info-container .SimplePayPurchase-module__simple-pay-tab {width: 400px;}
}

/** 다음지도 **/
.daum-address-wrap{width:100%;background:#fff}
.daum-address-wrap .btn-wrap{padding:10px 0;text-align:center;}
#daumAddressCon{width:100%;}
#daumAddressCon [id*="__daum__layer_"]{width:100% !important;}

/* 제 3자에 대한 개인정보 제공 동의, 책임 규정에 대한 동의 팝업 */
.agree-popup {position: fixed;top: 50%;left: 50%;width: 90%;transform: translate(-50%, -50%);background-color: #fff;z-index: 1000000;}
.agree-popup .agree-popup-header {padding: 14px 24px;font-size: 17px;font-weight: bold;color: rgba(0, 0, 0, 0.84);border-bottom: 1px solid #E0E1E2;}
.agree-popup .agree-popup-body {padding: 20px 24px;font-size: 13px;color: rgba(0, 0, 0, 0.68);max-height: 80vh;overflow: scroll;}
.agree-popup .agree-popup-body .bold {margin-bottom: 8px;font-weight: bold;font-size: 15px;}
.agree-popup .agree-popup-body table {border-top: 1px solid rgba(0, 0, 0, 0.2);}
.agree-popup .agree-popup-body tr {border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
.agree-popup .agree-popup-body th {padding: 10px;background-color: #FAFBFC;text-align: left;}
.agree-popup .agree-popup-body td {padding: 10px;border: 0;}
.agree-popup .agree-popup-footer {padding: 4px 24px;border-top: 1px solid #E0E1E2;background-color: #FAFBFC;text-align: right;}


/***** FBW *****/
@media screen and (min-width: 960px) {
.wpurchase-title{height:67px}
.wpurchase-title h2{font-size:22px;line-height:67px;}
.wpurchase-title h2 .name{display:inline-block;font-size:14px;font-weight:normal;}
.wpurchase-title h2 .name em{display:inline-block;vertical-align:middle;margin:0 10px;width:40px;height:40px;background:no-repeat center center #fff;background-size:cover;border-radius:50%}
.wpurchase-title a{height:67px;line-height:67px;}
.wpurchase-title a span{display:inline}
.wpurchase-wrap{width:860px;margin:0 auto;padding:0 0 100px;}
.wpurchase-wrap h3{display:inline-block;margin-bottom:16px;}
.wpurchase-wrap .sub-text{display:inline-block;margin-bottom:0px;}
.wpurchase-step ol{width:430px;}
.wpurchase-step ol li{float:left;display:block;width:90px;padding:0;}
.wpurchase-step ol li:nth-child(2){padding:0 80px}
.wpurchase-step ol li em{width:88px;height:88px;font-size:16px;line-height:20px;}
.wpurchase-step ol li.active em{width:90px;height:90px;}
.wpurchase-reward .top-area{position:relative;}
.wpurchase-reward .top-area a.help-text{position:absolute;top:5px;right:0;}
.wpurchase-reward .reward-box{padding:0;width:860px;}
.wpurchase-reward .reward-box:after{content:"";clear:both;display:block;}
.wpurchase-reward .reward-box dt{float:left;text-align:center;width:100px;padding-top:50px}
.wpurchase-reward .reward-box dd{float:left;padding:20px 10px;width:740px;cursor:pointer;}
.wpurchase-reward .reward-box dd .checked-area:after{content:"";clear:both;display:block;}
.wpurchase-reward .reward-box dd .amount{float:left;width:180px;}
.wpurchase-reward .reward-box dd .option{float:left;width:500px}
.wpurchase-donation:after{content:"";clear:both;display:block}
.wpurchase-donation .donation-wrap{float:left;width:660px}
.wpurchase-donation .donation-wrap .wz.input {text-align: right;}
.wpurchase-donation .input-area{padding:15px 0 0 20px;}
.wpurchase-donation h3, .wpurchase-viewyn h3 {float:left;text-align:left;width:200px;}
.wpurchase-viewyn .viewyn-wrap{float:left;width:660px}
.wpurchase-viewyn .inner-wrap{padding:60px 0 50px 40px;}
.wpurchase-viewyn .check-area{width:450px;text-align:left;}
.wpurchase-viewyn .check-area input[type=checkbox]+label.nickview{padding-right:120px;}
.wpurchase-viewyn .wz.checkbox {width: auto;}
.wpurchase-viewyn .example li{display:inline-block;margin-right:20px}

.wpurchase-order{width:650px;margin:0 auto 40px}
.wpurchase-order .order-addinfo .point .wz.checkbox {font-size: 14px;}

.wpurchase-delivery-wrap{width:650px;margin:0 auto 40px;}
.wpurchase-delivery-wrap:after{content:"";clear:both;display:block}
.wpurchase-delivery-wrap .wpurchase-notice{float:left;width:280px;margin-right:30px;margin-bottom:0}
.wpurchase-delivery-wrap .wpurchase-supporter-info{float:left;width:315px;margin-right:20px;margin-bottom:0}
.wpurchase-delivery-wrap .wpurchase-delivery{float:left;width:315px;margin-bottom:0}

.wpurchase-input-box dl dd.phone input[type=text]{width:150px;}
.wpurchase-input-box .supporter-phone-number{margin-bottom: 24px;border-bottom: 1px solid #979797;padding-bottom: 14px;}

.wpurchase-payment-info .wpurchase-input-box{width:550px}
.wpurchase-payment-info .wpurchase-input-box:after{content:"";clear:both;display:block;}
.wpurchase-payment-info .wpurchase-input-box dl{float:left;width:50%;}


.wpurchase-terms-section{width:650px;margin:0 auto 68px;}

.wpurchase-notice.center{margin-bottom:67px}
.wpurchase-notice.center .title{text-align:left}
.wpurchase-notice.center.div2{position:relative;}
.wpurchase-notice.center.div2 .btn-wrap{position:absolute;right:0;top:0;padding:0;}
.wpurchase-notice.center.div2 .title{line-height:40px;}

#wpurchaseReserveNotice .title{margin-bottom: 4px; font-size: 13px;}

.wpurchase-result-wrap{width:650px;margin:0 auto}
.wpurchase-result .result-box{padding:45px;}
.wpurchase-result .result-box p{font-size:26px;line-height:36px;}

.wpurchase-share .share-list{padding-top:15px;}
.wpurchase-share .share-list:after{content:"";clear:both;display:block;}
.wpurchase-share .share-list li{float:left;width:50%;margin-bottom:0;text-align:center;}
.wpurchase-share .share-list .share-guide{padding:100px 40px;text-align:left;}

.wpurchase-other-project{width:960px;margin:0 auto 67px;}
.wpurchase-other-project .project-card-wrap{width:960px;padding:0;margin:0 auto;}
.wpurchase-other-project .project-card-wrap ul{height:460px;}
.wpurchase-other-project .project-card-wrap ul:after{content:"";clear:both;display:block}
.wpurchase-other-project .project-card-wrap ul li{float:left;width:300px !important;margin:0 0 0 30px;}
.wpurchase-other-project .project-card-wrap ul li:first-child{margin-left:0;}
.wpurchase-other-project .title{text-align:left;}

/**다음지도**/
.daum-address-wrap{width:500px;margin:50px auto;background:#fff}

.agree-popup{width: 30%;}
.agree-popup table{width: 100%;}
}

/* 성인인증 */
.wpurchase-adult{color:#44484b;padding:40px 16px;font-size:13px;line-height:1.4;letter-spacing:-.02em;}
.wpurchase-adult h1{font-size:28px;font-weight:400;line-height:36px;letter-spacing:-.02em;margin-bottom:16px;word-break:keep-all;}
.wpurchase-adult h1 strong{color:#fc4d54;font-weight:400}
.wpurchase-adult h1 span{display:inline-block}
.wpurchase-adult p{font-size:15px;line-height: 20px;margin:5px 0}
.wpurchase-adult ul{margin:12px 0 24px;}
.wpurchase-adult li{position:relative;font-size:13px;line-height:18px;padding-bottom:4px;padding-left:10px;color:#7c8288}
.wpurchase-adult li:before{content:'•';position:absolute;left:0;top:0;clear:both;display:block}
.wpurchase-adult em{display:block;padding: 10px 12px;font-size:13px;line-height:18px;background:#f0f2f5;border:1px solid #dadce0;color:#7c8288;margin:24px 0;}
.wpurchase-adult hr{border:0;border-top: 1px solid #dadce0;}
.wpurchase-adult .agree{position:relative;padding-left:32px;margin:16px 0 24px}
.wpurchase-adult .agree input,
.wpurchase-adult .agree label i{position:absolute;left:0;top:0}
.wpurchase-adult .agree input{opacity:0}
.wpurchase-adult .agree label i{width:22px;height:22px;border:1px solid #babdc0;color:#babdc0;border-radius:50%;padding-top:2px;font-size:16px;box-sizing:border-box;font-weight:600;text-align:center;cursor:pointer}
.wpurchase-adult .agree input:checked + label i{background:#00c4c4;color:#fff;border-color:#00c4c4;}
.wpurchase-adult button{border:1px solid #60656a;background:#fff;color:#44484b;display:block;width:100%;margin-bottom:8px;padding:14px 24px;font-size:15px;line-height:18px}
.wpurchase-adult button.btn-auth{background:#60656a;color:#fff}
@media screen and (min-width: 960px) {
	.wpurchase-adult{width:700px;margin:0 auto;font-size:15px;padding:56px 24px 80px}
	.wpurchase-adult h1{font-size:32px;line-height:40px;}
	.wpurchase-adult .agree{font-size:13px;line-height:22px;margin:16px 0 32px;}
	.wpurchase-adult button{display:inline-block;width:auto;margin-right:2px}
}
