<html lang="ko" class="" translate="no"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
    <title>와디즈 로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <link href="/css/account/login.css" />
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />


    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
      <link
      rel="stylesheet"
      href="/import/css/layout.css" />

    <link
      rel="stylesheet"
      href="/import/css/main.d8e939d6.css" />

    <link
      rel="stylesheet"
      href="/import/css/main.b3728ebd.css" />

       <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/7.e895ad47.chunk.css" />
    </head>
  <body>
    <div id="page-container">
      <div class="black-bg-wrap" style="display: none"></div>
      
      <div th:replace="/fragment/header_simple.html :: header_simple"></div>


      <form id="forwardForm" method="get">
        <input type="hidden" id="returnURL" name="returnURL" />
      </form>
      <input type="hidden" id="sessionLoginCheck" value="false" />

      <main class="account-intro-login">
        <div class="user-sign-container">
          <div class="wz container form-container form-login">
            <h2 class="wz text display2">로그인</h2>
            <form name="frm_login" id="frm_login"  class="wz form" method="post">
              <div class="field">
                <div class="wz input">
                  <input
                    type="email"
                    id="userName"
                    name="username"
                    class="input-text"
                    placeholder="이메일 입력"
                    title="이메일 입력" />
                </div>
                <em id="emailError" class="error-text helper error"
                  >이메일 형식이 올바르지 않습니다.</em
                >
              </div>
              <div class="field">
                <div class="wz input">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="input-text"
                    maxlength="20"
                    placeholder="비밀번호 입력"
                    title="비밀번호 입력" />
                </div>
                <p id="loginError" class="error-text helper error">
                  와디즈에 등록되지 않은 아이디거나, 아이디 또는 비밀번호가
                  회원정보와 일치하지 않습니다.
                </p>
              </div>
              <button
                type="button"
                id="btnLogin"
                class="wz button primary block submit-button"
                >
                로그인
              </button>
            </form>
            <div id="iam-account-app">
              <div>
                <div>
                  <button
                    id="googleBtn"
                    class="Button_button__2_6-I Button_lg__2Kv4b Button_block__39TGk SNSButtonList_kakaoButton__2lTDs SNSButtonList_spacer__38ac5"
                    type="button">
                    <span
                      ><span class="Button_children__weH0H"
                        ><svg
                          viewBox="0 0 32 32"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__1YH1P SNSButtonList_kakaoIcon__1s6gw"
                          aria-hidden="true">
                          <path
                            d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"></path></svg
                        >구글로 시작하기</span
                      ></span
                    ></button>
                  <button
                          id="kakaoBtn"
                          class="Button_button__2_6-I Button_lg__2Kv4b Button_block__39TGk SNSButtonList_kakaoButton__2lTDs SNSButtonList_spacer__38ac5"
                          type="button">
                    <span
                    ><span class="Button_children__weH0H"
                    ><svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__1YH1P SNSButtonList_kakaoIcon__1s6gw"
                            aria-hidden="true">
                          <path
                                  d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"></path></svg
                    >카카오로 시작하기</span
                    ></span
                    ></button>
                </div>
              </div>
            </div>
            <div class="bottom-message">
              <p>
                아직 와디즈 계정이 없나요?<a
                  href="/web/account/registIntro"
                  data-return-url=""
                  data-event="iam.signin.goto.signup"
                  >회원가입</a>
              </p>
            </div>
          </div>
        </div>
      </main>

      <!-- S : 페이지별 스크립트 -->
    </div>
    <div id="wadiz-app-banner"></div>


    <style>
      .ab-iam-root.v3 {
        z-index: 9999;
      }
    </style>


    <div id="wadiz-waffle-toast-container-component">
      <div class="ToastContainer_container__p_SnS">
        <div id="toastBody" style="display: none" class="Toast_container__3wFZ1 Toast_show__1hB86 Toast_warning__3tC0i">
          <div class="Toast_content__2jYtA Toast_warning__3tC0i" id="toastText"></div>
        </div>
      </div>
    </div>

    <th:block th:if="${error}">
      <input type="hidden" th:value="${error}" th:id="errorMsg">
    </th:block>
    <script src="/js/toast.js"></script>
  <script>
    $(document).ready(function(){

      $('#googleBtn').click(function(e){
        e.preventDefault();
        location.href="/oauth2/authorization/google";
      })
      $('#kakaoBtn').click(function(e){
        e.preventDefault();
        // location.href = "/oauth2/authorization/kakao";
        location.href="/oauth2/authorization/kakao"
      })

      $('#btnLogin').click(function(e){
        e.preventDefault();
        let email = $('#userName').val();
        let password = $('#password').val();
        $.ajax({
          url: "/api/account/login",
          method: "POST",
          data: JSON.stringify({email, password}),
          dataType : 'json',
          contentType: 'application/json',
          success : function(data){
            console.log(data);
            $.cookie('accessToken', data['accessToken'], {expires: 1, path: '/'});
            $.cookie('refreshToken', data['refreshToken'], {expires: 7, path: '/'});
            location.href="/web/funding";
          }, error : function(request,status,error){
            showToast("이메일, 비밀번호를 다시 확인해주세요");
            // console.log("==========",request.status, request.responseText, error);
          }
        })
        // $('#frm_login').submit();
      })
    })

  </script>
  </body>
</html>
