<html lang="ko" class="" translate="no"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <title>더쉐프 로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
     <script src="/js/toast.js"></script>
     <link
         rel="stylesheet"
         href="/import/css/reward-product.cfd21a1c.css">

    <link href="/css/account/login.css" />
    <link
      rel="shortcut icon"
      href="/images/favicon.ico" />

    <link
      rel="stylesheet"
      href="/import/css/wui.css" />
      <link
      rel="stylesheet"
      href="/import/css/layout.css" />

    <link
      rel="stylesheet"
      href="/import/css/main.d8e939d6.css" />

    <link
      rel="stylesheet"
      href="/import/css/main.b3728ebd.css" />

       <link
      rel="stylesheet"
      type="text/css"
      href="/import/css/7.e895ad47.chunk.css" />

    </head>
  <body>
    <div id="page-container">
      <div class="black-bg-wrap" style="display: none"></div>

      <div th:replace="fragment/header_simple.html :: header_simple"></div>

      <form id="forwardForm" method="get">
        <input type="hidden" id="returnURL" name="returnURL" />
      </form>
      <input type="hidden" id="sessionLoginCheck" value="false" />

      <main class="account-intro-login">
        <div class="user-sign-container">
          <div class="wz container form-container form-login">
            <h2 class="wz text display2">로그인</h2>
            <form name="frm_login" id="frm_login"  class="wz form" method="post">
              <div class="field">
                <div class="wz input">
                  <input
                    type="email"
                    id="userName"
                    name="username"
                    class="input-text"
                    placeholder="이메일 입력"
                    title="이메일 입력" />
                </div>
                <em id="emailError" class="error-text helper error"
                  >이메일 형식이 올바르지 않습니다.</em
                >
              </div>
              <div class="field">
                <div class="wz input">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="input-text"
                    maxlength="20"
                    placeholder="비밀번호 입력"
                    title="비밀번호 입력" />
                </div>
                <p id="loginError" class="error-text helper error">
                  와디즈에 등록되지 않은 아이디거나, 아이디 또는 비밀번호가
                  회원정보와 일치하지 않습니다.
                </p>
              </div>
              <button
                type="button"
                id="btnLogin"
                class="wz button primary block submit-button"
                >
                로그인
              </button>
            </form>
            <div id="iam-account-app">
              <div>
                <div>
                  <button style="background-color: white; border-color: gray"
                    id="googleBtn"
                    class="Button_button__2_6-I Button_lg__2Kv4b Button_block__39TGk SNSButtonList_kakaoButton__2lTDs SNSButtonList_spacer__38ac5"
                    type="button">
                    <span class="Button_children__weH0H" style="width: 100%">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <defs><path id="a" d="M0 0h348v46H0z"></path></defs>
                        <g fill="none" fill-rule="evenodd"><g transform="translate(-16 -13)"><use></use><path stroke="#DADCE0" d="M-.5-.5h349v47H-.5z"></path></g><path fill="#4285F4" d="M18.64 10.205c0-.639-.057-1.252-.164-1.841H10v3.481h4.844a4.14 4.14 0 0 1-1.796 2.716v2.259h2.908c1.702-1.567 2.684-3.875 2.684-6.615z"></path><path fill="#34A853" d="M10 19c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711H1.957v2.332A8.997 8.997 0 0 0 10 19z"></path><path fill="#FBBC05" d="M4.964 11.71A5.41 5.41 0 0 1 4.682 10c0-.593.102-1.17.282-1.71V5.958H1.957A8.996 8.996 0 0 0 1 10c0 1.452.348 2.827.957 4.042l3.007-2.332z"></path><path fill="#EA4335" d="M10 4.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C14.463 1.891 12.426 1 10 1a8.997 8.997 0 0 0-8.043 4.958L4.964 8.29C5.672 6.163 7.656 4.58 10 4.58z"></path><path d="M0 0h20v20H0z"></path></g>
                      </svg>
                      <div style="width: 100%">구글로 시작하기</div>

                    </span>
                  </button>
                  <button
                          id="kakaoBtn"
                          class="Button_button__2_6-I Button_lg__2Kv4b Button_block__39TGk SNSButtonList_kakaoButton__2lTDs SNSButtonList_spacer__38ac5"
                          type="button">
                    <span
                    ><span class="Button_children__weH0H"
                    ><svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__1YH1P SNSButtonList_kakaoIcon__1s6gw"
                            aria-hidden="true">
                          <path
                                  d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"></path></svg
                    >카카오로 시작하기</span
                    ></span
                    ></button>
                </div>
              </div>
            </div>
            <div class="bottom-message">
              <p>
                아직 더쉐프 계정이 없나요?<a
                  href="/web/account/registIntro"
                  data-return-url=""
                  data-event="iam.signin.goto.signup"
                  >회원가입</a>
              </p>
            </div>
          </div>
        </div>
      </main>

      <!-- S : 페이지별 스크립트 -->
    </div>
    <div id="wadiz-app-banner"></div>


    <style>
      .ab-iam-root.v3 {
        z-index: 9999;
      }
    </style>


    <div id="wadiz-waffle-toast-container-component">
      <div class="ToastContainer_container__p_SnS">
        <div id="toastBody" style="display: none" class="Toast_container__3wFZ1 Toast_show__1hB86 Toast_warning__3tC0i">
          <div class="Toast_content__2jYtA Toast_warning__3tC0i" id="toastText"></div>
        </div>
      </div>
    </div>

    <th:block th:if="${error}">
      <input type="hidden" th:value="${error}" th:id="errorMsg">
    </th:block>
    <script src="/js/toast.js"></script>
  <script>
    $(document).ready(function(){

      $('#googleBtn').click(function(e){
        e.preventDefault();
        location.href="/oauth2/authorization/google";
      })
      $('#kakaoBtn').click(function(e){
        e.preventDefault();
        location.href="/oauth2/authorization/kakao"
      })

      $('#btnLogin').click(function(e){
        e.preventDefault();
        let email = $('#userName').val();
        let password = $('#password').val();
        $.ajax({
          url: "/api/account/login",
          method: "POST",
          data: JSON.stringify({email, password}),
          dataType : 'json',
          contentType: 'application/json',
          success : function(data){
            console.log(data);
            $.cookie('accessToken', data['accessToken'], {expires: 1, path: '/'});
            $.cookie('refreshToken', data['refreshToken'], {expires: 7, path: '/'});
            location.href=data['prevPage'];
          }, error : function(request,status,error){
            showToast("이메일, 비밀번호를 다시 확인해주세요");
            // console.log("==========",request.status, request.responseText, error);
          }
        })
        // $('#frm_login').submit();
      })
    })

  </script>
  </body>
</html>
