<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="ko" class="" translate="no">
  <head>
    <style>
      .async-hide {
        opacity: 0 !important;
      }
    </style>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover" />
    <meta
      name="description"
      content="테크, 패션, 푸드, 뷰티, 홈리빙까지. 와디즈 펀딩으로 매일 새로운 일상을 발견하고, 와디즈 스토어에서 새로운 쇼핑을 만나보세요." />
      <title>와디즈 회원가입</title>
    <link href="/css/account/regist_complete.css"/>
    <link
      rel="shortcut icon"
      href="https://static.wadiz.kr/assets/icon/favicon.ico" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-16x16.png"
      sizes="16x16"
      type="image/png" />
    <link
      rel="icon"
      href="https://static.wadiz.kr/assets/icon/favicon-32x32.png"
      sizes="32x32"
      type="image/png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.weglot.com/weglot.min.css?v=4" />

    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/wui.css?cb9a5d5c" />
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/css/vendor.6b6b0127.chunk.css" />
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/common.css?d165b488" />
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/web/layout.css?0b839e26" />
    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/polyfill.js?77e7221d"></script>
    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/wui.js?4163c47c"></script>
    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/vendor.js?e91df577"></script>

    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/common.js?87db9043"></script>
    <script
      type="text/javascript"
      src="https://static.wadiz.kr/static/web/layout.js?8a28804b"></script>

    <link
      href="https://cdn.wadiz.kr/resources/static/css/wlayout.css?v=201803151400"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/account/main.d8e939d6.css" />

    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/iam/main.b3728ebd.css" />

    <script
      type="text/javascript"
      src="https://cdn.wadiz.kr/resources/static/js/wMotion.js?v=20190222"></script>
    <link
      rel="stylesheet"
      href="https://static.wadiz.kr/static/floating-buttons/main.5e88b41b.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/static/iam/css/3.9a387464.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/static/iam/js/3.b4ad76c2.chunk.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.wadiz.kr/static/iam/css/4.f1b1f583.chunk.css" />
    <script
      charset="utf-8"
      src="https://static.wadiz.kr/static/iam/js/4.23b79d87.chunk.js"></script>
  </head>
  <body>
    <div id="page-container">
      <div class="black-bg-wrap" style="display: none"></div>

      <div id="wz-header">
        <div class="web-header">
          <div class="web-header-large">
            <header class="header-wrapper web-header-simple">
              <div class="header-container">
                <h1 class="wadiz-logo">
                  <a href="/"
                    ><span class="label">와디즈</span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="85"
                      height="25"
                      viewBox="0 0 85 25">
                      <path
                        fill="#1D2129"
                        fill-rule="nonzero"
                        d="M58.49 2.23h2.11v21.29H59a1.73 1.73 0 0 1-1.62-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29 7.65 7.65 0 0 1 12.79-5.07V4.23a2 2 0 0 1 2-2zm-6.3 18.62a4.36 4.36 0 0 0 4.16-4.52 4.19 4.19 0 1 0-8.35 0 4.36 4.36 0 0 0 4.19 4.52zM42 23.52h-1.52a1.73 1.73 0 0 1-1.64-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29A7.65 7.65 0 0 1 38 10.72a2 2 0 0 1 1.9-1.79H42v14.59zm-8.41-2.67h.02a4.35 4.35 0 0 0 4.15-4.52 4.35 4.35 0 0 0-4.17-4.51 4.35 4.35 0 0 0-4.17 4.51 4.36 4.36 0 0 0 4.17 4.52zM83.47 8.94v2.11l-7.07 9.06h7.06v3.47h-13v-2.1l7.08-9.07h-6.62v-1.47a2 2 0 0 1 2-2h10.55zM65.86 7.3a2.48 2.48 0 1 1 0-4.96 2.48 2.48 0 0 1 0 4.96zM21.21 8.94h4.14l-4.86 14.59h-4.15l-3.21-9.36-3.21 9.36H5.77L.92 8.94h4.13L8 18l2.5-7.74a2 2 0 0 1 1.86-1.34h2.9l3 9.08 2.95-9.06zm42.65 14.59l-.04-12.59a2 2 0 0 1 2-2h2.11v14.59h-4.07z"></path></svg
                  ></a>
                </h1>
                <div class="PreviewOverlay_container__3Q3h2">
                  <svg
                    viewBox="0 0 40 40"
                    focusable="false"
                    role="presentation"
                    class="withIcon_icon__1ao4d"
                    aria-hidden="true"
                    style="width: 24px; height: 24px">
                    <path fill="none" d="M0 0h40v40H0z"></path>
                    <path
                      d="M38 6.06H2V31h11.8v3.88h12.4V31H38zm-2.12 22.85H4.12V8.14h31.76z"></path>
                  </svg>
                  <p class="PreviewOverlay_title__21y5H">미리보기 모드</p>
                  <p class="PreviewOverlay_description__2ihG6">
                    저장한 내용을 미리 볼 수 있어요.
                  </p>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>

      <form id="forwardForm" method="get">
        <input type="hidden" id="returnURL" name="returnURL" />
      </form>
      <input type="hidden" id="sessionLoginCheck" value="true" />

      <main id="iam-account-app">
        <div class="AccountContainer_container__PwFiE">
          <h2 class="SignUpFinishApp_title__1sY8B">
            <span><span th:text="${name}">name</span> 서포터 님<br />가입을 축하드려요</span>
          </h2>
          <div
            class="banner_eventBanner__3MhKw SignUpFinishApp_eventBanner__2hrYY banner_fullEventBanner__3qbO0"
            style="height: 94px">
            <a
              href="https://www.wadiz.kr/web/wevent/wadiz_welcomecoupon?isWadizApp=N&amp;_refer_section_st=MUE_1"
              class="banner_link__1svGx"
              data-promo-id="https://www.wadiz.kr/web/wevent/wadiz_welcomecoupon?isWadizApp=N&amp;_refer_section_st=MUE_1"
              data-promo-name=""
              ><div class="banner_inner__1OV0_">
                <div
                  class="banner_contents__3RODg"
                  style="
                    background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0210/20230210183426758_6614.jpg');
                  ">
                  <div class="banner_text__1r2hq">
                    <p></p>
                    <strong></strong>
                  </div>
                </div></div
            ></a>
          </div>
          <div
            class="SignUpPromotionApplication_signUpPromotionContainer__2K_22">
            <h3 class="SignUpPromotionApplication_fieldTitle__2wkni">
              프로모션 코드 입력 <span>(선택)</span>
            </h3>
            <p class="SignUpPromotionApplication_fieldDescription__BEhs9">
              참여하실 프로모션에 안내된 코드를 입력해 주세요<br />(프로모션은
              하나만 참여 가능합니다)
            </p>
            <div class="SignUpPromotionApplication_inputField__1PdZ1">
              <input
                name="promotionCode"
                placeholder="신규가입 프로모션 코드"
                type="text"
                class="Input_input__2J70Z Input_lg__3xgjy"
                aria-invalid="false"
                value="" /><button
                class="Button_button__2_6-I Button_primary__3fUP6 Button_contained__1T9Np Button_lg__2Kv4b Button_disabled__3zWNw"
                type="button"
                disabled="">
                <span
                  ><span class="Button_children__weH0H">참여하기</span></span
                >
              </button>
            </div>
          </div>
          <div class="SignUpFinishApp_nextStepGuide__3Ibvh">
            <button
              id="loginPageBtn"
              class="Button_button__2_6-I Button_primary__3fUP6 Button_contained__1T9Np Button_lg__2Kv4b Button_block__39TGk"
              type="button">
              <span
                ><span class="Button_children__weH0H"
                  >로그인 페이지로 이동하기</span
                ></span
              ></button
            ><a
              href="/web"
              class="Button_button__2_6-I Button_primary__3fUP6 Button_lg__2Kv4b Button_block__39TGk SignUpFinishApp_spacing__1va1t"
              ><span
                ><span class="Button_children__weH0H"
                  >홈 화면으로 바로가기</span
                ></span
              ></a
            >
          </div>
        </div>
      </main>
    </div>
    <div id="wadiz-app-banner"></div>

    <script
      type="text/javascript"
      src="https://static.wadiz.kr/account/vendor.c434a9c8.js"></script>

    <div id="floating-buttons-app">
      <div class="FloatingButtons_container__2VDUa">
        <button
          type="button"
          class="FloatingTopButton_pageTop__2vt6t"
          title="위로 이동">
          <svg
            viewBox="0 0 40 40"
            focusable="false"
            role="presentation"
            class="withIcon_icon__24D_5"
            aria-hidden="true">
            <path
              d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
          </svg></button
        ><button
          type="button"
          data-ga-category="공통_최근본_UI"
          data-ga-action="클릭"
          data-ga-label=""
          class="RecentView_container__5Nxua"
          aria-label="최근본"
          style="display: none">
          <div
            aria-hidden="true"
            class="RecentView_thumbnail__107ZW CardThumbnail_thumbnail__sw2ym CardThumbnail_noanimation__3qJay"></div>
        </button>
      </div>
    </div>
    <script
      type="text/javascript"
      async=""
      src="https://static.wadiz.kr/static/floating-buttons/main.fabf866c.js"></script>

    <div id="wp_tg_cts" style="display: none">
      <script
        id="wp_tag_script_1677161382709"
        charset="UTF-8"
        src="https://astg.widerplanet.com/delivery/wpc.php?v=1&amp;ver=4.0&amp;r=1&amp;md=bs&amp;ga=1hveoin-efl057-2-1&amp;wp_uid=2-d6ea226554f78a59a502a9de442e30a7-s1675383217.534000%7Cmac_osx%7Cchrome-bbrpyn&amp;ty=Home&amp;ti=31167&amp;device=web&amp;charset=UTF-8&amp;tc=1677161382709&amp;ref=https%3A%2F%2Fwww.wadiz.kr%2Fweb%2Fwaccount%2FwAccountRegistIntro&amp;loc=https%3A%2F%2Fwww.wadiz.kr%2Fweb%2Fwaccount%2FwAccountRegistFinish"></script>
      <script
        id="wp_onsite_script"
        charset="UTF-8"
        src="https://cdn-aitg.widerplanet.com/onsite/onsite.js"></script>
    </div>

    <div id="adn_container" style="display: none"></div>

    <div class="ReactModalPortal"></div>
  <script>
    $(document).ready(function(){
      $('#loginPageBtn').click(function(){
        location.href="/web/account/login";
      })
    })
  </script>
  </body>
</html>
